<statements>
	<statement type="stored" name="PACK_NEWALEA_TARIFICACION.P_INSERT_ZWMPOLIREC" id="pinsertZWMPOLIREC">
		<param eval="true" name="pi_NMSITUAC" type="NUMERIC">$!params.get("pi_NMSITUAC")</param>
		<param eval="true" name="pi_NMSUPLEM" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
		<param eval="true" name="pi_STATUS" type="VARCHAR">$!params.get("pi_STATUS")</param>
		<param eval="true" name="pi_CDGARANT" type="VARCHAR">$!params.get("pi_CDGARANT")</param>
		<param eval="true" name="pi_CDTIPCON" type="VARCHAR">$!params.get("pi_CDTIPCON")</param>
		<param eval="true" name="pi_CDCONTAR" type="VARCHAR">$!params.get("pi_CDCONTAR")</param>
		<param eval="true" name="pi_NMIMPORT" type="NUMERIC">$!params.get("pi_NMIMPORT")</param>
		<param eval="true" name="pi_CDAGRUPA" type="NUMERIC">$!params.get("pi_CDAGRUPA")</param>
		<param eval="true" name="pi_PTIMPTRG" type="NUMERIC">$!params.get("pi_PTIMPTRG")</param>
		<param eval="true" name="pi_NMCICLO" type="NUMERIC">$!params.get("pi_NMCICLO")</param>
		<param eval="true" name="pi_PORCDCTO" type="NUMERIC">$!params.get("pi_PORCDCTO")</param>
		<param eval="true" name="pi_PTIMPDESC" type="NUMERIC">$!params.get("pi_PTIMPDESC")</param>
		<param eval="true" name="pi_PTIMPORT" type="NUMERIC">$!params.get("pi_PTIMPORT")</param>
		<param eval="true" name="pi_SWPCTALC" type="VARCHAR">$!params.get("pi_SWPCTALC")</param>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
