<statements>
	<statement type="stored" name="PACK_NEWALEA_TARIFICACION.P_PREVIO_ALEAJSUP" id="pprevioALEAJSUP">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_NMSUPLEM" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
		<param eval="true" name="pi_NMSUPMIN" type="VARCHAR">$!params.get("pi_NMSUPMIN")</param>
		<param eval="true" name="pi_NSUPLOGI" type="NUMERIC">$!params.get("pi_NSUPLOGI")</param>
		<param eval="true" name="pi_FECHA" type="DATE">$!params.get("pi_FECHA")</param>
		<param eval="true" name="pi_FEFINVAL" type="DATE">$!params.get("pi_FEFINVAL")</param>
		<param eval="true" name="pi_CDTIPSUP" type="NUMERIC">$!params.get("pi_CDTIPSUP")</param>
		<param eval="true" name="pi_CDPERPAG" type="NUMERIC">$!params.get("pi_CDPERPAG")</param>
		<param eval="true" name="pi_CDTIPREN" type="NUMERIC">$!params.get("pi_CDTIPREN")</param>
		<param eval="true" name="pi_RECACT" type="NUMERIC">$!params.get("pi_RECACT")</param>
		<param eval="true" name="pi_RECANT" type="NUMERIC">$!params.get("pi_RECANT")</param>
		<param eval="true" name="pi_SWRECEXT" type="VARCHAR">$!params.get("pi_SWRECEXT")</param>
		<param eval="true" name="pi_NSUPLREC" type="VARCHAR">$!params.get("pi_NSUPLREC")</param>
		<param eval="true" name="pi_FEINIREC" type="DATE">$!params.get("pi_FEINIREC")</param>
		<param eval="true" name="pi_FEFINREC" type="DATE">$!params.get("pi_FEFINREC")</param>
		<param eval="true" name="pi_PRORRATA" type="NUMERIC">$!params.get("pi_PRORRATA")</param>
		<param eval="true" name="pi_MAXRND" type="NUMERIC">$!params.get("pi_MAXRND")</param>
		<param eval="true" name="pi_TIPORECI" type="VARCHAR">$!params.get("pi_TIPORECI")</param>
		<param eval="true" name="pi_MAXREC" type="NUMERIC">$!params.get("pi_MAXREC")</param>
       <inoutparam eval="true" name="p_NMRECIBO" id="p_NMRECIBO" type="NUMERIC">$!params.get("p_NMRECIBO")</inoutparam>
		<outparam id="po_ALEAJSUP" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
