<statements>
 #foreach( $vo in $params.lista )
 
	<statement type="stored" name="PACK_NEWALEA_ACTUALIZA_DATOS.P_MOV_TVALOPOL" id="actmovTVALOPOL">
		<inoutparam eval="true" name="Gv_Identificador_Error" id="Gv_Identificador_Error" type="VARCHAR">$params.p_ERROR</inoutparam>
		<param eval="true" name="Gn_CdUnieco" type="NUMERIC">$!params.pi_CDUNIECO</param>
		<param eval="true" name="Gn_CdRamo" type="NUMERIC">$!params.pi_CDRAMO</param>
		<param eval="true" name="Gv_ESTADO" type="VARCHAR">$!params.pi_ESTADO</param>
		<param eval="true" name="Gn_NmPoliza" type="NUMERIC">$!params.pi_NMPOLIZA</param>
		<param eval="true" name="Gn_CdAtribu" type="NUMERIC">$!vo.cdAtribu</param>
		<param eval="true" name="Gn_NmSuplem" type="VARCHAR">$!params.pi_NMSUPLEM</param>
		<param eval="true" name="Gv_Otvalor_New" type="VARCHAR">$!vo.otValor</param>
		<param eval="true" name="Gv_Otvalor_Old" type="VARCHAR">$!vo.otValorOld</param>
		<param eval="true" name="Gv_Status_Registro" type="VARCHAR">$!vo.status</param>
	</statement>
	#end
</statements>
