<statements>
	<statement type="stored" name="PACK_NEWALEA_ACTUALIZA_DATOS.P_MOV_MSUPLEME" id="actmovMSUPLEME">
       <inoutparam eval="true" name="Gv_Identificador_Error" id="Gv_Identificador_Error" type="VARCHAR">$!params.get("p_ERROR")</inoutparam>
  		<param eval="true" name="Gn_CdUnieco" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="Gn_CdRamo" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="Gv_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="Gn_NmPoliza" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="Gn_NmSuplem" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
		<param eval="true" name="Gd_Feinival" type="DATE">$!params.get("pi_FEINIVAL")</param>
		<param eval="true" name="Gd_Fefinval" type="DATE">$!params.get("pi_FEFINVAL")</param>
		<param eval="true" name="Gv_Swanula" type="VARCHAR">$!params.get("pi_SWANULA")</param>
		<param eval="true" name="Gn_Nsuplogi" type="NUMERIC">$!params.get("pi_NSUPLOGI")</param>
		<param eval="true" name="Gn_Nsupusua" type="NUMERIC">$!params.get("pi_NSUPUSUA")</param>
		<param eval="true" name="Gn_Nsupsess" type="NUMERIC">$!params.get("pi_NSUPSESS")</param>
		<param eval="true" name="Gd_Fesessio" type="DATE">$!params.get("pi_FESESSIO")</param>
		<param eval="true" name="Gv_ModoAcceso" type="VARCHAR">$!params.get("pi_ACCION")</param>
	</statement>
</statements>
