<statements>
	<statement type="stored" name="PACK_NEWALEA_ACTUALIZA_DATOS.P_MOV_MORDTRAB" id="actmovMORDTRAB">
       <inoutparam eval="true" name="Gv_Identificador_Error" id="Gv_Identificador_Error" type="VARCHAR">$params.get("p_ERROR")</inoutparam>
		<param eval="true" name="Gn_Nmoperac" type="NUMERIC">$!params.get("pi_NMOPERAC")</param>
		<param eval="true" name="Gv_Ordtrab" type="VARCHAR">$!params.get("pi_NMORDTRAB")</param>
		<param eval="true" name="Gv_Cdagente" type="VARCHAR">$!params.get("pi_CDAGENTE")</param>
		<param eval="true" name="Gn_CdUnieco" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="Gn_CdRamo" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="Gv_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="Gn_NmPoliza" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="Gv_Cdestado" type="VARCHAR">$!params.get("pi_CDESTADO")</param>
		<param eval="true" name="Gv_Cdtipsup" type="VARCHAR">$!params.get("pi_CDTIPSUP")</param>
	</statement>
</statements>
