<statements>
    
    #foreach( $item in $params.itemList )

	<statement type="stored" name="PKG_SATELITES.P_MOV_TVALOSIT" id="actmovTVALOSIT">
	   	
		#*<inoutparam eval="true" name="Gv_Identificador_Error" id="Gv_Identificador_Error" type="VARCHAR">$params.get("p_ERROR")</inoutparam>*#
		
		<param eval="true" name="pv_cdunieco" type="NUMERIC">$!params.get("pv_cdunieco")</param>
		<param eval="true" name="pv_cdramo" type="NUMERIC">$!params.get("pv_cdramo")</param>
		<param eval="true" name="pv_estado" type="VARCHAR">$!params.get("pv_estado")</param>
		<param eval="true" name="pv_nmpoliza" type="NUMERIC">$!params.get("pv_nmpoliza")</param>
		<param eval="true" name="pv_nmsituac" type="NUMERIC">$!params.get("pv_nmsituac")</param>
		<param eval="true" name="pv_nmsuplem" type="VARCHAR">$!params.get("pv_nmsuplem")</param>
		
		<param eval="true" name="pv_status" type="VARCHAR">V</param>
		
		<param eval="true" name="pv_cdtipsit" type="VARCHAR">$!params.get("pv_cdtipsit")</param>
		<param eval="true" name="pv_otvalor01" type="VARCHAR">$!item.otValor01</param>
		<param eval="true" name="pv_otvalor02" type="VARCHAR">$!item.otValor02</param>
		<param eval="true" name="pv_otvalor03" type="VARCHAR">$!item.otValor03</param>
		<param eval="true" name="pv_otvalor04" type="VARCHAR">$!item.otValor04</param>
		<param eval="true" name="pv_otvalor05" type="VARCHAR">$!item.otValor05</param>
		<param eval="true" name="pv_otvalor06" type="VARCHAR">$!item.otValor06</param>
		<param eval="true" name="pv_otvalor07" type="VARCHAR">$!item.otValor07</param>
		<param eval="true" name="pv_otvalor08" type="VARCHAR">$!item.otValor08</param>
		<param eval="true" name="pv_otvalor09" type="VARCHAR">$!item.otValor09</param>
		<param eval="true" name="pv_otvalor10" type="VARCHAR">$!item.otValor10</param>
		<param eval="true" name="pv_otvalor11" type="VARCHAR">$!item.otValor11</param>
		<param eval="true" name="pv_otvalor12" type="VARCHAR">$!item.otValor12</param>
		<param eval="true" name="pv_otvalor13" type="VARCHAR">$!item.otValor13</param>
		<param eval="true" name="pv_otvalor14" type="VARCHAR">$!item.otValor14</param>
		<param eval="true" name="pv_otvalor15" type="VARCHAR">$!item.otValor15</param>
		<param eval="true" name="pv_otvalor16" type="VARCHAR">$!item.otValor16</param>
		<param eval="true" name="pv_otvalor17" type="VARCHAR">$!item.otValor17</param>
		<param eval="true" name="pv_otvalor18" type="VARCHAR">$!item.otValor18</param>
		<param eval="true" name="pv_otvalor19" type="VARCHAR">$!item.otValor19</param>
		<param eval="true" name="pv_otvalor20" type="VARCHAR">$!item.otValor20</param>
		<param eval="true" name="pv_otvalor21" type="VARCHAR">$!item.otValor21</param>
		<param eval="true" name="pv_otvalor22" type="VARCHAR">$!item.otValor22</param>
		<param eval="true" name="pv_otvalor23" type="VARCHAR">$!item.otValor23</param>
		<param eval="true" name="pv_otvalor24" type="VARCHAR">$!item.otValor24</param>
		<param eval="true" name="pv_otvalor25" type="VARCHAR">$!item.otValor25</param>
		<param eval="true" name="pv_otvalor26" type="VARCHAR">$!item.otValor26</param>
		<param eval="true" name="pv_otvalor27" type="VARCHAR">$!item.otValor27</param>
		<param eval="true" name="pv_otvalor28" type="VARCHAR">$!item.otValor28</param>
		<param eval="true" name="pv_otvalor29" type="VARCHAR">$!item.otValor29</param>
		<param eval="true" name="pv_otvalor30" type="VARCHAR">$!item.otValor30</param>
		<param eval="true" name="pv_otvalor31" type="VARCHAR">$!item.otValor31</param>
		<param eval="true" name="pv_otvalor32" type="VARCHAR">$!item.otValor32</param>
		<param eval="true" name="pv_otvalor33" type="VARCHAR">$!item.otValor33</param>
		<param eval="true" name="pv_otvalor34" type="VARCHAR">$!item.otValor34</param>
		<param eval="true" name="pv_otvalor35" type="VARCHAR">$!item.otValor35</param>
		<param eval="true" name="pv_otvalor36" type="VARCHAR">$!item.otValor36</param>
		<param eval="true" name="pv_otvalor37" type="VARCHAR">$!item.otValor37</param>
		<param eval="true" name="pv_otvalor38" type="VARCHAR">$!item.otValor38</param>
		<param eval="true" name="pv_otvalor39" type="VARCHAR">$!item.otValor39</param>
		<param eval="true" name="pv_otvalor40" type="VARCHAR">$!item.otValor40</param>
		<param eval="true" name="pv_otvalor41" type="VARCHAR">$!item.otValor41</param>
		<param eval="true" name="pv_otvalor42" type="VARCHAR">$!item.otValor42</param>
		<param eval="true" name="pv_otvalor43" type="VARCHAR">$!item.otValor43</param>
		<param eval="true" name="pv_otvalor44" type="VARCHAR">$!item.otValor44</param>
		<param eval="true" name="pv_otvalor45" type="VARCHAR">$!item.otValor45</param>
		<param eval="true" name="pv_otvalor46" type="VARCHAR">$!item.otValor46</param>
		<param eval="true" name="pv_otvalor47" type="VARCHAR">$!item.otValor47</param>
		<param eval="true" name="pv_otvalor48" type="VARCHAR">$!item.otValor48</param>
		<param eval="true" name="pv_otvalor49" type="VARCHAR">$!item.otValor49</param>
		<param eval="true" name="pv_otvalor50" type="VARCHAR">$!item.otValor50</param>
		  
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>		
		<outparam id="PV_TITLE_O" type="VARCHAR"/>
	   </statement>
	
	#end
</statements>
