<statements>
	<statement type="stored" name="PKG_SATELITES.P_MOV_MPOLISIT" id="actmovMPOLISIT">
  		<param eval="true" name="pv_cdunieco_i" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pv_estado_i" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pv_nmpoliza_i" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pv_nmsituac_i" type="NUMERIC">$!params.get("pi_NMSITUAC")</param>
		<param eval="true" name="pv_nmsuplem_i" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
		<param eval="true" name="pv_status_i" type="VARCHAR">$!params.get("pi_STATUS")</param>
		<param eval="true" name="pv_cdtipsit_i" type="VARCHAR">$!params.get("pi_CDTIPSIT")</param>
		<param eval="true" name="pv_swreduci_i" type="VARCHAR">$!params.get("pi_SWREDUCI")</param>
		<param eval="true" name="pv_cdagrupa_i" type="NUMERIC">$!params.get("pi_CDAGRUPA")</param>
		<param eval="true" name="pv_cdestado_i" type="NUMERIC">$!params.get("pi_CDESTADO")</param>
		<param eval="true" name="pv_fefecsit_i" type="VARCHAR">$!params.get("pi_FEFECSIT")</param>
		<param eval="true" name="pv_fecharef_i" type="VARCHAR">$!params.get("pi_FEFECSIT")</param>
		<param eval="true" name="pv_cdgrupo_i" type="VARCHAR"></param>
		<param eval="true" name="pv_nmsituaext_i" type="VARCHAR"></param>
		<param eval="true" name="pv_nmsitaux_i" type="NUMERIC"></param>
		<param eval="true" name="pv_nmsbsitext_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdplan_i" type="VARCHAR"><![CDATA[1]]></param>
		<param eval="true" name="pv_cdasegur_i" type="VARCHAR">$!params.get("pi_CDASEGUR")</param>
		<param eval="true" name="pv_accion_i" type="VARCHAR">$!params.get("pi_ACCION")</param>
		
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>