<statements>
	<statement type="stored" name="PACK_NEWALEA_ACTUALIZA_DATOS.P_ACT_MSUPCOA" id="actualizaMSUPCOA">
		<param eval="true" name="pi_CDCIALIDER" type="VARCHAR">$!params.get("pi_CDCIALIDER")</param>
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_NMPOLIZAL" type="VARCHAR">$!params.get("pi_NMPOLIZAL")</param>
		<param eval="true" name="pi_TIPODOCU" type="VARCHAR">$!params.get("pi_TIPODOCU")</param>
		<param eval="true" name="pi_NDOCLIDER" type="VARCHAR">$!params.get("pi_NDOCLIDER")</param>
		<param eval="true" name="pi_STATUS" type="VARCHAR">$!params.get("pi_STATUS")</param>
		<param eval="true" name="pi_ACCION" type="VARCHAR">$!params.get("pi_ACCION")</param>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
