<statements>
	<statement type="stored" name="PACK_NEWALEA_ACTUALIZA_DATOS.P_ACT_MPOLIOBJ" id="actualizaMPOLIOBJ">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_NMSUPLEM_SESION" type="VARCHAR">$!params.get("pi_NMSUPLEM_SESION")</param>
		<param eval="true" name="pi_NMSUPLEM_BLOQUE" type="VARCHAR">$!params.get("pi_NMSUPLEM_BLOQUE")</param>
		<param eval="true" name="pi_NMSITUAC" type="NUMERIC">$!params.get("pi_NMSITUAC")</param>
		<param eval="true" name="pi_PTOBJECT" type="NUMERIC">$!params.get("pi_PTOBJECT")</param>
		<param eval="true" name="pi_NMOBJETO" type="NUMERIC">$!params.get("pi_NMOBJETO")</param>
		<param eval="true" name="pi_DSOBJETO" type="VARCHAR">$!params.get("pi_DSOBJETO")</param>
		<param eval="true" name="pi_CDTIPOBJ" type="VARCHAR">$!params.get("pi_CDTIPOBJ")</param>
       <inoutparam eval="true" name="p_ROWID" id="p_ROWID" type="VARCHAR">$!params.get("p_ROWID")</inoutparam>
		<param eval="true" name="pi_MODOACCESO" type="VARCHAR">$!params.get("pi_MODOACCESO")</param>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
