<statements>
	<statement type="stored" name="PACK_NEWALEA_PENTRADA.P_GETDATOSPRODUCTO" id="getdatosproducto">
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<outparam id="po_DSRAMO" type="VARCHAR"/>
		<outparam id="po_SWCOASEG" type="VARCHAR"/>
		<outparam id="po_SWUNILIF" type="VARCHAR"/>
		<outparam id="po_SWDIVIDE" type="VARCHAR"/>
		<outparam id="po_SWCOLIND" type="VARCHAR"/>
		<outparam id="po_SWBEFINI" type="VARCHAR"/>
		<outparam id="po_SWREASEG" type="VARCHAR"/>
		<outparam id="po_CDTIPAGC" type="VARCHAR"/>
		<outparam id="po_CDROLTOM" type="VARCHAR"/>
		<outparam id="po_SWAGENTE" type="VARCHAR"/>
		<outparam id="po_SWUNLINK" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
