<statements>
	<statement type="stored" name="PACK_NEWALEA_PENTRADA.P_BLOQUEAR_POLIZA" id="pbloquearPoliza">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
       <inoutparam eval="true" name="p_NSUPLOGI" id="p_NSUPLOGI" type="NUMERIC">$!params.get("p_NSUPLOGI")</inoutparam>
       <inoutparam eval="true" name="p_CDTIPSUP" id="p_CDTIPSUP" type="NUMERIC">$!params.get("p_CDTIPSUP")</inoutparam>
       <inoutparam eval="true" name="p_OTTIPSUP" id="p_OTTIPSUP" type="VARCHAR">$!params.get("p_OTTIPSUP")</inoutparam>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
