<statements>
	<statement type="stored" name="PACK_NEWALEA_PENTRADA.P_COPIA_WORKING" id="pcopiaWorking">
		<param eval="true" name="pi_OTTIPSUP" type="VARCHAR">$params.get("pi_OTTIPSUP")</param>
		<param eval="true" name="pi_FEINIVAL" type="DATE">$params.get("pi_FEINIVAL")</param>
		<param eval="true" name="pi_HHINIVAL" type="VARCHAR">$params.get("pi_HHINIVAL")</param>
       <inoutparam eval="true" name="p_FECHA" id="p_FECHA" type="DATE">$params.get("p_FECHA")</inoutparam>
       <inoutparam eval="true" name="p_HORA" id="p_HORA" type="VARCHAR">$params.get("p_HORA")</inoutparam>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
