<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	 
  
	<bean id="CoberturaManager" class="mx.com.aon.catweb.configuracion.producto.service.impl.CoberturaManagerImpl">
 		<!-- property name="endpoints">
			<map>    
				<!  Datos de coberturas 
            	<entry key="OBTIENE_COBERTURAS">
            		<ref bean="OBTIENE_COBERTURAS"/>            
            	</entry>
        		<entry key="OBTIENE_CONDICION_COBERTURA">
            		<ref bean="OBTIENE_CONDICION_COBERTURA"/>            
            	</entry>
            	<entry key="OBTIENE_RAMO_COBERTURA">
            		<ref bean="OBTIENE_RAMO_COBERTURA"/>            
            	</entry>
            	<entry key="INSERTA_COBERTURA">
            		<ref bean="INSERTA_COBERTURA"/>            
            	</entry>
            	<entry key="OBTIENE_SUMA_ASEGURADA_COBERTURA">
            		<ref bean="OBTIENE_SUMA_ASEGURADA_COBERTURA"/>            
            	</entry>
            	<entry key="ASOCIA_COBERTURA">
            		<ref bean="ASOCIA_COBERTURA"/>            
            	</entry>
            	<entry key="OBTIENE_COBERTURA_ASOCIADA">
            		<ref bean="OBTIENE_COBERTURA_ASOCIADA"/>            
            	</entry>
            	
        	</map>
    	</property-->
	</bean>
		
</beans>