<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    
    <bean id="manttoManager" class="mx.com.aon.portal.service.impl.plan.ManttoManagerImpl">
		<property name="endpoints">
			<map>
				<entry key="OBTIENE_PLANES_MANTTO">
					<ref bean="OBTIENE_PLANES_MANTTO" />
				</entry>
				<entry key="OBTIENE_PRODUCTOS">
					<ref bean="OBTIENE_PRODUCTOS" />
				</entry>
				<entry key="INSERTA_PLAN">
					<ref bean="INSERTA_PLAN" />
				</entry>
				<entry key="EDITA_PLAN">
                    <ref bean="EDITA_PLAN" />
                </entry>
                <entry key="OBTIENE_PLAN">
                    <ref bean="OBTIENE_PLAN" />
                </entry>
                <entry key="COPIA_PLAN">
                	<ref bean="COPIA_PLAN"/>
                </entry>
                <entry key="BORRAR_PLAN">
					<ref bean="BORRAR_PLAN"/>                
                </entry>
			</map>
		</property>
	</bean>
</beans>