<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="ExpresionesManager" class="mx.com.aon.catweb.configuracion.producto.service.impl.ExpresionesManagerImpl" parent="abstractManagerJdbcTemplateInvoke">
 		<!-- property name="endpoints">
			<map>    
				<!  Datos de incisos >
				<!
            	<entry key="LISTA_TABLA">
            		<ref bean="LISTA_TABLA"/>            
            	</entry>
				
        		<entry key="LISTA_COLUMNA">
            		<ref bean="LISTA_COLUMNA"/>            
            	</entry>
            	<entry key="LISTA_CLAVE">
            		<ref bean="LISTA_CLAVE"/>            
            	</entry>
            	<entry key="INSERTAR_EXPRESION">
            		<ref bean="INSERTAR_EXPRESION"/>            
            	</entry>
            	<entry key="OBTIENE_SECUENCIA_EXPRESION">
            		<ref bean="OBTIENE_SECUENCIA_EXPRESION"/>            
            	</entry>
            	<entry key="INSERTAR_LISTA_VARIABLES">
            		<ref bean="INSERTAR_LISTA_VARIABLES"/>            
            	</entry>
            	<entry key="INSERTAR_LISTA_CLAVES">
            		<ref bean="INSERTAR_LISTA_CLAVES"/>            
            	</entry>
            	<entry key="ELIMINAR_VARIABLE_LOCAL_EXPRESION">
            		<ref bean="ELIMINAR_VARIABLE_LOCAL_EXPRESION"/>            
            	</entry>
            	<entry key="OBTIENE_EXPRESION">
            		<ref bean="OBTIENE_EXPRESION"/>            
            	</entry>
            	<entry key="OBTIENE_VARIABLE_EXPRESION">
            		<ref bean="OBTIENE_VARIABLE_EXPRESION"/>            
            	</entry>
            	<entry key="LISTA_FUNCIONES">
            		<ref bean="LISTA_FUNCIONES"/>            
            	</entry>
            	<entry key="LISTA_VARIABLES_TEMPORALES">
            		<ref bean="LISTA_VARIABLES_TEMPORALES"/>            
            	</entry>
            	<entry key="CLAVES_VARIABLE_LOCAL">
            		<ref bean="CLAVES_VARIABLE_LOCAL"/>            
            	</entry>
            	<entry key="VALIDA_EXPRESION">
            		<ref bean="VALIDA_EXPRESION"/>            
            	</entry>
        	</map>
    	</property-->
        <property name="abstractDAO">
            <ref bean="expresionesDAO"/>
        </property>
   	</bean>
   	
   	
</beans>