<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">  
    
     
    <bean id="ftpUtil" class="mx.com.aon.utils.FTPUtil">
    	<property name="abstractDAO">
                <ref bean="parametroGeneralDAO"/>
        </property>
    </bean>
    
	<bean id="mailUtil" class="mx.com.aon.utils.MailUtil">
		<property name="sender"><ref bean="mailSender"/></property>
		<property name="abstractDAO">
                <ref bean="parametroGeneralDAO"/>
        </property>
	</bean>
	
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	</bean>

	<bean id="alertaJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="alertasUsuarioManager" />
  		<property name="targetMethod" value="getAlertasEmail" />
	</bean>
    
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="alertaJobDetail"/>
 		<property name="startDelay" value="10000" />
     
    	<property name="repeatInterval" value="1000" />

	</bean>
    
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
        <list>
			<ref bean="cronTrigger" />
		</list>
		</property>
	</bean>
    
    
</beans>