<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="planesConfiguracionManager" class="mx.com.aon.catweb.configuracion.producto.planes.service.impl.PlanesConfiguracionManagerImpl"  parent="abstractManagerBean">
        <property name="endpoints">
            <map>                
                <entry key="OBTIENE_LISTA_PLANES_CONFIGURACION">
                    <ref bean="OBTIENE_LISTA_PLANES_CONFIGURACION" />
                </entry>
                
                <entry key="OBTIENE_LISTA_COBERTURAS_PLANES_CONFIGURACION">
                    <ref bean="OBTIENE_LISTA_COBERTURAS_PLANES_CONFIGURACION"/>
                </entry>
                
                <entry key="GUARDA_PLAN_CONFIGURACION">
                    <ref bean="GUARDA_PLAN_CONFIGURACION"/>
                </entry>
                <entry key="EDITA_PLAN">
                    <ref bean="EDITA_PLAN"/>
                </entry>
                <entry key="GUARDA_COBERTURA_PLAN_CONFIGURACION">
                    <ref bean="GUARDA_COBERTURA_PLAN_CONFIGURACION"/>
                </entry>
                <entry key="OBTIENE_LISTA_PLANES_RAMAS">
                    <ref bean="OBTIENE_LISTA_PLANES_RAMAS"/>
                </entry>
                <entry key="ELIMINA_PLAN">
                    <ref bean="ELIMINA_PLAN"/>
                </entry>
                <entry key="BORRAR_PLANPRO">
                    <ref bean="BORRAR_PLANPRO"/>
                </entry>
               
                <entry key="MODIFICA_COBERTURA_PLAN">
                    <ref bean="MODIFICA_COBERTURA_PLAN"/>    
                </entry>
               
                
            </map>
        </property>
    </bean>
</beans>