<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- 
	Dependencia agregada de servicio que exporta los datos a un objeto con el modelo
	para poder ser exportados
	-->
    <bean id="exportModel" class="mx.com.aon.export.impl.ExportModelImpl" scope="prototype">
        <!-- property name="endpoints">
            <map>
                <entry key="EXPORT_MENU_USUARIO"><ref bean="EXPORT_MENU_USUARIO"/></entry>
                <entry key="EXPORT_OPCIONES_MENU"><ref bean="EXPORT_OPCIONES_MENU"/></entry>
                <entry key="EXPORT_OPCIONES_CONFIGMENU"><ref bean="EXPORT_OPCIONES_CONFIGMENU"/></entry>
                <entry key="EXPORT_CONFIGURACIONES"><ref bean="EXPORT_CONFIGURACIONES"/></entry>
				<entry key="OBTIENE_POLIZAS_EXPORT"><ref bean="OBTIENE_POLIZAS_EXPORT"/></entry>
                <entry key="RENOVACION_OBTIENE_POLIZAS_RENOVADAS_EXPORTAR"><ref bean="RENOVACION_OBTIENE_POLIZAS_RENOVADAS_EXPORTAR"/></entry>
                <entry key="RENOVACION_OBTIENE_POLIZAS_EXPORTAR"><ref bean="RENOVACION_OBTIENE_POLIZAS_EXPORTAR"/></entry>
                <entry key="WF_EXPORT"><ref bean="WF_EXPORT"/></entry>
            </map>
        </property-->
    </bean>
	
	<!-- 
	Bean singleton el cual a partir de las dependencias agregadas extrae las instancias 
	para la exportacion dependiendo del formato dado por parametro
	-->
    <bean id="exportMediator" class="mx.com.aon.export.impl.ExportMediatorImpl" scope="singleton">
        <property name="export">
            <map>
            <entry key="PDF"><ref bean="exportViewPdf"/></entry>
            <entry key="CSV"><ref bean="exportViewCvs"/></entry>
            <entry key="XML"><ref bean="exportViewXml"/></entry>
            <!-- <entry key="DOM"><ref bean="exportViewDom"/></entry>  -->
            <entry key="TXT"><ref bean="exportViewTxt"/></entry>
            <entry key="XLS"><ref bean="exportViewXls"/></entry>
            <entry key="RTF"><ref bean="exportViewRtf"/></entry>
            <entry key="JPG"><ref bean="exportViewJpg"/></entry>
            </map>
        </property>
    </bean>

	<bean id="exportMediatorBO" class="mx.com.aon.export.impl.ExportMediatorImpl" scope="singleton">
        <property name="export">
            <map>
            <entry key="PDF"><ref bean="exportViewPdf"/></entry>
            <entry key="CSV"><ref bean="exportViewCvs"/></entry>
            <entry key="XML"><ref bean="exportViewXml"/></entry>
            <!-- <entry key="DOM"><ref bean="exportViewDom"/></entry>  -->
            <entry key="TXT"><ref bean="exportViewTxt"/></entry>
            <entry key="XLS"><ref bean="exportViewXls"/></entry>
            <entry key="RTF"><ref bean="exportViewRtf"/></entry>
            <entry key="JPG"><ref bean="exportViewJpg"/></entry>
            </map>
        </property>
    </bean>
	<!-- 
	Beans con las implementaciones de las vistas para la exportacion de datos
	-->
    <bean id="exportViewPdf" class="mx.com.aon.export.views.PdfView" scope="singleton"/>
    <bean id="exportViewXml" class="mx.com.aon.export.views.XmlView" scope="singleton"/>
    <bean id="exportViewCvs" class="mx.com.aon.export.views.CsvView" scope="singleton"/>
    <bean id="exportViewTxt" class="mx.com.aon.export.views.TxtView" scope="singleton"/>
    <bean id="exportViewXls" class="mx.com.aon.export.views.XlsView" scope="singleton"/>
    <bean id="exportViewJpg" class="mx.com.aon.export.views.JpgView" scope="singleton"/>
    <bean id="exportViewRtf" class="mx.com.aon.export.views.RtfView" scope="singleton"/>
    <!-- <bean id="exportViewDom" class="mx.com.aon.export.views.XmlDomView" scope="singleton"/>  -->

</beans>

