<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

     
   <bean id="beanFactoryStatic" class="mx.com.ice.kernel.utils.BeanFactoryStatic"/>
	
        
    <bean id="cacheDAO" class="mx.com.ice.kernel.cache.dao.CacheProductoDAO" >
        <!-- property name="endpoints">
            <map>
                <entry key="GENERA_DATOS_CALCULO_CAPLANE">
                    <ref bean="GENERA_DATOS_CALCULO_CAPLANE" />
                </entry>
                <entry key="GENERA_DATOS_CLAUS_ECONOMI">
                    <ref bean="GENERA_DATOS_CLAUS_ECONOMI" />
                </entry>
                <entry key="GENERA_DATOS_CLAVES_TAPOYO">
                    <ref bean="GENERA_DATOS_CLAVES_TAPOYO" />
                </entry>
                <entry key="GENERA_DATOS_COBERTURA">
                    <ref bean="GENERA_DATOS_COBERTURA" />
                </entry>
                <entry key="GENERA_DATOS_COBERTURAXRAMO">
                    <ref bean="GENERA_DATOS_COBERTURAXRAMO" />
                </entry>
                <entry key="GENERA_DATOS_COMPORT_CAMPOS">
                    <ref bean="GENERA_DATOS_COMPORT_CAMPOS" />
                </entry>
                <entry key="GENERA_DATOS_COMPORT_COBERT">
                    <ref bean="GENERA_DATOS_COMPORT_COBERT" />
                </entry>
                <entry key="GENERA_DATOS_COMPORT_INCISO">
                    <ref bean="GENERA_DATOS_COMPORT_INCISO" />
                </entry>
                <entry key="GENERA_DATOS_APORTACION_UNICAS">
                    <ref bean="GENERA_DATOS_APORTACION_UNICAS" />
                </entry>
                <entry key="GENERA_PARTICIPACION_BENEFICIO">
                    <ref bean="GENERA_PARTICIPACION_BENEFICIO" />
                </entry>
                <entry key="GENERA_DATOS_ANTICIPOS">
                    <ref bean="GENERA_DATOS_ANTICIPOS" />
                </entry>
                <entry key="GENERA_RESERVAS_MATEMATICAS">
                    <ref bean="GENERA_RESERVAS_MATEMATICAS" />
                </entry>
                 <entry key="GENERA_CONCEPTOS_VALORACION">
                    <ref bean="GENERA_CONCEPTOS_VALORACION" />
                </entry>
                <entry key="GENERA_DATOS_COMPORT_SASEG">
                    <ref bean="GENERA_DATOS_COMPORT_SASEG" />
                </entry>
                <entry key="GENERA_DATOS_COMPORT_SITUAC">
                    <ref bean="GENERA_DATOS_COMPORT_SITUAC" />
                </entry>
                <entry key="GENERA_DATOS_CONDECON_TRATADO">
                    <ref bean="GENERA_DATOS_CONDECON_TRATADO" />
                </entry>
                <entry key="GENERA_DATOS_CONDICIONES">
                    <ref bean="GENERA_DATOS_CONDICIONES" />
                </entry>
                <entry key="GENERA_DATOS_EXPRESIO_CUMULO">
                    <ref bean="GENERA_DATOS_EXPRESIO_CUMULO" />
                </entry>
                <entry key="GENERA_DATOS_EXPRESIO_RETENCIO">
                    <ref bean="GENERA_DATOS_EXPRESIO_RETENCIO" />
                </entry>
                <entry key="GENERA_DATOS_EXPRESIONES">
                    <ref bean="GENERA_DATOS_EXPRESIONES" />
                </entry>
                <entry key="GENERA_DATOS_GPLAN_PERIOCONT">
                    <ref bean="GENERA_DATOS_GPLAN_PERIOCONT" />
                </entry>
                <entry key="GENERA_DATOS_GPLAN_REASEGUR">
                    <ref bean="GENERA_DATOS_GPLAN_REASEGUR" />
                </entry>
                <entry key="GENERA_DATOS_IMPREASEG_GCOBERT">
                    <ref bean="GENERA_DATOS_IMPREASEG_GCOBERT" />
                </entry>
                <entry key="GENERA_DATOS_INS_PRODEXPRES">
                    <ref bean="GENERA_DATOS_INS_PRODEXPRES" />
                </entry>
                <entry key="GENERA_DATOS_MODELOS_DOCTOS">
                    <ref bean="GENERA_DATOS_MODELOS_DOCTOS" />
                </entry>
                <entry key="GENERA_DATOS_MOTIV_AUTORIZA">
                    <ref bean="GENERA_DATOS_MOTIV_AUTORIZA" />
                </entry>
                <entry key="GENERA_DATOS_OBTENER_BLOQUES">
                    <ref bean="GENERA_DATOS_OBTENER_BLOQUES" />
                </entry>
                
              
                <entry key="GENERA_DATOS_OBTFECHAVERSION">
                    <ref bean="GENERA_DATOS_OBTFECHAVERSION" />
                </entry>
                
                <entry key="GENERA_DATOS_PARAM_DOCTOS">
                    <ref bean="GENERA_DATOS_PARAM_DOCTOS" />
                </entry>
                <entry key="GENERA_DATOS_PERIODO">
                    <ref bean="GENERA_DATOS_PERIODO" />
                </entry>
                <entry key="GENERA_DATOS_TABLAS_APOYO">
                    <ref bean="GENERA_DATOS_TABLAS_APOYO" />
                </entry>
                <entry key="GENERA_DATOS_TIP_REVALORIZA">
                    <ref bean="GENERA_DATOS_TIP_REVALORIZA" />
                </entry>
                <entry key="GENERA_DATOS_VALATRI_COBERT">
                    <ref bean="GENERA_DATOS_VALATRI_COBERT" />
                </entry>
                <entry key="GENERA_DATOS_VALATRI_POLIZA">
                    <ref bean="GENERA_DATOS_VALATRI_POLIZA" />
                </entry>
                
              
                <entry key="P_VAL_PERSONAS_CONFIRMA">
                    <ref bean="P_VAL_PERSONAS_CONFIRMA" />
                </entry>
                
                
                <entry key="GENERA_DATOS_VALIDA_RAMO">
                    <ref bean="GENERA_DATOS_VALIDA_RAMO" />
                </entry>
                <entry key="GENERA_DATOS_VAR_GARANTIAS">
                    <ref bean="GENERA_DATOS_VAR_GARANTIAS" />
                </entry>
                <entry key="GENERA_DATOS_VAR_POLIZA">
                    <ref bean="GENERA_DATOS_VAR_POLIZA" />
                </entry>
                <entry key="GENERA_DATOS_VAR_ROLPERSON">
                    <ref bean="GENERA_DATOS_VAR_ROLPERSON" />
                </entry>
                <entry key="GENERA_DATOS_VAR_SITUACION">
                    <ref bean="GENERA_DATOS_VAR_SITUACION"/>
                </entry>
                <entry key="GENERA_DATOS_VAR_TEMPORAL">
                    <ref bean="GENERA_DATOS_VAR_TEMPORAL" />
                </entry>
                
             
                <entry key="P_GENERA_DATOS_TRAMOCLA">
                    <ref bean="P_GENERA_DATOS_TRAMOCLA" />
                </entry>
                
             
                <entry key="P_GET_ENDOSOB_BLOQUE">
                    <ref bean="P_GET_ENDOSOB_BLOQUE" />
                </entry>
                
             
                <entry key="P_GET_ENDOSOB_CAMPO">
                    <ref bean="P_GET_ENDOSOB_CAMPO" />
                </entry>
                
                <entry key="P_GET_LISTA_VARIABLE_TEMP">
                    <ref bean="P_GET_LISTA_VARIABLE_TEMP" />
                </entry>
                <entry key="P_GET_PROD_PANT_PROC_BLQ_SECC">
                    <ref bean="P_GET_PROD_PANT_PROC_BLQ_SECC" />
                </entry>
                <entry key="P_GET_PRODUCTOS">
                    <ref bean="P_GET_PRODUCTOS" />
                </entry>
                <entry key="P_GET_TATRINAL_CAMPOS">
                    <ref bean="P_GET_TATRINAL_CAMPOS" />
                </entry>
                <entry key="P_GRAL_TATRINAL">
                    <ref bean="P_GRAL_TATRINAL" />
                </entry>
                <entry key="P_GRAL_TATRINAL_Bloque">
                    <ref bean="P_GRAL_TATRINAL_Bloque" />
                </entry>
                <entry key="P_GRAL_TATRINAL_Garantia">
                    <ref bean="P_GRAL_TATRINAL_Garantia" />
                </entry>
                <entry key="P_GRAL_TATRINAL_Objeto">
                    <ref bean="P_GRAL_TATRINAL_Objeto" />
                </entry>
                <entry key="P_GRAL_TATRINAL_Pantallas">
                    <ref bean="P_GRAL_TATRINAL_Pantallas" />
                </entry>
                <entry key="P_GRAL_TATRINAL_Procesos">
                    <ref bean="P_GRAL_TATRINAL_Procesos" />
                </entry>
                <entry key="P_GRAL_TATRINAL_Seccion">
                    <ref bean="P_GRAL_TATRINAL_Seccion" />
                </entry>
                <entry key="P_GRAL_TATRINAL_TipoSituacion">
                    <ref bean="P_GRAL_TATRINAL_TipoSituacion" />
                </entry>
                <entry key="PGET_PRDPNT_PRCTIPGARNTBLQSC">
                    <ref bean="PGET_PRDPNT_PRCTIPGARNTBLQSC" />
                </entry>
                <entry key="PGET_PRDPNT_PRCTIPOBJTBLQSC">
                    <ref bean="PGET_PRDPNT_PRCTIPOBJTBLQSC" />
                </entry>
                <entry key="PGET_PRODPANT_PROCCDTIPBLQSECC">
                    <ref bean="PGET_PRODPANT_PROCCDTIPBLQSECC" />
                </entry>
                
                 <entry key="P_GET_FORMATOS_CLAVES_VTA">
                    <ref bean="P_GET_FORMATOS_CLAVES_VTA" />
                </entry>
 
        
        
        <! FALTA DEFINIR ENDPOINT EN BACKBONE..  >
                <!entry key="OBTENER_DATOS_TRAMOCLA">
                    <ref bean="OBTENER_DATOS_TRAMOCLA" />
                </entry
               
                
            </map>
        </property-->
    </bean>

 


  
    
            

 

</beans>
