<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	 
  
	<bean id="AtributosVariablesManager" class="mx.com.aon.catweb.configuracion.producto.service.impl.AtributosVariablesManagerImpl" parent="abstractManagerJdbcTemplateInvoke">
 		<!--property name="endpoints">
			<map>    
				<!  Datos de incisos 
            	<entry key="GUARDA_ATRIBUTOS_VARIABLES">
            		<ref bean="GUARDA_ATRIBUTOS_VARIABLES"/>            
            	</entry>
            	<entry key="OBTIENE_CLAVE_ATRIBUTO_PRODUCTO">
            		<ref bean="OBTIENE_CLAVE_ATRIBUTO_PRODUCTO"/>            
            	</entry>
            	<entry key="OBTIENE_CLAVE_ATRIBUTO_SITUACION">
            		<ref bean="OBTIENE_CLAVE_ATRIBUTO_SITUACION"/>            
            	</entry>
            	<entry key="OBTIENE_CLAVE_ATRIBUTO_GARANTIA">
            		<ref bean="OBTIENE_CLAVE_ATRIBUTO_GARANTIA"/>            
            	</entry>
            	<entry key="GUARDA_ATRIBUTOS_VARIABLES_INCISO">
            		<ref bean="GUARDA_ATRIBUTOS_VARIABLES_INCISO"/>            
            	</entry>
            	<entry key="GUARDA_ATRIBUTOS_VARIABLES_GARANTIA">
            		<ref bean="GUARDA_ATRIBUTOS_VARIABLES_GARANTIA"/>            
            	</entry>
            	<entry key="ELIMINA_ATRIBUTOS_VARIABLES_GARANTIA">
            		<ref bean="ELIMINA_ATRIBUTOS_VARIABLES_GARANTIA"/>            
            	</entry>
            	<entry key="ELIMINA_ATRIBUTOS_VARIABLES_INCISO">
            		<ref bean="ELIMINA_ATRIBUTOS_VARIABLES_INCISO"/>            
            	</entry>
            	<entry key="ELIMINA_ATRIBUTOS_VARIABLES_PRODUCTO">
            		<ref bean="ELIMINA_ATRIBUTOS_VARIABLES_PRODUCTO"/>            
            	</entry>
            	<entry key="OBTIENE_ATRIBUTO_VARIABLE_PRODUCTO">
            		<ref bean="OBTIENE_ATRIBUTO_VARIABLE_PRODUCTO"/>            
            	</entry>
            	<entry key="OBTIENE_ATRIBUTO_VARIABLE_RIESGO">
            		<ref bean="OBTIENE_ATRIBUTO_VARIABLE_RIESGO"/>            
            	</entry>
            	<entry key="OBTIENE_ATRIBUTO_VARIABLE_COBERTURA">
            		<ref bean="OBTIENE_ATRIBUTO_VARIABLE_COBERTURA"/>            
            	</entry>
            	<entry key="OBTIENE_PADRES">
            		<ref bean="OBTIENE_PADRES"/>
            	</entry>
            	<entry key="OBTIENE_PADRES_OBJETO">
            		<ref bean="OBTIENE_PADRES_OBJETO"/>
            	</entry>
            	<! <entry key="OBTIENE_PADRES_POLIZA">
            		<ref bean="OBTIENE_PADRES_POLIZA"/>
            	</entry>
            	<entry key="OBTIENE_PADRES_GARANTIA">
            		<ref bean="OBTIENE_PADRES_GARANTIA"/>
            	</entry>
            	<entry key="OBTIENE_PADRES_ROL">
            		<ref bean="OBTIENE_PADRES_ROL"/>
            	</entry> 
            	<entry key="VALIDA_HIJOS_ATRIB_VAR_PRODUCTO">
            		<ref bean="VALIDA_HIJOS_ATRIB_VAR_PRODUCTO"/>            
                </entry>
                <entry key="VALIDA_HIJOS_ATRIB_VAR_INCISO_RIESGO">
            		<ref bean="VALIDA_HIJOS_ATRIB_VAR_INCISO_RIESGO"/>            
                </entry>
                <entry key="VALIDA_HIJOS_ATRIB_VAR_COBERTURA">
            		<ref bean="VALIDA_HIJOS_ATRIB_VAR_COBERTURA"/>            
                </entry>
        	</map>
    	</property-->
    	<property name="abstractDAO">
    		<ref bean="atributosVariablesDao" />
    	</property>
    	
	</bean>
	
	<bean id="ListaDeValoresManagerJdbcTemplate" class="mx.com.aon.catweb.configuracion.producto.service.impl.ListaDeValoresManagerJdbcTemplateImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="ListaValoresDAO"/>
            </property>
    </bean>
	
	<bean id="ListaDeValoresManager" class="mx.com.aon.catweb.configuracion.producto.service.impl.ListaDeValoresManagerImpl">
 		<!--property name="endpoints">
			<map>    
				<!  Datos de incisos 
        		<entry key="OBTIENE_CATALOGO">
            		<ref bean="OBTIENE_CATALOGO"/>            
            	</entry>
            	<entry key="GUARDA_LISTA_DE_VALORES">
            		<ref bean="GUARDA_LISTA_DE_VALORES"/>            
            	</entry>
            	<entry key="GUARDA_CLAVE_LISTA_DE_VALORES">
            		<ref bean="GUARDA_CLAVE_LISTA_DE_VALORES"/>            
            	</entry>
            	<entry key="GUARDA_DESCRIPCION_LISTA_DE_VALORES">
            		<ref bean="GUARDA_DESCRIPCION_LISTA_DE_VALORES"/>            
            	</entry>
            	
            	<entry key="GUARDA_LISTA_CARGA_MANUAL">
            		<ref bean="GUARDA_LISTA_CARGA_MANUAL"/>            
            	</entry>
            	
            	<entry key="ELIMINA_LISTA_CARGA_MANUAL">
            		<ref bean="ELIMINA_LISTA_CARGA_MANUAL"/>            
            	</entry>
            	
            	<entry key="OBTIENE_LISTA_CARGA_MANUAL">
            		<ref bean="OBTIENE_LISTA_CARGA_MANUAL"/>            
            	</entry>
            	
            	<! TABLA DE 1 Y 5 CLAVES 
            	<entry key="OBTIENE_TABLA_1Y5_CLAVES">
            		<ref bean="OBTIENE_TABLA_1Y5_CLAVES"/>            
            	</entry>
            	<entry key="OBTIENE_CLAVES_1Y5">
            		<ref bean="OBTIENE_CLAVES_1Y5"/>            
            	</entry>
            	<entry key="OBTIENE_DESCRIPCIONES_1Y5">
            		<ref bean="OBTIENE_DESCRIPCIONES_1Y5"/>            
            	</entry>
            	
            	<! edicion de lista de valores 
            	
            	<entry key="OBTIENE_CABECERA_LISTA_DE_VALORES">
            		<ref bean="OBTIENE_CABECERA_LISTA_DE_VALORES"/>            
            	</entry>
            	<entry key="OBTIENE_CLAVE_LISTA_DE_VALORES">
            		<ref bean="OBTIENE_CLAVE_LISTA_DE_VALORES"/>            
            	</entry>
            	<entry key="OBTIENE_DESCRIPCION_LISTA_DE_VALORES">
            		<ref bean="OBTIENE_DESCRIPCION_LISTA_DE_VALORES"/>            
            	</entry>
            	<entry key="OBTIENE_LISTA_CLAVES_DEPENDENCIAS">
            		<ref bean="OBTIENE_LISTA_CLAVES_DEPENDENCIAS"/>            
            	</entry>
            	<entry key="ELIMINAR_TABLA_CLAVE">
            		<ref bean="ELIMINAR_TABLA_CLAVE"/>            
                </entry>
        	</map>
    	</property-->
	</bean>
</beans>