<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="TreeManager" class="mx.com.aon.catweb.configuracion.producto.service.impl.TreeManagerImpl" parent="abstractManagerJdbcTemplateInvoke">
 		<!--property name="endpoints">
			<map>    
				<!  Consulta de reglas de negocio >
            	<! <entry key="OBTENER_RAMA_PRODUCTO">
            		<ref bean="OBTENER_RAMA_PRODUCTO"/>            
            	</entry> 
            	<entry key="OBTENER_RAMA_SITUACION">
            		<ref bean="OBTENER_RAMA_SITUACION"/>            
            	</entry>
            	<entry key="OBTENER_RAMA_ATRIBUTOS_PRODUCTO">
            		<ref bean="OBTENER_RAMA_ATRIBUTOS_PRODUCTO"/>            
            	</entry>
            	<entry key="OBTENER_RAMA_CONCEPTOS_GLOBALES_PRODUCTO">
            		<ref bean="OBTENER_RAMA_CONCEPTOS_GLOBALES_PRODUCTO"/>            
            	</entry>
            	<entry key="OBTENER_RAMA_DATOS_FIJOS_PRODUCTO">
            		<ref bean="OBTENER_RAMA_DATOS_FIJOS_PRODUCTO"/>            
            	</entry>
            	<entry key="OBTENER_RAMA_ROLES_PRODUCTO">
            		<ref bean="OBTENER_RAMA_ROLES_PRODUCTO"/>            
            	</entry>
            	<entry key="OBTENER_ATRIBUTOS_GARANTIA">
            		<ref bean="OBTENER_ATRIBUTOS_GARANTIA"/>            
            	</entry>
            	<entry key="OBTENER_ATRIBUTOS_SITUACION">
            		<ref bean="OBTENER_ATRIBUTOS_SITUACION"/>            
            	</entry>
            	<entry key="OBTENER_GARANTIA">
            		<ref bean="OBTENER_GARANTIA"/>            
            	</entry>
                <entry key="OBTIENE_LISTA_PLANES_RAMAS">
                    <ref bean="OBTIENE_LISTA_PLANES_RAMAS"/>            
                </entry>
                <entry key="OBTENER_OBJETOS">
                    <ref bean="OBTENER_OBJETOS"/>            
                </entry>
        	</map>
    	</property-->
    	<property name="abstractDAO">
    		<ref bean="productoDao" />
    	</property>
	</bean>		
</beans>