<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


    <bean id="processResultManager" class="mx.com.aon.portal.service.ProcessResultManager">
        <!-- property name="endpoints">
            <map>
            <entry key="OBTIENE_MENSAJE"><ref bean="OBTIENE_MENSAJE"/></entry>
            </map>
        </property-->
    </bean>


    <bean id="abstractManagerBean" abstract="true" class="mx.com.aon.portal.service.impl.AbstractManager">
        <property name="processResultManager">
            <ref bean="processResultManager"/>
        </property>
    </bean>



	<bean id="configuradorPantallasManager"
		class="mx.com.aon.configurador.pantallas.service.impl.ConfiguradorPantallaServiceImpl" parent="abstractManagerBean">
		<!-- property name="endpoints">
			<map>
				<entry key="BUSCA_CONJUNTOS_PANTALLAS">
					<ref bean="BUSCA_CONJUNTOS_PANTALLAS" />
				</entry>
				<entry key="OBTIENE_CONJUNTO_PANTALLA">
					<ref bean="OBTIENE_CONJUNTO_PANTALLA" />
				</entry>
				<entry key="OBTIENE_PANTALLAS">
					<ref bean="OBTIENE_PANTALLAS" />
				</entry>
				<entry key="GUARDAR_CONJUNTO">
					<ref bean="GUARDAR_CONJUNTO" />
				</entry>
				<entry key="OBTIENE_PANTALLA">
					<ref bean="OBTIENE_PANTALLA" />
				</entry>
				<entry key="GUARDAR_PANTALLA">
					<ref bean="GUARDAR_PANTALLA" />
				</entry>
				<entry key="ELIMINAR_PANTALLA">
					<ref bean="ELIMINAR_PANTALLA" />
				</entry>
				<entry key="COPIAR_CONJUNTO">
					<ref bean="COPIAR_CONJUNTO" />
				</entry>
				<entry key="COPIAR_PANTALLA">
					<ref bean="COPIAR_PANTALLA" />
				</entry>
				<entry key="OBTIENE_MASTERS">
					<ref bean="OBTIENE_MASTERS" />
				</entry>
				<entry key="ACTIVA_CONJUNTO">
					<ref bean="ACTIVA_CONJUNTO" />
				</entry>
				<entry key="CARGA_ATRIBUTOS_PANTALLA">
					<ref bean="CARGA_ATRIBUTOS_PANTALLA" />
				</entry>
				
<!                <entry key="CARGA_ATRIBUTOS_PROPIEDADES">>
<!					<ref bean="CARGA_ATRIBUTOS_PROPIEDADES" />>
<!				</entry>
                
                <entry key="CARGAR_JSON_PROPERTIES">
                    <ref bean="CARGAR_JSON_PROPERTIES" />
                </entry>
                
                <entry key="CARGAR_JSON_PROPERTIES_COMPRA">
                    <ref bean="CARGAR_JSON_PROPERTIES_COMPRA" />
                </entry>
                
                <entry key="EXPORTA_CONJUNTOS_PANTALLAS">
                    <ref bean="EXPORTA_CONJUNTOS_PANTALLAS" />
                </entry>
                
                <entry key="OBTIENE_PANTALLA_VISTA_PREVIA">
                        <ref bean="OBTIENE_PANTALLA_VISTA_PREVIA" />
                </entry>
			</map>
		</property-->
	</bean>
	
	<bean id="configuradorPantallasManagerJdbcTemplate" class="mx.com.aon.configurador.pantallas.service.impl.ConfiguradorPantallaServiceJdbcTemplateImpl" parent="abstractManagerJdbcTemplateInvoke">
			<property name="abstractDAO">
    		<ref bean="configuradorPantallasDAO" />
    	</property>
    </bean>
	
	<bean id="masterTransformer"
		class="mx.com.aon.configurador.pantallas.util.MasterTrasnformer">
		<!--property name="endpoints">
			<map>
				<entry key="GET_MASTER_BUTTONS">
					<ref bean="GET_MASTER_BUTTONS" />
				</entry>
                
                <entry key="GET_ATRIBUTOS_GENERALES_JSON">
                    <ref bean="GET_ATRIBUTOS_GENERALES_JSON" />
                </entry>
                
                <entry key="GET_COMBO_PADRE">
                     <ref bean="GET_COMBO_PADRE" />
                </entry>
			</map>
		</property-->
	</bean>

</beans>