<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="catalogManager" class="mx.com.aon.portal.service.impl.CatalogServiceImpl" parent="abstractManagerBean">
        <!--property name="endpoints">
            <map>
                <entry key="OBTIENE_PROCESOS">
                    <ref bean="OBTIENE_PROCESOS" />
                </entry>
                
                <entry key="OBTIENE_CLIENTES_CORPO_CATALOGS">
                    <ref bean="OBTIENE_CLIENTES_CORPO_CATALOGS" />
                </entry>
                
                 <entry key="OBTIENE_PRODUCTOS_CLIENTE">
                    <ref bean="OBTIENE_PRODUCTOS_CLIENTE" />
                </entry>
                
                <entry key="OBTIENE_PRODUCTOS_CLIENTE_ASEGURADORA">
                    <ref bean="OBTIENE_PRODUCTOS_CLIENTE_ASEGURADORA" />
                </entry>
                
                <entry key="OBTIENE_INTRUMENTOS_PAGO_CLIENTE">
                    <ref bean="OBTIENE_INTRUMENTOS_PAGO_CLIENTE" />
                </entry>
                
                <entry key="OBTIENE_TIPOS_DOCUMENTOS">
                    <ref bean="OBTIENE_TIPOS_DOCUMENTOS" />
                </entry>
                
                 <entry key="OBTIENE_LISTA">
                    <ref bean="OBTIENE_LISTA" />
                </entry>
                      
                <entry key="OBTIENE_ASEGURADORAS">
                    <ref bean="OBTIENE_ASEGURADORAS" />
                </entry>
                
                <entry key="OBTIENE_ASEGURADORAS_CAT2">
                    <ref bean="OBTIENE_ASEGURADORAS_CAT2" />
                </entry>
                
                <entry key="OBTIENE_ASEGURADORAS_POR_CLIENTE_Y_PRODUCTO">
                    <ref bean="OBTIENE_ASEGURADORAS_POR_CLIENTE_Y_PRODUCTO" />
                </entry>
                
                 <entry key="OBTIENE_PRODUCTOS_CATALOGO">
                    <ref bean="OBTIENE_PRODUCTOS_CATALOGO" />
                </entry>    
                
                <entry key="OBTIENE_INTRUMETOS_PAGO">
                    <ref bean="OBTIENE_INTRUMETOS_PAGO" />
                </entry>
                
                 <entry key="CATALOGS_OBTIENE_BANCOS">
                    <ref bean="CATALOGS_OBTIENE_BANCOS" />
                </entry>      
                
                <entry key="OBTIENE_PRODUCTOS_CAT">
                    <ref bean="OBTIENE_PRODUCTOS_CAT" />
                </entry>
                
                <entry key="OBTIENE_ASEGURADORAS_CAT">
                    <ref bean="OBTIENE_ASEGURADORAS_CAT" />
                </entry>
                
                <entry key="OBTIENE_STATUSPOLIZA_CAT">
                    <ref bean="OBTIENE_STATUSPOLIZA_CAT" />
                </entry>                     
                
                <entry key="OBTIENE_PERSONA_USUARIO">
                    <ref bean="OBTIENE_PERSONA_USUARIO" />
                </entry>
                
                <entry key="OBTIENE_DOMICILIO_PERSONA">
                    <ref bean="OBTIENE_DOMICILIO_PERSONA" />
                </entry>
                
                <entry key="OBTIENE_BANCOS_SUCURSAL">
                    <ref bean="OBTIENE_BANCOS_SUCURSAL" />
                </entry>
                
                <entry key="OBTIENE_TIPO_TARJETA">
                    <ref bean="OBTIENE_TIPO_TARJETA" />
                </entry>
                
                <entry key="OBTIENE_TIPO_TARJETA_Y_SWCREDITO">
                    <ref bean="OBTIENE_TIPO_TARJETA_Y_SWCREDITO" />
                </entry>
                
                <entry key="OBTIENE_LISTA_COBERTURAS">
                    <ref bean="OBTIENE_LISTA_COBERTURAS" />
                </entry>
                
				<entry key="OBTIENE_LISTA_FUNCION_ROL">
                    <ref bean="OBTIENE_LISTA_FUNCION_ROL" />
                </entry>
                
                <entry key="OBTIENE_LISTA_SEXO">
                    <ref bean="OBTIENE_LISTA_SEXO" />
                </entry>

                <entry key="OBTIENE_LISTA_COBERTURAS_NO_AGREGADAS">
                    <ref bean="OBTIENE_LISTA_COBERTURAS_NO_AGREGADAS" />
                </entry>
                
                <entry key="OBTIENE_LISTA_ROLES">
                    <ref bean="OBTIENE_LISTA_ROLES" />
                </entry>
                
                <entry key="OBTIENE_MENSAJES">
                    <ref bean="OBTIENE_MENSAJES"/>
                </entry>

                <entry key="OBTIENE_LISTA_TIPOS">
                    <ref bean="OBTIENE_LISTA_TIPOS"/>
                </entry>
                                
                <entry key="OBTIENE_TIPO_SITUACION">
                    <ref bean="OBTIENE_TIPO_SITUACION" />
                </entry>
                
                <entry key="OBTIENE_PANTALLAS_WF">
                    <ref bean="OBTIENE_PANTALLAS_WF" />
                </entry>
                
                <entry key="OBTIENE_PASOS_WF">
                    <ref bean="OBTIENE_PASOS_WF" />
                </entry>
                
                <entry key="OBTIENE_ASEGURADORAS_CLIENTE_CAT">
                    <ref bean="OBTIENE_ASEGURADORAS_CLIENTE_CAT" />
                </entry>
                            
                <entry key="OBTIENE_PRODUCTOS_ASEGURADORA_CAT">
                    <ref bean="OBTIENE_PRODUCTOS_ASEGURADORA_CAT" />
                </entry>
                
                <entry key="OBTIENE_INTRUMETOS_DE_PAGO">
                    <ref bean="OBTIENE_INTRUMETOS_DE_PAGO" />
                </entry>
                
                
            </map>
        </property-->
    </bean>
    
    <!-- catalogServiceJdbcTemplate -->
        <bean id="catalogServiceJdbcTemplate" class="mx.com.aon.portal.service.impl.CatalogServiceJdbcTemplateImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="catalogosDAO"/>
            </property>
        </bean>
    <!--catalogServiceJdbcTemplate -->
</beans>
