<statements>
	<statement type="stored" name="PKG_SATELITES.P_OBTIENE_TVALOSIT" id="cargarBloqueB5B">
		<param eval="true" name="pv_cdunieco_i" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pv_estado_i" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pv_nmpoliza_i" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pv_nmsituac_i" type="NUMERIC">$!params.get("pi_NMSITUAC")</param>
		<param eval="true" name="pv_cdatribu_i" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
		<outparam id="po_rc_cursor" type="CURSOR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
