items :[{
 		border:false,
        width:400,
        colspan: 4,
        layout:'form',
        labelAlign :'right',
        labelWidth : 80,
        items:[{
        		xtype:'textfield',
		        fieldLabel: 'Aseguradora',
		        width:300,
		        disabled:true,
		        name:'dsAseguradora',
		        id:'dsAseguradora'
        	  }]
       },{	  
        border:false,
        width:400,
        colspan: 4,
        layout:'form',
        labelAlign :'right',
        labelWidth : 80,
        items:[{
        		xtype:'textfield',
		        fieldLabel: 'Plan',
		        width:300,
		        disabled:true,
		        name:'dsPlan',
		        id:'dsPlan'
        	  }]
       },{
		border:false,
		layout:'form',
		width:50,
        labelWidth : 1,		
		items: [{
				xtype:"textfield",
            	name:"cdAseguradora",
            	id:"cdAseguradora",
            	type:'hidden',
            	width:30,
            	height:5,
           		hidden:true,
            	labelSeparator:'' 
	 		}]
	 },{
		border:false,
		layout:'form',
		width:50,
        labelWidth : 1,		
		items: [{
				xtype:"textfield",
            	name:"idPlan",
            	id:"idPlan",
            	type:'hidden',
            	width:30,
            	height:5,
           		hidden:true,
            	labelSeparator:'' 
	 		}]
	 },{
		border:false,
		layout:'form',
		width:40,
        labelWidth : 1,		
		items: [{
			    xtype:'textfield',
				fieldLabel: '',   
				name:'idGarant',
				id:'idGarant',
				width:30,
				height:5,
				labelSeparator:'',
				hidden:true,
				type:'hidden'
	 		}]
	 },{
		border:false,
		layout:'form',
		width:40,
        labelWidth : 1,		
		items: [{
			    xtype:'textfield',
				fieldLabel: '',   
				name:'cRamo',
				id:'cRamo',
				width:30,
				height:5,
				labelSeparator:'',
				hidden:true,
				type:'hidden'
	 		}]
}]    

