<statements>
	<statement type="stored" name="PACK_NEWALEA_DATOS_GENERALES.P_CAMPO_CLAVE_REGLA_CALCULO" id="pCampoClaveReglaCalculo">
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_CLAVE" type="VARCHAR">$!params.get("pi_CLAVE")</param>
		<outparam id="po_OTVALOR" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
