<statements>
	<statement type="stored" name="PACK_NEWALEA_DATOS_GENERALES.DIST_CAPIT_COASEG" id="pdistCapitalCoa">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_NMSUPLEM" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
		<param eval="true" name="pi_NMSITUAC" type="NUMERIC">$!params.get("pi_NMSITUAC")</param>
		<param eval="true" name="pi_CDCAPITA" type="NUMERIC">$!params.get("pi_CDCAPITA")</param>
		<param eval="true" name="pi_STATUS" type="VARCHAR">$!params.get("pi_STATUS")</param>
		<param eval="true" name="pi_STATUSO" type="VARCHAR">$!params.get("pi_STATUSO")</param>
		<param eval="true" name="pi_PTCAPITA" type="NUMERIC">$!params.get("pi_PTCAPITA")</param>
		<param eval="true" name="pi_PTREDUCI" type="NUMERIC">$!params.get("pi_PTREDUCI")</param>
		<param eval="true" name="pi_FEREDUCI" type="DATE">$!params.get("pi_FEREDUCI")</param>
		<param eval="true" name="pi_SWREVALO" type="VARCHAR">$!params.get("pi_SWREVALO")</param>
		<param eval="true" name="pi_TIPOTRAN" type="VARCHAR">$!params.get("pi_TIPOTRAN")</param>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
