<statements>
	<statement type="stored" name="PACK_NEWALEA_DATOS_GENERALES.P_COMPRUEBA_NUMERACPOL" id="pgetNumeroPolizaCol">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
       <inoutparam eval="true" name="p_NMPOLIZA" id="p_NMPOLIZA" type="NUMERIC">$!params.get("p_NMPOLIZA")</inoutparam>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
