<statements>
	<statement type="stored" name="PACK_NEWALEA_DATOS_GENERALES.P_RAMOS_REGLA_CALCULO" id="pgetRamosReglaCalculo">
		<outparam id="rc_cursor" type="CURSOR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
