<statements>
	<statement type="stored" name="PACK_NEWALEA_DATOS_GENERALES.P_VAL_GENERAL_B1_B2_B1B" id="pvalGeneralDatosGenerales">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_NMSUPLEM" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
		<param eval="true" name="pi_NMSUPLOGI" type="NUMERIC">$!params.get("pi_NMSUPLOGI")</param>
		<param eval="true" name="pi_FEEFECTO" type="DATE">$!params.get("pi_FEEFECTO")</param>
		<param eval="true" name="pi_FEFINAL" type="DATE">$!params.get("pi_FEFINAL")</param>
		<param eval="true" name="pi_OTTEMPOT" type="VARCHAR">$!params.get("pi_OTTEMPOT")</param>
		<param eval="true" name="pi_CDTIPCOA" type="VARCHAR">$!params.get("pi_CDTIPCOA")</param>
		<param eval="true" name="pi_CDMONEDA" type="VARCHAR">$!params.get("pi_CDMONEDA")</param>
		<param eval="true" name="pi_CDPERPAG" type="NUMERIC">$!params.get("pi_CDPERPAG")</param>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
