<statements>
	<statement type="stored" name="PKG_GENERAR_PRODUCTO.P_GET_ENDOSOB_CAMPO" id="pgetCamposEndosoB">
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_CDBLOQUE" type="VARCHAR">$!params.get("pi_CDBLOQUE")</param>
		<outparam id="rc_cursor" type="CURSOR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
