<statements>
	<statement type="stored" name="PKG_GENERAR_PRODUCTO.GENERA_DATOS_OBTENER_BLOQUES" id="pgetBloques">
		<outparam id="po_BLOQUES" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
