<statements>
	<statement type="stored" name="PKG_GENERAR_PRODUCTO.P_GRAL_TATRINAL" id="pgetTatrinalGral">
		<param eval="true" name="pi_IDOPERACION" type="VARCHAR">$!params.get("pi_IDOPERACION")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<outparam id="rc_cursor" type="CURSOR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
