<statements>
	<statement type="stored" name="PACK_NEWALEA_ACTUALIZA_DATOS.P_MOV_MPOLIREV" id="actmovMPOLIREV">
       <inoutparam eval="true" name="Gv_Identificador_Error" id="Gv_Identificador_Error" type="VARCHAR">$!params.get("p_ERROR")</inoutparam>
  		<param eval="true" name="Gn_CdUnieco" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="Gn_CdRamo" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="Gv_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="Gn_NmPoliza" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="Gn_NmSuplem_Sesion" type="VARCHAR">$!params.get("pi_NMSUPLEM_SESION")</param>
		<param eval="true" name="Gn_NmSuplem_Bloque" type="VARCHAR">$!params.get("pi_NMSUPLEM_BLOQUE")</param>
		<param eval="true" name="Gn_NmSituac" type="NUMERIC">$!params.get("pi_NMSITUAC")</param>
		<param eval="true" name="Gn_CdCapita" type="NUMERIC">$!params.get("pi_CDCAPITA")</param>
		<param eval="true" name="Gd_AaDesde" type="NUMERIC">$!params.get("pi_AADESDE")</param>
		<param eval="true" name="Gd_AaHasta" type="NUMERIC">$!params.get("pi_AAHASTA")</param>
		<param eval="true" name="Gv_CdTipRev" type="VARCHAR">$!params.get("pi_CDTIPREV")</param>
       <inoutparam eval="true" name="Gv_Rowid" id="Gv_Rowid" type="VARCHAR">$!params.get("p_ROWID")</inoutparam>
		<param eval="true" name="Gv_ModoAcceso" type="VARCHAR">$!params.get("pi_MODOACCESO")</param>
	</statement>
</statements>
