<statements>
	<statement type="stored" name="PACK_NEWALEA_ACTUALIZA_DATOS.P_MOV_MPOLIAGE" id="actmovMPOLIAGE">
       <inoutparam eval="true" name="Gv_Identificador_Error" id="Gv_Identificador_Error" type="VARCHAR">$!params.get("p_ERROR")</inoutparam>
  		<param eval="true" name="Gn_CdUnieco" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="Gn_CdRamo" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="Gv_Estado" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="Gn_NmPoliza" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="Gv_Cdagente" type="VARCHAR">$!params.get("pi_CDAGENTE")</param>
		<param eval="true" name="Gn_NmSuplem_Sesion" type="VARCHAR">$!params.get("pi_NMSUPLEM_SESION")</param>
		<param eval="true" name="Gn_NmSuplem_Bloque" type="VARCHAR">$!params.get("pi_NMSUPLEM_BLOQUE")</param>
		<param eval="true" name="Gv_Cdtipoag" type="VARCHAR">$!params.get("pi_CDTIPOAG")</param>
		<param eval="true" name="Gn_Porredau" type="NUMERIC">$!params.get("pi_PORREDAU")</param>
       <inoutparam eval="true" name="Gv_Rowid" id="Gv_Rowid" type="VARCHAR">$!params.get("p_ROWID")</inoutparam>
		<param eval="true" name="Gv_ModoAcceso" type="VARCHAR">$!params.get("pi_ACCION")</param>
	</statement>
</statements>
