<statements>
	<statement type="stored" name="PACK_NEWALEA_ACTUALIZA_DATOS.P_MOV_MPOLIAGR" id="actmovMPOLIAGR">
  		<param eval="true" name="Gn_CdUnieco" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="Gn_CdRamo" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="Gv_Estado" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="Gn_NmPoliza" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="Gv_CdAgrupa" type="NUMERIC">$!params.get("pi_CDAGRUPA")</param>
		<param eval="true" name="Gn_NmSuplem_Sesion" type="VARCHAR">$!params.get("pi_NMSUPLEM_SESION")</param>
		<param eval="true" name="Gn_NmSuplem_Bloque" type="VARCHAR">$!params.get("pi_NMSUPLEM_BEAN")</param>
		<param eval="true" name="Gn_Status" type="VARCHAR">$!params.get("pi_STATUS")</param>
		<param eval="true" name="Gn_Cdperson" type="NUMERIC">$!params.get("pi_CDPERSON")</param>
		<param eval="true" name="Gn_Nmorddom" type="NUMERIC">$!params.get("pi_NMORDDOM")</param>
		<param eval="true" name="Gn_Cdforpag" type="VARCHAR">$!params.get("pi_CDFORPAG")</param>
		<param eval="true" name="Gn_Cdbanco" type="VARCHAR">$!params.get("pi_CDBANCO")</param>
		<param eval="true" name="Gn_Cdsucurs" type="VARCHAR">$!params.get("pi_CDSUCURS")</param>
		<param eval="true" name="Gn_Cdcuenta" type="VARCHAR">$!params.get("pi_CDCUENTA")</param>
		<param eval="true" name="Gn_Cdrazon" type="VARCHAR">$!params.get("pi_CDRAZON")</param>
		<param eval="true" name="Gn_Swregula" type="VARCHAR">$!params.get("pi_SWREGULA")</param>
		<param eval="true" name="Gn_Cdperreg" type="NUMERIC">$!params.get("pi_CDPERREG")</param>
		<param eval="true" name="Gn_Feultreg" type="DATE">$!params.get("pi_FEULTREG")</param>
		<param eval="true" name="Gn_Cdgestor" type="VARCHAR">$!params.get("pi_CDGESTOR")</param>
		<param eval="true" name="Gn_Cdpagcom" type="VARCHAR">$!params.get("pi_CDPAGCOM")</param>
		<param eval="true" name="Gv_ModoAcceso" type="VARCHAR">$!params.get("pi_ACCION")</param>
       <inoutparam eval="true" name="Gv_Rowid" id="Gv_Rowid" type="VARCHAR">$!params.get("p_ROWID")</inoutparam>
       <inoutparam eval="true" name="Gv_CodAgr" id="Gv_CodAgr" type="NUMERIC">$!params.get("p_CODAGR")</inoutparam>
       <inoutparam eval="true" name="Gv_Identificador_Error" id="Gv_Identificador_Error" type="VARCHAR">$!params.get("p_ERROR")</inoutparam>
	</statement>
</statements>
