<statements>
	<statement type="stored" name="PACK_NEWALEA_ACTUALIZA_DATOS.P_MOV_MDOMICIL" id="actmovMDOMICIL">
       <inoutparam eval="true" name="Gv_Identificador_Error" id="Gv_Identificador_Error" type="VARCHAR">$params.get("p_ERROR")</inoutparam>
		<param eval="true" name="Gn_cdperson" type="NUMERIC">$!params.get("pi_CDPERSON")</param>
       <inoutparam eval="true" name="Gn_nmorddom" id="Gn_nmorddom" type="NUMERIC">$!params.get("p_NMORDDOM")</inoutparam>
		<param eval="true" name="Gn_cdtipdom" type="VARCHAR">$!params.get("pi_CDTIPDOM")</param>
		<param eval="true" name="Gv_dsdomici" type="VARCHAR">$!params.get("pi_DSDOMICI")</param>
		<param eval="true" name="Gv_cdsiglas" type="VARCHAR">$!params.get("pi_CDSIGLAS")</param>
		<param eval="true" name="Gn_cdidioma" type="VARCHAR">$!params.get("pi_CDIDIOMA")</param>
		<param eval="true" name="Gn_nmtelex" type="VARCHAR">$!params.get("pi_NMTELEX")</param>
		<param eval="true" name="Gn_nmfax" type="VARCHAR">$!params.get("pi_NMFAX")</param>
		<param eval="true" name="Gn_nmtelefo" type="VARCHAR">$!params.get("pi_NMTELEFO")</param>
		<param eval="true" name="Gn_cdpostal" type="VARCHAR">$!params.get("pi_CDPOSTAL")</param>
		<param eval="true" name="Gn_otpoblac" type="VARCHAR">$!params.get("pi_OTPOBLAC")</param>
		<param eval="true" name="Gn_cdpais" type="VARCHAR">$!params.get("pi_CDPAIS")</param>
		<param eval="true" name="Gv_otpiso" type="VARCHAR">$!params.get("pi_OTPISO")</param>
		<param eval="true" name="Gn_nmnumero" type="VARCHAR">$!params.get("pi_NMNUMERO")</param>
		<param eval="true" name="Gn_cdprovin" type="NUMERIC">$!params.get("pi_CDPROVIN")</param>
		<param eval="true" name="Gv_dszona" type="VARCHAR">$!params.get("pi_DSZONA")</param>
		<param eval="true" name="Gv_cdcoloni" type="VARCHAR">$!params.get("pi_CDCOLONI")</param>
		<param eval="true" name="Gv_Accion" type="VARCHAR">$!params.get("pi_ACCION")</param>
	</statement>
</statements>
