<statements>
	<statement type="stored" name="PACK_NEWALEA_ACTUALIZA_DATOS.P_ACT_MPOLISIT" id="actualizaMPOLISIT">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_NMSITUAC" type="NUMERIC">$!params.get("pi_NMSITUAC")</param>
		<param eval="true" name="pi_NMSUPLEM" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
		<param eval="true" name="pi_STATUS" type="VARCHAR">$!params.get("pi_STATUS")</param>
		<param eval="true" name="pi_CDTIPSIT" type="VARCHAR">$!params.get("pi_CDTIPSIT")</param>
		<param eval="true" name="pi_SWREDUCI" type="VARCHAR">$!params.get("pi_SWREDUCI")</param>
		<param eval="true" name="pi_CDAGRUPA" type="NUMERIC">$!params.get("pi_CDAGRUPA")</param>
		<param eval="true" name="pi_CDESTADO" type="NUMERIC">$!params.get("pi_CDESTADO")</param>
		<param eval="true" name="pi_FEFECSIT" type="DATE">$!params.get("pi_FEFECSIT")</param>
		<param eval="true" name="pi_FECHAREF" type="DATE">$!params.get("pi_FECHAREF")</param>
		<param eval="true" name="pi_INDPARBE" type="VARCHAR">$!params.get("pi_INDPARBE")</param>
		<param eval="true" name="pi_FEINIPBS" type="DATE">$!params.get("pi_FEINIPBS")</param>
		<param eval="true" name="pi_PORPARBE" type="NUMERIC">$!params.get("pi_PORPARBE")</param>
		<param eval="true" name="pi_INTFINAN" type="NUMERIC">$!params.get("pi_INTFINAN")</param>
		<param eval="true" name="pi_CDMOTANU" type="NUMERIC">$!params.get("pi_CDMOTANU")</param>
		<param eval="true" name="pi_FEINISUS" type="DATE">$!params.get("pi_FEINISUS")</param>
		<param eval="true" name="pi_FEFINSUS" type="DATE">$!params.get("pi_FEFINSUS")</param>
		<param eval="true" name="pi_ACCION" type="VARCHAR">$!params.get("pi_ACCION")</param>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
