<statements>
	<statement type="stored" name="PACK_NEWALEA_ACTUALIZA_DATOS.P_ACT_MPOLICAB" id="actualizaMPOLICAB">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_CDGRUPO" type="VARCHAR">$!params.get("pi_CDGRUPO")</param>
		<param eval="true" name="pi_CDSUBGRP" type="VARCHAR">$!params.get("pi_CDSUBGRP")</param>
		<param eval="true" name="pi_CDPERFIT" type="VARCHAR">$!params.get("pi_CDPERFIT")</param>
		<param eval="true" name="pi_DSNOMCOT" type="VARCHAR">$!params.get("pi_DSNOMCOT")</param>
		<param eval="true" name="pi_ACCION" type="VARCHAR">$!params.get("pi_ACCION")</param>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
