<statements>
	<statement type="stored" name="PACK_NEWALEA_ACTUALIZA_DATOS.P_ACT_TSIEXCOA" id="actualizaTSIEXCOA">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_NMSITUAC" type="NUMERIC">$!params.get("pi_NMSITUAC")</param>
		<param eval="true" name="pi_NMSUPLEM" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
		<param eval="true" name="pi_FEINIEXC" type="DATE">$!params.get("pi_FEINIEXC")</param>
		<param eval="true" name="pi_FEFINEXC" type="DATE">$!params.get("pi_FEFINEXC")</param>
		<param eval="true" name="pi_CDAGRUPA" type="NUMERIC">$!params.get("pi_CDAGRUPA")</param>
		<param eval="true" name="pi_STATUS" type="VARCHAR">$!params.get("pi_STATUS")</param>
		<param eval="true" name="pi_FECARGA" type="DATE">$!params.get("pi_FECARGA")</param>
		<param eval="true" name="pi_ACCION" type="VARCHAR">$!params.get("pi_ACCION")</param>
		<outparam id="po_cderror" type="VARCHAR"/>
		<outparam id="po_dserror" type="VARCHAR"/>
		<outparam id="po_tipoerror" type="VARCHAR"/>
	</statement>
</statements>
