<statements>
	<statement type="stored" name="PACK_NEWALEA_PENTRADA.P_DATOS_BLOQUEO" id="getDatosBloqueo">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_OTTIPSUP" type="VARCHAR">$params.get("pi_OTTIPSUP")</param>
		<param eval="true" name="pi_NSUPLOGI" type="NUMERIC">$params.get("pi_NSUPLOGI")</param>
		<param eval="true" name="pi_CDTIPSUP_WORK" type="NUMERIC">$params.get("pi_CDTIPSUP_WORK")</param>
		<outparam id="po_CDTIPSUP" type="NUMERIC"/>
		<outparam id="po_DSTIPSUP" type="VARCHAR"/>
		<outparam id="po_NSUPLOGI" type="NUMERIC"/>
		<outparam id="po_NMSOLICI" type="NUMERIC"/>
		<outparam id="po_FESOLICI" type="DATE"/>
		<outparam id="po_DSESTADO" type="VARCHAR"/>
		<outparam id="po_FECHA" type="DATE"/>
		<outparam id="po_HORA" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
