<statements>
	<statement type="stored" name="PACK_NEWALEA_PENTRADA.P_ANULAR_ORDEN_TRABAJO" id="panulacionOrdenTrabajo">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_NSUPLOGI" type="NUMERIC">$params.get("pi_NSUPLOGI")</param>
       <inoutparam eval="true" name="p_NMOPERAC" id="p_NMOPERAC" type="NUMERIC">$params.get("p_NMOPERAC")</inoutparam>
		<param eval="true" name="pi_CDAGENTE" type="VARCHAR">$params.get("pi_CDAGENTE")</param>
		<param eval="true" name="pi_CDPROCES" type="NUMERIC">$params.get("pi_CDPROCES")</param>
		<outparam id="po_CDSUBPRO" type="VARCHAR"/>
       <inoutparam eval="true" name="p_EDOFOLIO" id="p_EDOFOLIO" type="VARCHAR">$params.get("p_EDOFOLIO")</inoutparam>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
