<statements>
	<statement type="stored" name="PACK_NEWALEA_PENTRADA.P_GET_OBLIG_ORDTRAB" id="pgetObligatotiedadOrdenTrabajo">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_CDTIPSUP" type="NUMERIC">$!params.get("pi_CDTIPSUP")</param>
		<param eval="true" name="pi_NMORDTRAB" type="NUMERIC">$!params.get("pi_NMORDTRAB")</param>
		<outparam id="po_REQORDTRAB" type="VARCHAR"/>
		<outparam id="po_USEREXCL" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
