<statements>
	<statement type="stored" name="PACK_NEWALEA_PENTRADA.P_GET_PRODUCTOS_COLECTIVO" id="pgetProductosColectivos">
		<outparam id="rc_cursor" type="CURSOR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
