<statements>
	<statement type="stored" name="PACK_NEWALEA_PENTRADA.P_VALIDABLOQUEOPOLIZA" id="valBloqueoPoliza">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<outparam id="po_OTTIPSUP" type="VARCHAR"/>
		<outparam id="po_TIPSUP_WORK" type="NUMERIC"/>
		<outparam id="po_NSUPLOGI" type="NUMERIC"/>
		<outparam id="po_cderror" type="VARCHAR"/>
		<outparam id="po_dserror" type="VARCHAR"/>
		<outparam id="po_tipoerror" type="VARCHAR"/>
	</statement>
</statements>
