<statements>
    <statement type="stored" name="PACK_NEWALEA_PENTRADA.P_VALIDAR_DOTACION" id="valDotacion">
        <param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
        <param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
        <param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
        <param eval="true" name="pi_FECHA" type="VARCHAR">$!params.get("pi_FECHA")</param>
        <param eval="true" name="pi_HORA" type="VARCHAR">$!params.get("pi_HORA")</param>
        <outparam id="po_FEMINDOT" type="VARCHAR"/>
        <outparam id="po_FEMAXDOT" type="VARCHAR"/>
        <outparam id="po_HHANIVER" type="VARCHAR"/>
        <outparam id="po_CDERROR" type="VARCHAR"/>
        <outparam id="po_DSERROR" type="VARCHAR"/>
        <outparam id="po_TIPOERROR" type="VARCHAR"/>
    </statement>
</statements>
