<statements>
	<statement type="stored" name="PACK_NEWALEA_PENTRADA.P_VALIDAFECHAINICIO" id="valFechaInicioRecibo">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_NMRECIBO" type="NUMERIC">$!params.get("pi_NMRECIBO")</param>
		<param eval="true" name="pi_FECHA" type="DATE">$!params.get("pi_FECHA")</param>
		<outparam id="po_TIPORECI" type="NUMERIC"/>
		<outparam id="po_FEINICIO" type="DATE"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
