<statements>
	<statement type="stored" name="PACK_NEWALEA_PENTRADA.P_VALIDAR_ULTIMO_PERIODO_REC" id="valUltPeriodoRecibo">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_FECHA" type="DATE">$!params.get("pi_FECHA")</param>
		<param eval="true" name="pi_SWRETARI" type="VARCHAR">$!params.get("pi_SWRETARI")</param>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>