<statements>
	<statement type="stored" name="PKG_WORKFLOW.P_BORRA_PASO" id="borraPasos">
		<param eval="true" name="PV_CDPROCXCTA_I" type="NUMERIC">$!params.cdprocxcta</param>
		<param eval="true" name="PV_CDPASO_I" type="NUMERIC">$!params.cdpaso</param>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>
	</statement>
</statements>