<statements>
	<statement type="stored" name="PKG_WORKFLOW.P_GUARDA_PASOS" id="insertaPasosxCta">
		<param eval="true" name="PV_CDPROCXCTA_I"    type="NUMERIC">$!params.cdprocxcta</param>
		<param eval="true" name="PV_CDPASO_I"        type="NUMERIC">$!params.cdpaso</param>
		<param eval="true" name="PV_DSPASO_I"        type="VARCHAR">$!params.dspaso</param>
		<param eval="true" name="PV_CDESTADO_I"      type="NUMERIC">$!params.cdestado</param>
		<param eval="true" name="PV_CDPASOEXITO_I"   type="NUMERIC">$!params.cdpasoexito</param>
		<param eval="true" name="PV_CDPASOFRACASO_I" type="NUMERIC">$!params.cdpasofracaso</param>
		<param eval="true" name="PV_CDCONDICI_I"     type="NUMERIC">$!params.cdcondici</param>		
		<param eval="true" name="PV_CDTITULO_I"      type="NUMERIC">$!params.cdtitulo</param>
		<param eval="true" name="PV_NMORDEN_I"       type="NUMERIC">$!params.nmorden</param>
		<param eval="true" name="PV_SWFINAL_I"       type="VARCHAR">$!params.swfinal</param>
		<outparam id="PV_MSG_ID_O"   type="NUMERIC"/>
    	<outparam id="PV_TITLE_O"    type="VARCHAR"/>
	</statement>
</statements>