<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
	<statement type="stored" name="PKG_CONFIGURA_PANTALLA2.P_COPIA_CONJUNTO" id="copiaConjunto">
		<param eval="true" name="pv_cdconjunto_i" type="NUMERIC"><![CDATA[$!params.cdConjunto]]></param>
		<param eval="true" name="pv_cdelemento_dest_i" type="NUMERIC"><![CDATA[$!params.cdCliente]]></param>
		<param eval="true" name="pv_dsnombreconjunto_dest_i" type="VARCHAR"><![CDATA[$!params.nombreConjunto]]></param>
		<param eval="true" name="pv_dsdescconjunto_dest_i" type="VARCHAR"><![CDATA[$!params.descripcion]]></param>
		<outparam id="pv_cdconjunto_dest_o" type="NUMERIC"/>
		<outparam id="po_msg_id" type="NUMERIC"/>
		<outparam id="p_out_title" type="VARCHAR"/>	
	</statement>
</statements>
