<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
	<statement type="stored" name="PKG_CONFIGURA_PANTALLA2.P_GUARDA_PANTALLA" id="guardaPantalla">
		<param eval="true" name="pv_cdconjunto_i" type="NUMERIC"><![CDATA[$!params.cdConjunto]]></param>
		<inoutparam eval="true" name="pv_cdpantalla_io" id="pv_cdpantalla_io"  type="NUMERIC"><![CDATA[$!params.cdPantalla]]></inoutparam>
	    <param eval="true" name="pv_dsnombrepantalla_i" type="VARCHAR"><![CDATA[$!params.nombrePantalla]]></param>
		<param eval="true" name="pv_cdmaster_i" type="NUMERIC"><![CDATA[$!params.cdMaster]]></param>
		<param eval="true" name="pv_dsdescpantalla_i" type="VARCHAR"><![CDATA[$!params.descripcion]]></param>
		<param eval="true" name="pv_dsarchivo_i" type="VARCHAR"><![CDATA[$!params.dsArchivo]]></param>
		<param eval="true" name="PV_DSARCHIVOSEC_I" type="VARCHAR"><![CDATA[$!params.dsArchivoSec]]></param>
		<param eval="true" name="PV_DSCAMPOS_I" type="VARCHAR"><![CDATA[$!params.dsCampos]]></param>
		<param eval="true" name="pv_dslabel_i" type="VARCHAR"><![CDATA[$!params.dsLabels]]></param>
		<param eval="true" name="PV_CDSISROL_I" type="VARCHAR"><![CDATA[$!params.cdRol]]></param>

		<outparam id="po_msg_id" type="NUMERIC"/>
		<outparam id="p_out_title" type="VARCHAR"/>	
	</statement>
</statements>
