<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
	<statement type="stored" name="PKG_CONFIGURA_PANTALLA2.P_GUARDA_CONJUNTO" id="guardaConjunto">
		<inoutparam eval="true" name="pv_cdconjunto_io" id="pv_cdconjunto_io"  type="NUMERIC"><![CDATA[$!params.cdConjunto]]></inoutparam>
		<param eval="true" name="pv_cdelemento_i" type="NUMERIC"><![CDATA[$!params.cdCliente]]></param>
		<param eval="true" name="pv_cdproceso_i" type="NUMERIC"><![CDATA[$!params.cdProceso]]></param>
		<param eval="true" name="pv_cdramo_i" type="NUMERIC"><![CDATA[$!params.cdRamo]]></param>
		
		##
		<param eval="true" name="pv_cdtipsit_i" type="VARCHAR"><![CDATA[$!params.tipoSituacion]]></param>
		
		<param eval="true" name="pv_dsnombreconjunto_i" type="VARCHAR"><![CDATA[$!params.nombreConjunto]]></param>
		<param eval="true" name="pv_dsdescconjunto_i" type="VARCHAR"><![CDATA[$!params.descripcion]]></param>
		<outparam id="po_msg_id" type="NUMERIC"/>
		<outparam id="p_out_title" type="VARCHAR"/>	
	</statement>
</statements>
