<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 


#*

 <param eval="true" name="PV_CDMASTER_I" type="NUMERIC"><![CDATA[2]]></param>
     <param eval="true" name="PV_CDPROCESO_I" type="NUMERIC"><![CDATA[1]]></param>
     <param eval="true" name="PV_CDTIPO_I" type="NUMERIC"><![CDATA[3]]></param>
     <param eval="true" name="PV_PRODUCTO_I" type="NUMERIC"><![CDATA[777]]></param>

*#

<statements>
  <statement type="stored" name="PKG_CONFIGURA_PANTALLA2.P_OBTIENE_BOTONES" id="obtieneBotones">
     <param eval="true" name="PV_CDMASTER_I" type="NUMERIC"><![CDATA[$!params.cdMaster]]></param>
     <param eval="true" name="PV_CDPROCESO_I" type="NUMERIC"><![CDATA[$!params.cdProceso]]></param>
     <param eval="true" name="PV_CDTIPO_I" type="NUMERIC"><![CDATA[$!params.cdTipo]]></param>
     <param eval="true" name="PV_PRODUCTO_I" type="NUMERIC"><![CDATA[$!params.cdProducto]]></param>
     <param eval="true" name="PV_TIPO_BLOQUE" type="NUMERIC"><![CDATA[$!params.tipoBloque]]></param>
     
     <outparam id="PV_REGISTRO_O" type="CURSOR"/>     
     <outparam id="PV_MSG_ID_O" type="NUMERIC"/>
     <outparam id="PV_TITLE_O" type="VARCHAR"/>
  </statement>
</statements>