<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<statements>
	<statement type="stored" name="PKG_MENU.P_OBTIENE_OPCIONES" id="pObtieneOpciones">
		<param eval="true" name="PV_DSTITULO_I" type="VARCHAR"><![CDATA[$!params.get("cdTitulo")]]></param>
		<outparam id="pv_registro_o" type="CURSOR"/>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="NUMERIC"/>
		<outparam id="pv_text_o" type="VARCHAR"/>
</statement>
</statements>