<statements>
	<statement type="stored" name="PKG_TABAPOYO.P_OBTENER_VALORATT_TODO" id="pObtieneListaDeCargaManual">
		<param eval="true" name="PI_TABLA" type="VARCHAR">$!params</param>
		<param eval="true" name="PI_ATRIB_DESC" type="VARCHAR"></param>
		<param eval="true" name="PI_NOM_CLAVE01" type="VARCHAR"></param>
		<param eval="true" name="PI_NOM_CLAVE02" type="VARCHAR"></param>
		<param eval="true" name="PI_VAL_CLAVE02" type="VARCHAR"></param>
		<param eval="true" name="PI_NOM_CLAVE03" type="VARCHAR"></param>
		<param eval="true" name="PI_VAL_CLAVE03" type="VARCHAR"></param>
		<param eval="true" name="PI_NOM_CLAVE04" type="VARCHAR"></param>
		<param eval="true" name="PI_VAL_CLAVE04" type="VARCHAR"></param>
		<param eval="true" name="PI_NOM_CLAVE05" type="VARCHAR"></param>
		<param eval="true" name="PI_VAL_CLAVE05" type="VARCHAR"></param>
		
		<outparam id="PV_REGISTRO_O" type="CURSOR"/>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>		
		<outparam id="PV_TITLE_O" type="VARCHAR"/>	
	</statement>
</statements>