<statements>
	<statement type="stored" name="PKG_WIZARD.P_VALIDA_HIJOS_TATRIROL" id="pValidaHijosAtribVarRol">
		<param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.cdRamo</param>
		<param eval="true" name="pv_cdrol_i" type="VARCHAR">$!params.codigoRol</param>
		<param eval="true" name="pv_cdatribu_i" type="NUMERIC">$!params.codigoAtributoVariable</param>
		<outparam id="pv_existe_o" type="NUMERIC"/>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>		
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>