<statements>
	<statement type="stored" name="PKG_WIZARD.P_VALIDA_HIJOS_TATRISIT" id="pValidaHijosAtribVarRiesgo">
		<param eval="true" name="pv_cdtipsit_i" type="VARCHAR">$!params.codigoSituacion</param>
		<param eval="true" name="pv_cdatribu_i" type="NUMERIC">$!params.codigoAtributo</param>
		<outparam id="pv_existe_o" type="NUMERIC"/>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>		
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>