<statements>
	<statement type="stored" name="PKG_ENDOSOS.P_OBTIENE_DATOS_ENDOSOS" id="obtieneDatosEndoso">
		<param eval="true" name="pi_CDUNIECO_I" type="NUMERIC">$!params.cdunieco</param>
		<param eval="true" name="pi_CDRAMO_I"   type="NUMERIC">$!params.cdramo</param>
		<param eval="true" name="pi_ESTADO_I"   type="VARCHAR">$!params.estado</param>
		<param eval="true" name="pi_NMPOLIZA_I" type="NUMERIC">$!params.nmpoliza</param>
		<param eval="true" name="pi_NMSUPLEM_I" type="NUMERIC">$!params.nmsuplem</param>
		<param eval="true" name="pi_NSUPLOGI_I" type="NUMERIC">$!params.nsuplogi</param>
		<outparam id="pv_registro_o" type="CURSOR"/>
		<outparam id="pv_msg_id_o" type="VARCHAR"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>