<statements>
	<statement type="stored" name="PKG_ENDOSOS.P_CONFIRMAR_ENDOSO" id="tarificarGetValorEndoso">
		<param eval="true" name="PV_CDUNIECO_I" type="NUMERIC"><![CDATA[$!params.cdunieco]]></param>
		<param eval="true" name="PV_CDRAMO_I"   type="NUMERIC"><![CDATA[$!params.cdramo]]></param>
		<param eval="true" name="PV_ESTADO_I"   type="VARCHAR"><![CDATA[$!params.estado]]></param>
		<param eval="true" name="PV_NMPOLIZA_I" type="NUMERIC"><![CDATA[$!params.nmpoliza]]></param>
		<param eval="true" name="PV_NMSUPLEM_I" type="VARCHAR"><![CDATA[$!params.nmsuplem]]></param>
		<param eval="true" name="PV_NSUPLOGI_I" type="VARCHAR"><![CDATA[$!params.nsuplogi]]></param>
		<param eval="true" name="PV_CDTIPSUP_I" type="VARCHAR"><![CDATA[$!params.cdtipsup]]></param>
		<param eval="true" name="PV_DSCOMENT_I" type="VARCHAR"><![CDATA[$!params.dscoment]]></param>
		<outparam id="pv_nmsuplex_o"		type="VARCHAR"/>
		<outparam id="pv_msg_id_o"		type="VARCHAR"/>
		<outparam id="pv_title_o"		type="VARCHAR"/>
	</statement>
</statements>