
<statements>
	<statement type="stored" name="PACK_NEWALEA_FUNCIONES.P_Get_Importe_Preliquidado" id="pgetImportePreliquidado">
		<param eval="true" name="gblPlan" type="VARCHAR">$!params.get("piCdplan")</param>
		<param eval="true" name="gblPerpla" type="VARCHAR">$!params.get("piCdperpla")</param>
		<param eval="true" name="gblContre" type="VARCHAR">$!params.get("piCdcontre")</param>
		<param eval="true" name="gblReins" type="VARCHAR">$!params.get("piNmreins")</param>
		<outparam id="cursorImporte" type="CURSOR"/>
	</statement>
</statements>
