<statements>
	<statement type="stored" name="PACK_NEWALEA_FUNCIONES.P_Get_Suma_Prima_Grupo" id="pgetSumaPrimaGrupo">
		<outparam id="sumaPrima" type="NUMERIC"/>
		<param eval="true" name="gblUniEco" type="VARCHAR">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="gblRamo" type="VARCHAR">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="gblEstado" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="gblPoliza" type="VARCHAR">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="nmsituac1" type="VARCHAR">$!params.get("piNmsituac1")</param>
		<param eval="true" name="nmsituac2" type="VARCHAR">$!params.get("piNmsituac2")</param>
		<param eval="true" name="bndSuplem" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
		<param eval="true" name="cdtipcon2" type="VARCHAR">$!params.get("piCdtipcon")</param>
		<param eval="true" name="cdgrupo2" type="VARCHAR">$!params.get("piCdgrupo")</param>
	</statement>
</statements>
