<statements>
	<statement type="stored" name="PACK_NEWALEA_FUNCIONES.P_Get_Codigo_Tvalosit" id="pgetCodigoTVALOSIT">
		<outparam id="rowid2" type="VARCHAR"/>
		<param eval="true" name="gblUniEco" type="VARCHAR">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="gblRamo" type="VARCHAR">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="gblEstado" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="gblPoliza" type="VARCHAR">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="nmsituac2" type="VARCHAR">$!params.get("piNmsituac")</param>
		<param eval="true" name="gblSuplem" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
		<param eval="true" name="tipsit" type="VARCHAR">$!params.get("piCdtipsit")</param>
		<param eval="true" name="codigoAtributo" type="VARCHAR">$!params.get("piCdatribu")</param>
	</statement>
</statements>
