<statements>
	<statement type="stored" name="PACK_NEWALEA_FUNCIONES.P_Get_Existe_Capital" id="valExistCapital">
		<outparam id="existeCapital" type="VARCHAR"/>
		<param eval="true" name="gblUniEco" type="VARCHAR">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="gblRamo" type="VARCHAR">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="gblEstado" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="gblPoliza" type="VARCHAR">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="cdcapita2" type="VARCHAR">$!params.get("pi_CDCAPITA")</param>
		<param eval="true" name="bndSuplem" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
	</statement>
</statements>
