<statements>
	<statement type="stored" name="PACK_NEWALEA_DATOS_GENERALES.P_CACTORDEN_TRABAJO" id="pcapturaOrdenTrabajo">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_CDTIPROC" type="VARCHAR">$!params.get("pi_CDTIPROC")</param>
		<param eval="true" name="pi_NMORDTRAB" type="NUMERIC">$!params.get("pi_NMORDTRAB")</param>
		<param eval="true" name="pi_CDAGENTE" type="VARCHAR">$!params.get("pi_CDAGENTE")</param>
		<param eval="true" name="pi_CDAGENTE_AP" type="VARCHAR">$!params.get("pi_CDAGENTE_AP")</param>
		<param eval="true" name="pi_CDUSUARI" type="VARCHAR">$!params.get("pi_CDUSUARI")</param>				
		<param eval="true" name="pi_CDSUBPRO" type="VARCHAR">$!params.get("pi_CDSUBPRO")</param>
		<param eval="true" name="pi_DSRECHAZ" type="VARCHAR">$!params.get("pi_DSRECHAZ")</param>
		<outparam id="po_WCDPROCES" type="VARCHAR"/>
		<outparam id="po_NMOPERACNT" type="VARCHAR"/>
		<outparam id="po_CDAGTEANT" type="VARCHAR"/>
		<outparam id="po_CDPROCESM" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
