<statements>
	<statement type="stored" name="PACK_NEWALEA_DATOS_GENERALES.P_ESTRUC_REGLA_CALCULO" id="pEstructuraReglaCalculo">
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_B1B_C18" type="VARCHAR">$!params.get("pi_B1B_C18")</param>
		<outparam id="rc_cursor" type="CURSOR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
