<statements>
	<statement type="stored" name="PACK_NEWALEA_DATOS_GENERALES.P_GET_REGLA_CALCULO" id="pgetReglaCalculo">
		<param eval="true" name="pi_NMTABLA" type="NUMERIC">$!params.get("pi_NMTABLA")</param>
		<param eval="true" name="pi_OTCLAVE1" type="VARCHAR">$!params.get("pi_OTCLAVE1")</param>
		<param eval="true" name="pi_OTCLAVE2" type="VARCHAR">$!params.get("pi_OTCLAVE2")</param>
		<param eval="true" name="pi_OTCLAVE3" type="VARCHAR">$!params.get("pi_OTCLAVE3")</param>
		<param eval="true" name="pi_OTCLAVE4" type="VARCHAR">$!params.get("pi_OTCLAVE4")</param>
		<param eval="true" name="pi_OTCLAVE5" type="VARCHAR">$!params.get("pi_OTCLAVE5")</param>
		<outparam id="po_OTVALOR01" type="VARCHAR"/>
		<outparam id="po_OTVALOR02" type="VARCHAR"/>
		<outparam id="po_OTVALOR03" type="VARCHAR"/>
		<outparam id="po_OTVALOR04" type="VARCHAR"/>
		<outparam id="po_OTVALOR05" type="VARCHAR"/>
		<outparam id="po_OTVALOR06" type="VARCHAR"/>
		<outparam id="po_OTVALOR07" type="VARCHAR"/>
		<outparam id="po_OTVALOR08" type="VARCHAR"/>
		<outparam id="po_OTVALOR09" type="VARCHAR"/>
		<outparam id="po_OTVALOR10" type="VARCHAR"/>
		<outparam id="po_OTVALOR11" type="VARCHAR"/>
		<outparam id="po_OTVALOR12" type="VARCHAR"/>
		<outparam id="po_OTVALOR13" type="VARCHAR"/>
		<outparam id="po_OTVALOR14" type="VARCHAR"/>
		<outparam id="po_OTVALOR15" type="VARCHAR"/>
		<outparam id="po_OTVALOR16" type="VARCHAR"/>
		<outparam id="po_OTVALOR17" type="VARCHAR"/>
		<outparam id="po_OTVALOR18" type="VARCHAR"/>
		<outparam id="po_OTVALOR19" type="VARCHAR"/>
		<outparam id="po_OTVALOR20" type="VARCHAR"/>
		<outparam id="po_OTVALOR21" type="VARCHAR"/>
		<outparam id="po_OTVALOR22" type="VARCHAR"/>
		<outparam id="po_OTVALOR23" type="VARCHAR"/>
		<outparam id="po_OTVALOR24" type="VARCHAR"/>
		<outparam id="po_OTVALOR25" type="VARCHAR"/>
		<outparam id="po_OTVALOR26" type="VARCHAR"/>
		<outparam id="po_FEDESDE" type="VARCHAR"/>
		<outparam id="po_FEHASTA" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
