<statements>
	<statement type="stored" name="PACK_NEWALEA_DATOS_GENERALES.P_VALIDA_AGENTE" id="pvalAgente">
		<param eval="true" name="pi_CDAGENTE" type="VARCHAR">$!params.get("pi_CDAGENTE")</param>
		<param eval="true" name="pi_FEEFECTO" type="DATE">$!params.get("pi_FEEFECTO")</param>
		<outparam id="po_DSAGENTE" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
