<statements>
	<statement type="stored" name="PACK_NEWALEA_DATOS_GENERALES.P_validaSeccionTatripol" id="pvalSeccionTatripol">
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_NMSECCIO" type="NUMERIC">$!params.get("pi_NMSECCIO")</param>
		<outparam id="po_TATRIPOL" type="NUMERIC"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
