<statements>
	<statement type="stored" name="PKG_MENU.P_ELIMINA_OPCION" id="borraConfiguraOpcionMenu">		
		<param eval="true" name="PV_CDMENU_I" type="NUMERIC">$!params.menu</param>
		<param eval="true" name="PV_CDNIVEL_I" type="NUMERIC">$!params.nivel</param>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="NUMERIC"/>
		<outparam id="PV_TEXT_O" type="VARCHAR"/>
	</statement>
</statements>

