<statements>
  <statement type="stored" name="PKG_LISTAS.P_TIPO_SITUACION" id="tipos_situacion">
    <param eval="true" name="PV_CDRAMO_I" type="NUMERIC">$!params.get("idRamo")</param>
  
    <outparam id="PV_REGISTRO_O" type="CURSOR"/>
    <outparam id="PV_MSG_ID_O" type="NUMERIC"/>  
    <outparam id="PV_TITLE_O" type="VARCHAR"/> 
  </statement>
</statements>