<statements>
	<statement type="stored" name="PACK_NEWALEA_INCISOS.P_B5_VALIDAR_NMSITUAC" id="pvalSituacionB5">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
       <inoutparam eval="true" name="pi_NMSITUAC" id="pi_NMSITUAC" type="NUMERIC">$!params.get("pi_NMSITUAC")</inoutparam>
		<param eval="true" name="pi_NMSITUAC_ANT" type="NUMERIC">$!params.get("pi_NMSITUAC_ANT")</param>
		<param eval="true" name="pi_COLECTIVO" type="VARCHAR">$!params.get("pi_COLECTIVO")</param>
		<param eval="true" name="pi_VALMIN_COLECTIVO" type="VARCHAR">$!params.get("pi_VALMIN_COLECTIVO")</param>
		<param eval="true" name="pi_INDIC_REG" type="VARCHAR">$!params.get("pi_INDIC_REG")</param>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
