<statements>
	<statement type="stored" name="PKG_MENU.P_COPIA_MENU" id="copiaConfiguraMenu">
		<param eval="true" name="PV_CDMENU_I" type="NUMERIC">$!params.claveMenu</param>
		<param eval="true" name="PV_DSMENU_EST_I" type="VARCHAR">$!params.nombreMenu</param>
		<param eval="true" name="PV_CDELEMENTO_I" type="NUMERIC">$!params.claveCliente</param>
		<param eval="true" name="PV_CDROL_I" type="VARCHAR">$!params.claveRol</param>
		<param eval="true" name="PV_CDUSUARIO_I" type="VARCHAR">$!params.claveUsuario</param>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="NUMERIC"/>
		<outparam id="PV_TEXT_O" type="VARCHAR"/>
	</statement>
</statements>
