<?xml version="1.0" encoding="ISO-8859-1"?>
<statements>

    <statement type="update">
        UPDATE MPOLICED
        SET DSLINEA = empty_clob()
        WHERE
            CDUNIECO = $params.CDUNIECO
            AND CDRAMO   = $params.CDRAMO
            AND ESTADO   = $params.ESTADO
            AND NMPOLIZA = $params.NMPOLIZA
            AND NMSITUAC = $params.NMSITUAC
            AND NMSUPLEM = $params.NMSUPLEM
            AND NMORDINA = $params.NMORDINA
    </statement>

    <statement type="setClobNotNull" remoteEval="true">
        <query remoteEval="true">
            SELECT DSLINEA
            FROM  MPOLICED        
            WHERE 
                CDUNIECO = $params.CDUNIECO
                AND CDRAMO   = $params.CDRAMO
                AND ESTADO   = $params.ESTADO
                AND NMPOLIZA = $params.NMPOLIZA
                AND NMSITUAC = $params.NMSITUAC
                AND NMSUPLEM = $params.NMSUPLEM
                AND NMORDINA = $params.NMORDINA
            FOR UPDATE        
        </query>
        <clob>
            <![CDATA[
                $params.TEXTO_DSOBJLOB
            ]]>
        </clob>
    </statement>


</statements>