items:[{
    xtype:"fieldset",
    title:'<span style="color:#98012e;font-size:11px;font-family:Arial,Helvetica,sans-serif;">Legend</span>',
    autoHeight:true,
    items:[{
        fieldLabel:"¿Que desea Cotizar?",
        emptyText:"Seleccione...",
        xtype:"combo",        
        name:"proceso",
        hiddenName:"hproceso",
        listWidth : 200,
	    width: 200,
        id:"proceso",
        typeAhead : true,
        store: new Ext.data.Store({
	                proxy: new Ext.data.HttpProxy({
	                 url: 'flujocotizacion/obtenerListaCombo.action'
	            }),
	            reader: new Ext.data.JsonReader({
	            root: 'itemList',
	            id: 'value'
	            },[
	           {name: 'value', type: 'string', mapping:'value'},
	           {name: 'label', type: 'string', mapping:'label'}  
	             ]),
	            remoteSort: true,
	            baseParams: {endPointName: 'OBTIENE_PROCESOS' },
	            sortInfo:{ field:'value', direction:'DESC' }
        }),
        displayField:"label",
        valueField:"value", 
        triggerAction: "all",
        mode:'local', 
        editable:true
      },{
      	triggerAction: "all",
      	typeAhead : true,
     	emptyText:"Seleccione...",
     	editable:true,
        xtype:"combo",
        listWidth : 200,
	    width: 200,
        fieldLabel:"Marca",
        displayField:"label",
        name:"cliente",
        id:"cliente",
        valueField:"value", 
        store: new Ext.data.Store({
	           proxy: new Ext.data.HttpProxy({
	               // url: 'flujocotizacion/obtenerListaCombo.action'+'?endPointName=OBTIENE_CLIENTES_CORPO'
	                 url: 'flujocotizacion/obtenerListaCombo.action'
	           }),
	            reader: new Ext.data.JsonReader({
	            root: 'itemList',
	            id: 'value'
	            },[
	           {name: 'value', type: 'string',mapping:'cdCliente'},
	           {name: 'label', type: 'string',mapping:'dsCliente'}    
	            ]),
	            remoteSort: true,
	            baseParams: {endPointName: 'OBTIENE_CLIENTES_CORPO' },
	            sortInfo:{ field:'value', direction:'DESC' }
        }),
        hiddenName:"hcliente",
        mode:'local'
        
      },{
        xtype:"combo",
        name: 'producto',
	     id: 'producto',
	     fieldLabel: 'Modelo',
	     store: storeProducto,
	     displayField:'label',
	     hiddenName: 'hproducto',  
	     valueField:'value',
	     typeAhead: true,
	     listWidth : 200,
	     width: 200,
	     mode: 'local',
	     triggerAction: 'all',
	     emptyText:'Seleccione...',
	     selectOnFocus:true,
	     editable:true
	   
        
      }]
   },{
    xtype:"textfield",
    fieldLabel:"Descripcion",
    id:"descripcion",
    name:"descripcion"
  }]
  ,buttons: [{  
	      	xtype: 'button',
	      	text:'Cotizar',
	        id:'cotizar', ///grid consulta
	        handler: function() {
	        	if (simple.form.isValid()) {
                	simple.form.submit({                 
                    waitMsg:'Procesando...',
                                        
                    failure: function(form, action) {
                       // Ext.MessageBox.alert('Error', 'Se produjo un error'); 
                        window.location  = 'resultadoCotizacion.action';                                                      
                     },
                     success: function(form, action) {
                       window.location  = 'resultadoCotizacion.action';                         
                     }
                });                   
           		} else{
                 	Ext.MessageBox.alert('Error', 'Se produjo error');
            	}  
	       }//end handler
    },{
    		xtype: 'button',
	      	text:'Cotizar',
	        id:'cotizar2', ///grid editable fila
	        handler: function() {
    
			    if (simple.form.isValid()) {
			                simple.form.submit({                 
			                      waitMsg:'Procesando...',
			                                        
			                      failure: function(form, action) {
			                       // Ext.MessageBox.alert('Error', 'Se produjo un error'); 
			                        window.location  = 'resultadoCotizacionEditable.action';                                                      
			                     },
			                     success: function(form, action) {
			                       window.location  = 'resultadoCotizacionEditable.action';                         
			                     }
			                });                   
			            } else{
			                 Ext.MessageBox.alert('Error', 'Se produjo error');
			            }  
			        
    
     		}//end handler
    },{
    		xtype: 'button',
	      	text:'Cotizar',
	        id:'cotizar3', //GRID MATRIZ CELDA
	        handler: function() {
			       if (simple.form.isValid()) {
			                simple.form.submit({                 
			                      waitMsg:'Procesando...',
			                                        
			                      failure: function(form, action) {
			                       // Ext.MessageBox.alert('Error', 'Se produjo un error'); 
			                        window.location  = 'resultadoCotizacionMatriz.action';                                                      
			                     },
			                     success: function(form, action) {
			                       window.location  = 'resultadoCotizacionMatriz.action';                         
			                     }
			                });                   
			            } else{
			                 Ext.MessageBox.alert('Error', 'Se produjo error');
			            }  
			}//end handler
    },{
    		xtype: 'button',
	      	text:'Limpiar',
	        id:'cancel',
	        handler: function() {
   
		         simple.form.reset();
		         simple.form.load({ 
		                    url:'flujocotizacion/limpiar.action'
		                            });
   		}//end handler
   }]
   ,listeners: {
            beforerender  : function() {
                        
                        Ext.getCmp('proceso').store.load();
                        Ext.getCmp('cliente').store.load();
                        getRegistro();
                        storeRegistro.on('load', function(){
                        if(storeRegistro.getTotalCount()==null || storeRegistro.getTotalCount()==""){
                        }else{
		                       var record = storeRegistro.getAt(0);
		                       var idCliente = record.get('cliente');
		                       var pr = record.get('producto');
		                       
		                        Ext.getCmp('producto').clearValue();
							    storeProducto.baseParams['comboId'] = record.get('cliente');
							    storeProducto.load({
							                  callback : function(r,options,success) {
							                  Ext.getCmp('producto').setValue(record.get('producto'));
							                  Ext.getCmp('cliente').setValue(record.get('cliente'));
							                      if (!success) {
							                          Ext.MessageBox.alert('Aviso','No se encontraron registros');  
							                         storeProducto.removeAll();
							                      }
							                  }
							
							     });
		                       
		                    
		                        simple.getForm().loadRecord(record);
                       }    
                      
                 });
          }//beforerender
       }//listeners
  