<statements>
	<statement type="stored" name="PKG_WIZARD.P_INSERTA_SUMA_ASEGURADA" id="pInsertaSumaAsegInciso">
		<param eval="true" name="PV_CDRAMO_I" type="NUMERIC">$!params.codigoRamo</param>
		<param eval="true" name="PV_CDCAPITA_I" type="NUMERIC">$!params.codigoCapital</param>
		<param eval="true" name="PV_CDTIPCAP_I" type="VARCHAR">$!params.codigoTipoCapital</param>
		<param eval="true" name="PV_DSCAPITA_I" type="VARCHAR">$!params.descripcionCapital</param>
		<param eval="true" name="PV_CDGARANT_I" type="VARCHAR">$!params.codigoCobertura</param>
		<param eval="true" name="PV_CDPRESEN_I" type="NUMERIC">$!params.codigoLeyenda</param>
		<param eval="true" name="PV_CDTIPSIT_I" type="VARCHAR">$!params.codigoTipoSituacion</param>
		<param eval="true" name="PV_OTTABVAL_I" type="VARCHAR">$!params.codigoListaValor</param>
		<param eval="true" name="PV_SWREAUTO_I" type="VARCHAR">$!params.switchReinstalacion</param>
		<param eval="true" name="pv_cdexpdef_i" type="NUMERIC">$!params.codigoExpresion</param>		
		<outparam id="PV_CDCAPITA_O" type="NUMERIC"/>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>		
</statement>
</statements>