<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CONFPAGINA.P_GUARDA_PAGINA" id="guarda-pagina">
	<!--	<param eval="true" name="PV_CDCONFIG_I" type="NUMERIC">$!params.claveConfiguracion</param>
		<param eval="true" name="PV_DSCONFIG_I" type="VARCHAR">$!params.paginaNombre</param>
		<param eval="true" name="PV_CDELEMENTO_I" type="NUMERIC">$!params.claveClienteInsert</param>
		<param eval="true" name="PV_CDROL_I" type="VARCHAR">$!params.claveRolInsert</param>		
		<outparam id="pv_msg_id_o" type="NUMERIC"/>		
		<outparam id="pv_title_o" type="VARCHAR"/>
	-->	
	<param eval="true" name="PV_CDCONFIG_I" type="NUMERIC">$!params.get("claveConfiguracion")</param>
	<param eval="true" name="PV_DSCONFIG_I" type="VARCHAR"><![CDATA[$!params.get("paginaNombre")]]></param>
	<param eval="true" name="PV_CDELEMENTO_I" type="NUMERIC">$!params.get("claveClienteInsert")</param>
	<param eval="true" name="PV_CDROL_I" type="VARCHAR"><![CDATA[$!params.get("claveRolInsert")]]></param>		
	<outparam id="pv_msg_id_o" type="NUMERIC"/>		
	<outparam id="pv_title_o" type="VARCHAR"/>	
		
	</statement>
</statements>