<statements>
	<statement type="stored" name="PKG_LISTAS.P_CLIENTES_CORPO_SP" id="clientes">
		<outparam id="pv_registro_o" type="CURSOR"/>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
