<statements>
	<statement type="stored" name="PKG_WIZARD.P_BORRA_TATRISIT" id="pBorraTatriSit">
		<param eval="true" name="pv_cdtipsit_i" type="VARCHAR">$!params.codigoSituacion</param>
		<param eval="true" name="pv_cdatribu_i" type="NUMERIC">$!params.claveCampo</param>
		
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
</statement>
</statements>