<statements>
	<statement type="stored" name="PACK_NEWALEA_UTILITY.P_GENERA_SUPLEMENTO_FISICO" id="pgeneraSuplFisico">
       <inoutparam eval="true" name="Gv_Identificador_Error" id="Gv_Identificador_Error" type="VARCHAR">$!params.get("pIderror")</inoutparam>
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_FECHA" type="DATE">$!params.get("pi_FECHA")</param>
		<param eval="true" name="pi_HHINIVAL" type="VARCHAR">$!params.get("pi_HHINIVAL")</param>
		<outparam id="po_NMSUPLEM" type="VARCHAR"/>
	</statement>
</statements>
