<statements>
	<statement type="stored" name="PACK_NEWALEA_UTILITY.P_EXISTE_PERSONA" id="valExistPersona">
		<param eval="true" name="pi_CDPERSON" type="NUMERIC">$!params.get("piCdperson")</param>
		<outparam id="po_DSNOMBRE" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
