<statements>
	<statement type="stored" name="PKG_WIZARD.p_insertproduct" id="pInsertProduct">
		<param eval="true" name="P_CDRAMO" type="NUMERIC">$!params.codigoRamo</param>
		<param eval="true" name="P_DSRAMO" type="VARCHAR"><![CDATA[$!params.descripcionRamo]]></param>
		<param eval="true" name="P_CDTIPRAM" type="VARCHAR">$!params.codigoTipoRamo</param>
		<param eval="true" name="P_CDTIPORA" type="VARCHAR">$!params.codigoTipoParametro</param>
		<param eval="true" name="P_SWSUSCRI" type="VARCHAR">$!params.switchSuscripcion</param>
		<param eval="true" name="P_SWNFLAC" type="VARCHAR">N</param>
		<param eval="true" name="P_SWNCLNT" type="VARCHAR">$!params.switchClausulasNoTipificadas</param>
		
		<param eval="true" name="P_TTIPCALC" type="NUMERIC">$!params.tipoCalculoPolizasTemporales</param>
		<param eval="true" name="P_SWRESCAT" type="VARCHAR">N</param>
		<param eval="true" name="P_MMRESCAT" type="NUMERIC"></param>
		<param eval="true" name="P_SWREDUCI" type="VARCHAR">N</param>
		<param eval="true" name="P_MMREDUCI" type="NUMERIC"></param>
		<param eval="true" name="P_SWREHABI" type="VARCHAR">$!params.switchRehabilitacion</param>
		<param eval="true" name="P_MMBENEFI" type="NUMERIC">$!params.mesesBeneficios</param>
		
		<param eval="true" name="P_SWANTICI" type="VARCHAR">N</param>
		<param eval="true" name="P_MMANTICI" type="VARCHAR"></param>
		<param eval="true" name="P_SWBENEFI" type="VARCHAR">N</param>
		<param eval="true" name="P_SWPRIPER" type="VARCHAR">$!params.switchPrimasPeriodicas</param>
		<param eval="true" name="P_SWSINOMN" type="VARCHAR">$!params.switchPermisoPagosOtrasMonedas</param>
		<param eval="true" name="P_SWFRONTI" type="VARCHAR">N</param>
		<param eval="true" name="P_SWREASEG" type="VARCHAR">$!params.switchReaseguro</param>
		<param eval="true" name="P_SWSINSIT" type="VARCHAR">$!params.switchSiniestros</param>
		<param eval="true" name="P_SWTARIFA" type="VARCHAR">$!params.switchTarifa</param>
		<param eval="true" name="P_SWREAUTO" type="VARCHAR">$!params.switchReinstalacionAutomatica</param>
		<param eval="true" name="P_SWPRIUNI" type="VARCHAR">$!params.switchPrimasUnicas</param>
		
		<param eval="true" name="P_SWINDPER" type="VARCHAR">$!params.switchDistintasPolizasPorAsegurado</param>
		
		<param eval="true" name="P_SWPOLDEC" type="VARCHAR">$!params.switchPolizasDeclarativas</param>
		<param eval="true" name="P_SWCOASEG" type="VARCHAR">N</param>
		<param eval="true" name="P_SWPRECAR" type="VARCHAR">N</param>
		<param eval="true" name="P_SWTIPO" type="VARCHAR">N</param>
		<param eval="true" name="P_SWRESERV" type="VARCHAR">N</param>
		<param eval="true" name="P_SWCMPTDI" type="VARCHAR">$!params.switchTarifaDireccionalTotal</param>
		
		<param eval="true" name="P_NMPREREC" type="NUMERIC">$!params.cantidadDiasReclamacion</param>
		
		<param eval="true" name="P_SWDIPACO" type="VARCHAR">N</param>
		<param eval="true" name="P_SWSUBINC" type="VARCHAR">$!params.switchSubincisos</param>
		<param eval="true" name="P_TRAZA" type="VARCHAR"></param>
		<param eval="true" name="pv_cdtippol_i" type="NUMERIC">$!params.codigoTipoSeguro</param>
		<param eval="true" name="pv_cdcaltippol_i" type="NUMERIC"><![CDATA[$!params.codigoTipoPoliza]]></param>
		<param eval="true" name="P_DSLINEA" type="VARCHAR"><![CDATA[$!params.descripcion]]></param>
		<param eval="true" name="pv_swcancel_i" type="VARCHAR"><![CDATA[$!params.switchCancelacion]]></param>
		<param eval="true" name="pv_swendoso_i" type="VARCHAR"><![CDATA[$!params.switchEndosos]]></param>
		<outparam id="pv_cdramo_o" type="NUMERIC"/>
		<outparam id="PO_MSG_ID" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>			
</statement>
</statements>