<statements>
	<statement type="stored" name="PKG_WIZARD.P_LOADPRODUCTO" id="pLoadProducto">
		<param eval="true" name="PV_CDTIPORA" type="NUMERIC"></param>
		
		<outparam id="PV_REGISTRO_O" type="CURSOR"/>
		<outparam id="PO_MSG_ID_O" type="NUMERIC"/>	
		<outparam id="PV_TITLE_O" type="VARCHAR"/>	
</statement>
</statements>
