<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
	<statement type="stored" name="PKG_LISTAS.P_PRODUCTOS" id="obtenerProducto">
		<param eval="true" name="pv_cdunieco_i" type="VARCHAR"></param>
  		<param eval="true" name="pv_cdelemento_i" type="VARCHAR"><![CDATA[$!params.get("ID_CLIENTE")]]></param>
  		<param eval="true" name="pv_cdramo_i" type="VARCHAR"></param>
		<outparam id="po_registro" type="CURSOR"/>
		<outparam id="po_msg_id" type="NUMERIC"/>
		<outparam id="p_out_title" type="VARCHAR"/>
		
	</statement>
</statements>