<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
		
	<statement type="stored" name="PKG_LISTAS.P_BANCOS_SUCURSAL" id="obtenerSucursales">
        	<param eval="true" name="pv_cdbanco_i"	type="VARCHAR"><![CDATA[$!params]]></param>
        	
        	<outparam id="po_registro" type="CURSOR"/>		
			<outparam id="po_msg_id" type="NUMERIC"/>
        	<outparam id="po_title" type="VARCHAR"/>
	</statement>	
	    
</statements>