<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
	<statement type="stored" name="PKG_LISTAS.P_GET_LISTAS" id="obtenerLista">
		<param eval="true" name="pv_cdtabla_i" type="VARCHAR"><![CDATA[$!params.get("OTTABVAL")]]></param>
  		<param eval="true" name="pv_valanter_i" type="VARCHAR"><![CDATA[$!params.get("VAL_ANTERIOR")]]></param>
  		<param eval="true" name="pv_valantant_i" type="VARCHAR"><![CDATA[$!params.get("VAL_ANTANT")]]></param>
  		<outparam id="po_registro" type="CURSOR"/>
		<outparam id="po_msg_id" type="NUMERIC"/>
		<outparam id="p_out_title" type="VARCHAR"/>
		
	</statement>
</statements>