<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    <!--
    <bean id="configuradorPantallasManager" class="mx.com.aon.configurador.pantallas.service.impl.ConfiguradorPantallaServiceImpl">
        <property name="endpoints">
            <map>
                <entry key="BUSCA_CONJUNTOS_PANTALLAS">
                    <ref bean="BUSCA_CONJUNTOS_PANTALLAS" />
                </entry>
                
                 <entry key="OBTIENE_CONJUNTO_PANTALLA">
                    <ref bean="OBTIENE_CONJUNTO_PANTALLA" />
                </entry>
                
                <entry key="OBTIENE_PANTALLAS">
                    <ref bean="OBTIENE_PANTALLAS" />
                </entry>
                
                <entry key="GUARDAR_CONJUNTO">
                    <ref bean="GUARDAR_CONJUNTO" />
                </entry>
                
                <entry key="OBTIENE_PANTALLA">
                    <ref bean="OBTIENE_PANTALLA" />
                </entry>
                
                <entry key="GUARDAR_PANTALLA">
                    <ref bean="GUARDAR_PANTALLA" />
                </entry>
                
                <entry key="ELIMINAR_PANTALLA">
                    <ref bean="ELIMINAR_PANTALLA" />
                </entry>
                  
                <entry key="COPIAR_CONJUNTO">
                    <ref bean="COPIAR_CONJUNTO" />
                </entry>
                
                 <entry key="COPIAR_PANTALLA">
                    <ref bean="COPIAR_PANTALLA" />
                </entry>
             
                
                <entry key="OBTIENE_MASTERS">
                    <ref bean="OBTIENE_MASTERS" />
                </entry>
                
                 <entry key="ACTIVA_CONJUNTO">
                    <ref bean="ACTIVA_CONJUNTO" />
                </entry>
                
                
                <entry key="CARGA_ATRIBUTOS_PANTALLA">
                    <ref bean="CARGA_ATRIBUTOS_PANTALLA" />
                </entry>
                

				Este bean va comentado
                <entry key="CARGA_ATRIBUTOS_PROPIEDADES">
                    <ref bean="CARGA_ATRIBUTOS_PROPIEDADES" />
                </entry>





            </map>
        </property>
    </bean>
    -->
</beans>
