<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <!-- <bean id="mediaDAOJdbc" class="mx.com.aon.catbo.dao.MediaDAOImpl">
       <property name="dataSource" ref="dataSource" />
        <property name="lobHandler"><ref bean="oracleLobHandler"/></property>
        <property name="processResultManager">
            <ref bean="processResultManager"/>
        </property>
    </bean>  
    <bean id="faxDAOJdbc" class="mx.com.aon.catbo.dao.FaxDAOImpl">
       <property name="dataSource" ref="dataSource" />
        <property name="lobHandler"><ref bean="oracleLobHandler"/></property>
        <property name="processResultManager">
            <ref bean="processResultManager"/>
        </property>
	</bean> -->
    
</beans>