<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="endosoManager"
        class="mx.com.aon.flujos.endoso.service.impl.EndosoManagerImpl">
        <property name="endpoints">
            <map>
            	
            	<entry key="OBTIENE_MENSAJE">
                    <ref bean="OBTIENE_MENSAJE" />
                </entry>
                <entry key="OBTIENE_POLIZAS">
                    <ref bean="OBTIENE_POLIZAS" />
                </entry>
                <entry key="OBTIENE_POLIZA_DETALLE">
                    <ref bean="OBTIENE_POLIZA_DETALLE" />
                </entry>
                <entry key="OBTIENE_OBJETO_ASEGURABLE">
                    <ref bean="OBTIENE_OBJETO_ASEGURABLE" />
                </entry>
                <entry key="OBTIENE_FUNCION_POLIZA">
                    <ref bean="OBTIENE_FUNCION_POLIZA" />
                </entry>
                <entry key="EMISION_OBTIENE_RECIBOS">
                    <ref bean="EMISION_OBTIENE_RECIBOS" />
                </entry>
                <entry key="OBTIENE_PANTALLA_POLIZA">
                    <ref bean="OBTIENE_PANTALLA_POLIZA" />
                </entry>
                <entry key="OBTIENE_DATOS_ADICIONALES">
                    <ref bean="OBTIENE_DATOS_ADICIONALES" />
                </entry>
                <entry key="EMISION_OBTIENE_DATOS_ROL">
                    <ref bean="EMISION_OBTIENE_DATOS_ROL" />
                </entry>
                <entry key="EMISION_OBTIENE_DATOS_ROL_EXT">
                    <ref bean="EMISION_OBTIENE_DATOS_ROL_EXT" />
                </entry>
                <entry key="EMISION_OBTIENE_DATOS_COBERTURAS">
                    <ref bean="EMISION_OBTIENE_DATOS_COBERTURAS" />
                </entry>
                <entry key="EMISION_OBTIENE_DATOS_ACCESORIOS">
                    <ref bean="EMISION_OBTIENE_DATOS_ACCESORIOS" />
                </entry>
                <entry key="EMISION_DATOS_INCISOS">
                    <ref bean="EMISION_DATOS_INCISOS" />
                </entry>
                <entry key="EMISION_GRID_COBERTURA_INCISOS">
                    <ref bean="EMISION_GRID_COBERTURA_INCISOS" />
                </entry>
                <entry key="ENDOSOS_GRID_COBERTURA_INCISOS">
                    <ref bean="ENDOSOS_GRID_COBERTURA_INCISOS" />
                </entry>
                <entry key="ENDOSOS_GRID_ACCESORIOS_INCISOS">
                    <ref bean="ENDOSOS_GRID_ACCESORIOS_INCISOS" />
                </entry>
                <entry key="ENDOSOS_DATOS_INCISOS">
                    <ref bean="ENDOSOS_DATOS_INCISOS" />
                </entry>
                <entry key="ENDOSOS_DATOS_ROL_EXT">
                    <ref bean="ENDOSOS_DATOS_ROL_EXT" />
                </entry>
                <entry key="ENDOSO_OBTIENE_AGRUPADORES">
                    <ref bean="ENDOSO_OBTIENE_AGRUPADORES" />
                </entry>
                 <entry key="OBTIENE_TARIFICACION_ENDOSOS_POLIZA">
                    <ref bean="OBTIENE_TARIFICACION_ENDOSOS_POLIZA" />
                </entry>
                <entry key="BORRA_ENDOSO_RESUMEN_TARIFICACION">
                    <ref bean="BORRA_ENDOSO_RESUMEN_TARIFICACION" />
                </entry>
                <entry key="REVERSA_MAQUILLA">
                    <ref bean="REVERSA_MAQUILLA" />
                </entry>
                <entry key="OBTIENE_MPOLIAGR">
                    <ref bean="OBTIENE_MPOLIAGR" />
                </entry>
                <entry key="ENDOSO_GENERA_SUPL_LOGICO">
                    <ref bean="ENDOSO_GENERA_SUPL_LOGICO" />
                </entry>
                <entry key="ENDOSO_GENERA_SUPL_FISICO">
                    <ref bean="ENDOSO_GENERA_SUPL_FISICO" />
                </entry>
                <entry key="ENDOSO_ACTUALIZA_FECHAS">
                    <ref bean="ENDOSO_ACTUALIZA_FECHAS" />
                </entry>
                <entry key="GUARDA_DATOS_ENDOSO">
                    <ref bean="GUARDA_DATOS_ENDOSO" />
                </entry>
                <entry key="GUARDA_DATOS_ENDOSO_TARJETA">
                    <ref bean="GUARDA_DATOS_ENDOSO_TARJETA" />
                </entry>
                <entry key="GUARDA_DATOS_ENDOSO_POLIAGR">
                    <ref bean="GUARDA_DATOS_ENDOSO_POLIAGR" />
                </entry>
                <entry key="ENDOSOS_OBTIENE_DATOS_ADICIONALES_POLIZA">
                    <ref bean="ENDOSOS_OBTIENE_DATOS_ADICIONALES_POLIZA" />
                </entry>
                <entry key="ENDOSOS_OBTIENE_DATOS_COBERTURAS">
                    <ref bean="ENDOSOS_OBTIENE_DATOS_COBERTURAS" />
                </entry>
                <entry key="ENDOSOS_OBTIENE_DATOS_ACCESORIOS">
                    <ref bean="ENDOSOS_OBTIENE_DATOS_ACCESORIOS" />
                </entry>
                <entry key="ENDOSOS_OBTIENE_COMBOS">
                    <ref bean="ENDOSOS_OBTIENE_COMBOS" />
                </entry>
                <entry key="ENDOSOS_DATOS_INCISOS_COMBOS">
                    <ref bean="ENDOSOS_DATOS_INCISOS_COMBOS" />
                </entry>
                <entry key="ENDOSOS_OBTIENE_DATOS_ADICIONALES_COMBO">
                    <ref bean="ENDOSOS_OBTIENE_DATOS_ADICIONALES_COMBO" />
                </entry>
                <entry key="ENDOSOS_OBTIENE_DATOS_POLIZA">
                    <ref bean="ENDOSOS_OBTIENE_DATOS_POLIZA" />
                </entry>
                <entry key="ENDOSOS_VAL_POLIZA_CANCEL">
                    <ref bean="ENDOSOS_VAL_POLIZA_CANCEL" />
                </entry>
                <entry key="ENDOSOS_BAJA_INCISO">
                    <ref bean="ENDOSOS_BAJA_INCISO" />
                </entry>
                <entry key="OBTIENE_VALOR_ATRIBUTO_COBERTURA">
                    <ref bean="OBTIENE_VALOR_ATRIBUTO_COBERTURA" />
                </entry>
                <entry key="OBTIENE_TIPOS_ITEMS_ATRIBUTOS_ACCESORIOS">
                    <ref bean="OBTIENE_TIPOS_ITEMS_ATRIBUTOS_ACCESORIOS" />
                </entry>
                <entry key="OBTIENE_COMBOS_ITEMS_ATRIBUTOS_ACCESORIOS">
                    <ref bean="OBTIENE_COMBOS_ITEMS_ATRIBUTOS_ACCESORIOS" />
                </entry>
                <entry key="OBTIENE_LISTA_TIPO_PRODUCTO_ACCESORIOS">
                    <ref bean="OBTIENE_LISTA_TIPO_PRODUCTO_ACCESORIOS" />
                </entry>
                <entry key="ENDOSOS_GUARDA_FUNCION_ROL">
                    <ref bean="ENDOSOS_GUARDA_FUNCION_ROL" />
                </entry>
                <entry key="OBTIENE_PERSONA_USUARIO">
                    <ref bean="OBTIENE_PERSONA_USUARIO" />
                </entry>
                <entry key="OBTIENE_LISTA_ROLES">
                    <ref bean="OBTIENE_LISTA_ROLES" />
                </entry>
                <entry key="ENDOSOS_OBTIENE_DATOS_ROL_ITEMS">
                    <ref bean="ENDOSOS_OBTIENE_DATOS_ROL_ITEMS" />
                </entry>
                <entry key="ENDOSOS_OBTIENE_DATOS_ROL_COMBOS">
                    <ref bean="ENDOSOS_OBTIENE_DATOS_ROL_COMBOS" />
                </entry>
                <entry key="ENDOSOS_DATOS_ROL_ITEMS">
                    <ref bean="ENDOSOS_DATOS_ROL_ITEMS" />
                </entry>
                <entry key="ENDOSOS_DATOS_ROL_COMBOS">
                    <ref bean="ENDOSOS_DATOS_ROL_COMBOS" />
                </entry>
                <entry key="ENDOSOS_PMOVMPOLIPER">
                    <ref bean="ENDOSOS_PMOVMPOLIPER" />
                </entry>
                <entry key="ENDOSOS_OBTIENE_DATOS_TARIFICAR">
                    <ref bean="ENDOSOS_OBTIENE_DATOS_TARIFICAR" />
                </entry>
                <entry key="VALIDA_TARIFICACION_ENDOSOS_POLIZA">
                    <ref bean="VALIDA_TARIFICACION_ENDOSOS_POLIZA" />
                </entry>
                <entry key="TARIFICA_INCISOS_FALTANTES">
                    <ref bean="TARIFICA_INCISOS_FALTANTES" />
                </entry>
                <entry key="EXISTEN_CAMBIOS">
                    <ref bean="EXISTEN_CAMBIOS" />
                </entry>
                <entry key="ENDOSOS_OBTIENE_VALOR_TARIFICAR">
                    <ref bean="ENDOSOS_OBTIENE_VALOR_TARIFICAR" />
                </entry>
                <entry key="ENDOSOS_CONFIRMAR_TARIFICAR">
                    <ref bean="ENDOSOS_CONFIRMAR_TARIFICAR" />
                </entry>
                <entry key="CALCULA_VALOR_ENDOSOS">
                    <ref bean="CALCULA_VALOR_ENDOSOS" />
                </entry>
            </map>
        </property>
    </bean>
</beans>