<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="ConceptosCoberturaManager" class="mx.com.aon.catweb.configuracion.producto.service.impl.ConceptosCoberturaManagerImpl">
 		<property name="endpoints">
			<map>    
				<!-- Datos de regla de validaciones -->
        		<entry key="OBTIENE_CONCEPTOS_COBERTURA">
            		<ref bean="OBTIENE_CONCEPTOS_COBERTURA"/>            
            	</entry> 
            	<entry key="OBTIENE_LISTA_PERIODOS">
            		<ref bean="OBTIENE_LISTA_PERIODOS"/>            
            	</entry>  
            	<entry key="OBTIENE_LISTA_COBERTURA">
            		<ref bean="OBTIENE_LISTA_COBERTURA"/>            
            	</entry>
            	<entry key="OBTIENE_LISTA_CONCEPTOS">
            		<ref bean="OBTIENE_LISTA_CONCEPTOS"/>            
            	</entry>
            	<entry key="OBTIENE_LISTA_COMPORTAMIENTOS">
            		<ref bean="OBTIENE_LISTA_COMPORTAMIENTOS"/>            
            	</entry>
            	<entry key="OBTIENE_LISTA_CONDICIONES">
            		<ref bean="OBTIENE_LISTA_CONDICIONES"/>            
            	</entry>
            	<entry key="AGREGAR_CONCEPTO_COBERTURA">
            		<ref bean="AGREGAR_CONCEPTO_COBERTURA"/>            
            	</entry>
            	<entry key="ELIMINAR_CONCEPTO_COBERTURA">
            		<ref bean="ELIMINAR_CONCEPTO_COBERTURA"/>            
            	</entry>
  
        	</map>
    	</property>	
	</bean>
		
</beans>
