<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="renovacionManager"
        class="mx.com.aon.flujos.renovacion.service.impl.RenovacionManagerImpl" parent="abstractManagerBean">
        <!-- property name="endpoints">
            <map>
                <entry key="RENOVACION_OBTIENE_POLIZAS">
					<ref bean="RENOVACION_OBTIENE_POLIZAS" />
				</entry>
                <entry key="OBTIENE_ASEGURADORAS_CAT">
                    <ref bean="OBTIENE_ASEGURADORAS_CAT" />
                </entry>
                <entry key="OBTIENE_PRODUCTOS_CAT">
                    <ref bean="OBTIENE_PRODUCTOS_CAT" />
                </entry>
                <entry key="OBTIENE_CLIENTES_CORPO">
                    <ref bean="OBTIENE_CLIENTES_CORPO" />
                </entry>
                <entry key="RENOVACION_OBTIENE_POLIZAS_RENOVADAS">
                    <ref bean="RENOVACION_OBTIENE_POLIZAS_RENOVADAS" />
                </entry>
                <entry key="RENOVACION_GUARDA_POLIZA_SELECCION">
                    <ref bean="RENOVACION_GUARDA_POLIZA_SELECCION" />
                </entry>
                <entry key="RENOVACION_BORRADOR_POLIZAS">
                    <ref bean="RENOVACION_BORRADOR_POLIZAS" />
                </entry>
                <entry key="RENOVACION_RENOVAR_POLIZAS">
                    <ref bean="RENOVACION_RENOVAR_POLIZAS" />
                </entry>
                
                <entry key="RENOVACION_OBTIENE_MENSAJE">
                    <ref bean="RENOVACION_OBTIENE_MENSAJE" />
                </entry>
                
                <entry key="RENOVACION_APROBAR_POLIZAS">
                    <ref bean="RENOVACION_APROBAR_POLIZAS" />
                </entry>
                <entry key="OBTIENE_POLIZA_RENOVAR_EXPORT">
                    <ref bean="OBTIENE_POLIZA_RENOVAR_EXPORT" />
                </entry>
                <entry key="VALIDA_TARIFICACION_ENDOSOS_POLIZA">
                    <ref bean="VALIDA_TARIFICACION_ENDOSOS_POLIZA" />
                </entry>
                <entry key="TARIFICA_INCISOS_FALTANTES">
                    <ref bean="TARIFICA_INCISOS_FALTANTES" />
                </entry>
                <entry key="VALIDA_ENDOSO_POLIZA_RENOVA">
                    <ref bean="VALIDA_ENDOSO_POLIZA_RENOVA" />
                </entry>
            </map>
        </property-->
    </bean>
</beans>