<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans> 

   <!-- <bean id="combosManagerBO" class="mx.com.aon.catbo.service.impl.CombosManagerImpl"  parent="abstractManagerBean">
    </bean>

    <bean id="loginManagerBO" class="mx.com.aon.catbo.service.impl.LoginManagerImpl" parent="abstractManagerBean">
    </bean>

    <bean id="usuariosManager" class="mx.com.aon.catbo.service.impl.UsuariosManagerImpl" parent="abstractManagerBean">
    </bean>

    <bean id="rolesManager" class="mx.com.aon.catbo.service.impl.RolesManagerImpl" parent="abstractManagerBean">
    </bean>
    
    <bean id="notificacionesManager" class="mx.com.aon.catbo.service.impl.NotificacionesManagerImpl" parent="abstractManagerBean">
    </bean>
    
    <bean id="formatosDocumentosManager" class="mx.com.aon.catbo.service.impl.FormatosDocumentosManagerImpl" parent="abstractManagerBean">
    </bean>
    
   <bean id="operacionCATManager" class="mx.com.aon.catbo.service.impl.OperacionCATManagerImpl" parent="abstractManagerBean">
    </bean>

       <bean id="calendarioManager" class="mx.com.aon.catbo.service.impl.CalendarioManagerImpl" parent="abstractManagerBean">
        </bean>
    
       <bean id="matrizAsignacionManager" class="mx.com.aon.catbo.service.impl.MatrizAsignacionManagerImpl" parent="abstractManagerBean">
        </bean>
    
       <bean id="administracionCasosManager" class="mx.com.aon.catbo.service.impl.AdministracionCasosManagerImpl" parent="abstractManagerBean">
        </bean>
    
    

    <bean id="statusCasosManager" class="mx.com.aon.catbo.service.impl.StatusCasosManagerImpl" parent="abstractManagerBean">
    </bean>

   <bean id="procesoManager" class="mx.com.aon.catbo.service.impl.ProcesoManagerImpl" parent="abstractManagerBean">
   </bean>

    <bean id="tareasCatBoManager" class="mx.com.aon.catbo.service.impl.TareasCatBoManagerImpl" parent="abstractManagerBean">
    </bean>


    <bean id="configurarEncuestaManager" class="mx.com.aon.catbo.service.impl.ConfigurarEncuestaManagerImpl" parent="abstractManagerBean">
    </bean>
    
    <bean id="accesoEstructuraRolUsuarioManager" class="mx.com.aon.catbo.service.impl.AccesoEstructuraRolUsuarioManagerImpl" parent="abstractManagerBean">
    </bean>

        <bean id="configurarCompraTiempoManager" class="mx.com.aon.catbo.service.impl.ConfigurarCompraTiempoManagerImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="configurarCompraTiempoDAO"/>
            </property>
        </bean>

        <bean id="archivosManager" class="mx.com.aon.catbo.service.impl.ArchivosManagerImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="archivoDAO"/>
            </property>
        </bean>
    
        <bean id="combosManager2BO" class="mx.com.aon.catbo.service.impl.CombosManager2Impl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="combosDAO"/>
            </property>
        </bean>
    
    

        <bean id="archivosFaxesManager" class="mx.com.aon.catbo.service.impl.ArchivosFaxesImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="archivosFaxesDAO"/>
            </property>
        </bean>
    
        <bean id="administrarUsuariosModuloManager" class="mx.com.aon.catbo.service.impl.AdministrarUsuariosModuloImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="administrarUsuariosModuloDAO"/>
            </property>
        </bean>
      
      
       <bean id="altaCasosManager" class="mx.com.aon.catbo.service.impl.AltaCasosManagerImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="casosDAO"/>
            </property>
        </bean>
    
    
	<bean id="generacionClavesManager" class="mx.com.aon.catbo.service.impl.GeneracionClavesManagerImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="generacionClavesDAO"/>
            </property>
    </bean>       
    
	<bean id="datosArchivosManager" class="mx.com.aon.catbo.service.impl.DatosArchivosManagerImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="datosArchivosDAO"/>
            </property>
    </bean>       
    <bean id="guionLlamadasManager" class="mx.com.aon.catbo.service.impl.GuionLlamadasManagerImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="guionLlamadasDAO"/>
            </property>
    </bean>
    
    <bean id="archivosManagerJdbcTemplate" class="mx.com.aon.catbo.service.impl.ArchivosManagerJdbcTemplateImpl" parent="abstractManagerJdbcTemplateInvoke">
        <property name="abstractDAO">
            <ref bean="archivosDAO"/>
        </property>
    </bean>
    
     <bean id="consultarAsigEncuestaManager" class="mx.com.aon.catbo.service.impl.ConsultarAsigEncuestaManagerImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="consultarAsigEncuestaDAO"/>
            </property>
    </bean> 
    
    <bean id="administrarTipoArchivoManager" class="mx.com.aon.catbo.service.impl.AdministrarTipoArchivoManagerImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
            <ref bean="administracionTipoArchivoDAO"/>
            </property>
    </bean> 
     <bean id="administracionFaxManager" class="mx.com.aon.catbo.service.impl.AdministracionFaxManagerImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
            <ref bean="administracionFaxDAO"/>
            </property>
    </bean>
    
    <bean id="cargaArchivosManager" class="mx.com.aon.catbo.service.impl.CargaArchivosManagerImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="archivoDAO"/>
            </property>
    </bean>

    
    <bean id="configurarEncuestaManager2" class="mx.com.aon.catbo.service.impl.ConfigurarEncuestaManagerImpl2" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="configurarEncuestaDAO"/>
            </property>
        </bean>
         
   <bean id="administracionCasosManager2" class="mx.com.aon.catbo.service.impl.AdministracionCasosManagerFechaImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="administracionCasosDAO"/>
            </property>
        </bean>
  
  <bean id="configuracionMailManager" class="mx.com.aon.catbo.service.impl.ConfiguracionMailManagerImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="parametroGeneralDAO"/>
            </property>
    </bean>

   <bean id="administracionCasosManager3" class="mx.com.aon.catbo.service.impl.AdministracionCasosManagerJdbcTemplate" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="administracionCasosDAO"/>
            </property>
   </bean>


    <bean id="ingresarEncuestaManager" class="mx.com.aon.catbo.service.impl.IngresarEncuestaManagerImpl" parent="abstractManagerBean">
    </bean>

   
   <bean id="notificacionMailManager" class="mx.com.aon.catbo.service.impl.NotificacionMailManagerImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="envioMailNotificacionDAO"/>
            </property>
    </bean> -->
   
</beans>