<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="menuUsuarioManager"
        class="mx.com.aon.portal.service.impl.menuusuario.MenuUsuarioManagerImpl" parent="abstractManagerBean">
        <!--property name="endpoints">
            <map>
                <entry key="OBTIENE_MENU_USUARIO">
                    <ref bean="OBTIENE_MENU_USUARIO" />
                </entry>
                <entry key="OBTIENE_ROLES">
                    <ref bean="OBTIENE_ROLES" />
                </entry>
                <entry key="OBTIENE_CLIENTES_MENU_USUARIO">
                    <ref bean="OBTIENE_CLIENTES_MENU_USUARIO" />
                </entry>
                <entry key="OBTIENE_USUARIOS_MENU_USUARIO">
                    <ref bean="OBTIENE_USUARIOS_MENU_USUARIO" />
                </entry>
                <entry key="OBTIENE_USUARIOS_X_NIVEL_ROL">
                    <ref bean="OBTIENE_USUARIOS_X_NIVEL_ROL" />
                </entry>
                <entry key="CARGA_ROLES">
                    <ref bean="CARGA_ROLES" />
                </entry>
                <entry key="OBTIENE_SECCIONES">
                    <ref bean="OBTIENE_SECCIONES" />
                </entry>
                <entry key="OBTIENE_TIPOS">
                    <ref bean="OBTIENE_TIPOS" />
                </entry>
                <entry key="GUARDA_CONFIGURACION_MENU">
                    <ref bean="GUARDA_CONFIGURACION_MENU" />
                </entry>
                <entry key="COPIA_CONFIGURACION_MENU">
                    <ref bean="COPIA_CONFIGURACION_MENU" />
                </entry>
                <entry key="BORRA_CONFIGURACION_MENU">
                    <ref bean="BORRA_CONFIGURACION_MENU"/>
                </entry>
            </map>
        </property-->
    </bean>
</beans>