<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="RolManager" class="mx.com.aon.catweb.configuracion.producto.service.impl.RolManagerImpl" parent="abstractManagerBean">
 		<property name="endpoints">
			<map>    
				<!--  Datos de roles -->
        		<entry key="CATALOGO_ROLES">
            		<ref bean="CATALOGO_ROLES"/>            
            	</entry>  
            	<entry key="CATALOGO_OBLIGATORIO">
            		<ref bean="CATALOGO_OBLIGATORIO"/>            
            	</entry>      
            	<entry key="CATALOGO_ATRIBUTOS_VARIABLES">
            		<ref bean="CATALOGO_ATRIBUTOS_VARIABLES"/>            
            	</entry>
            	<entry key="OBTIENE_ATRIBUTOS_VARIABLES_ROL">
            		<ref bean="OBTIENE_ATRIBUTOS_VARIABLES_ROL"/>            
            	</entry> 
            	<entry key="AGREGAR_ROL_CATALOGO">
            		<ref bean="AGREGAR_ROL_CATALOGO"/>            
            	</entry>
            	<entry key="AGREGAR_ATRIBUTO_VARIABLE_ROL">
            		<ref bean="AGREGAR_ATRIBUTO_VARIABLE_ROL"/>            
            	</entry>
            	<entry key="ELIMINAR_ATRIBUTO_VARIABLE_ROL">
            		<ref bean="ELIMINAR_ATRIBUTO_VARIABLE_ROL"/>            
            	</entry>
            	<entry key="ELIMINAR_ROL">
            		<ref bean="ELIMINAR_ROL"/>
            	</entry>
            	<entry key="VALIDA_HIJOS_ATRIB_VAR_ROL">
            		<ref bean="VALIDA_HIJOS_ATRIB_VAR_ROL"/>
            	</entry>
            	<entry key="AGREGAR_ROL_INCISO">
            		<ref bean="AGREGAR_ROL_INCISO"/>
            	</entry>
            	<entry key="AGREGAR_ATRIBUTO_VARIABLE_CATALOGO">
            		<ref bean="AGREGAR_ATRIBUTO_VARIABLE_CATALOGO"/>            
            	</entry>
            	<entry key="OBTIENE_ROL_ASOCIADO">
            		<ref bean="OBTIENE_ROL_ASOCIADO"/>
            	</entry>
        	</map>
    	</property>
	</bean>
</beans>