<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

  
	<bean id="serviciosIncisos" class="mx.com.ice.services.business.ServiciosIncisos">
        <property name="serviciosIncisosDAO" ref="serviciosIncisosDAO"/>
    </bean>
    <bean id="serviciosIncisosDAO" class="mx.com.ice.services.business.dao.ServiciosIncisosDAO">
        <!--  property name="endpoints">
            <map>
                <entry key="P_GET_MINIMO_INCISO">
                    <ref bean="P_GET_MINIMO_INCISO" />
                </entry>
                <entry key="P_GET_MAXIMO_INCISO">
                    <ref bean="P_GET_MAXIMO_INCISO" />
                </entry>
                <entry key="DELETE_CAPIT_TSIEXCOA">
                    <ref bean="DELETE_CAPIT_TSIEXCOA" />
                </entry>
                <entry key="P_ASIGNARNUMERO_INCISO">
                    <ref bean="P_ASIGNARNUMERO_INCISO" />
                </entry>
                <entry key="P_B5_ASEGURADO">
                    <ref bean="P_B5_ASEGURADO" />
                </entry>
                <entry key="P_B5_VALIDAR_NMSITUAC">
                    <ref bean="P_B5_VALIDAR_NMSITUAC" />
                </entry>
                <entry key="P_B5B_VALIDAR">
                    <ref bean="P_B5B_VALIDAR" />
                </entry>
                <entry key="P_B5B_VALOR">
                    <ref bean="P_B5B_VALOR" />
                </entry>
                <entry key="P_BORRAR_GARANTIAS">
                    <ref bean="P_BORRAR_GARANTIAS" />
                </entry>
                <entry key="P_BORRAR_SITUACION">
                    <ref bean="P_BORRAR_SITUACION" />
                </entry>
                <entry key="P_COPIAR_INCISO">
                    <ref bean="P_COPIAR_INCISO" />
                </entry>
                <entry key="P_CTRL_ROLES_GLOBALES">
                    <ref bean="P_CTRL_ROLES_GLOBALES" />
                </entry>
                <entry key="P_EXISTE_ATRIBUTOB5B_VIG">
                    <ref bean="P_EXISTE_ATRIBUTOB5B_VIG" />
                </entry>
                <entry key="P_EXISTE_COBERTURA_NO_DEFECTO">
                    <ref bean="P_EXISTE_COBERTURA_NO_DEFECTO" />
                </entry>
                <entry key="P_EXISTE_NUMRAMO">
                    <ref bean="P_EXISTE_NUMRAMO" />
                </entry>
                <entry key="P_EXISTE_NUMSIT">
                    <ref bean="P_EXISTE_NUMSIT" />
                </entry>
                <entry key="P_EXISTE_TSIEXCOA">
                    <ref bean="P_EXISTE_TSIEXCOA" />
                </entry>
                <entry key="P_FALTAN_ATRIBUTOB5B_OBLIG">
                    <ref bean="P_FALTAN_ATRIBUTOB5B_OBLIG" />
                </entry>
                <entry key="P_GET_ATRIBUT_VARIABLE_INCISO">
                    <ref bean="P_GET_ATRIBUT_VARIABLE_INCISO" />
                </entry>
                <entry key="P_GET_COBERTURAS_NO_INSERTAR">
                    <ref bean="P_GET_COBERTURAS_NO_INSERTAR" />
                </entry>
                <entry key="P_GET_CODATRIBUTO_VARMODELO">
                    <ref bean="P_GET_CODATRIBUTO_VARMODELO" />
                </entry>
                <entry key="P_GET_DATOS_INCISO">
                    <ref bean="P_GET_DATOS_INCISO" />
                </entry>
                <entry key="P_GET_INCISOS">
                    <ref bean="P_GET_INCISOS" />
                </entry>
                <entry key="P_GET_TATRISIT_SWACTUAL">
                    <ref bean="P_GET_TATRISIT_SWACTUAL" />
                </entry>
                <entry key="P_GET_TIPO_SITUACION">
                    <ref bean="P_GET_TIPO_SITUACION" />
                </entry>
                <entry key="P_GET_TIPO_SITUACION_DEFECTO">
                    <ref bean="P_GET_TIPO_SITUACION_DEFECTO" />
                </entry>
                <entry key="P_GET_VALOR_DEFECTO_SITUACION">
                    <ref bean="P_GET_VALOR_DEFECTO_SITUACION" />
                </entry>
                <entry key="P_GET_VALORATRIBU_VAR_TATRISIT">
                    <ref bean="P_GET_VALORATRIBU_VAR_TATRISIT" />
                </entry>
                <entry key="P_MINMAX_SUPL">
                    <ref bean="P_MINMAX_SUPL" />
                </entry>
                <entry key="P_POR_CADA_REGISTRO_B5">
                    <ref bean="P_POR_CADA_REGISTRO_B5" />
                </entry>
                <entry key="P_PROCESO_COASEGURO_INCISO">
                    <ref bean="P_PROCESO_COASEGURO_INCISO" />
                </entry>
                <entry key="P_V_ROL_REQUERIDO">
                    <ref bean="P_V_ROL_REQUERIDO" />
                </entry>
                <entry key="P_VALIDA_CADA_REGISTRO_B5B">
                    <ref bean="P_VALIDA_CADA_REGISTRO_B5B" />
                </entry>
                <entry key="P_VALIDA_COPIADO_INCISO">
                    <ref bean="P_VALIDA_COPIADO_INCISO" />
                </entry>
                <entry key="P_VALIDAALTA_INCISO_SUPL_ACT">
                    <ref bean="P_VALIDAALTA_INCISO_SUPL_ACT" />
                </entry>
                <entry key="P_VALIDAR_EXISTEN_ATRB_GARANT">
                    <ref bean="P_VALIDAR_EXISTEN_ATRB_GARANT" />
                </entry>
                <entry key="P_VALIDAR_EXISTEN_ATRIBUTOS">
                    <ref bean="P_VALIDAR_EXISTEN_ATRIBUTOS" />
                </entry>
                <entry key="P_VALIDAR_EXISTEN_CAPITALES">
                    <ref bean="P_VALIDAR_EXISTEN_CAPITALES" />
                </entry>
                <entry key="P_VALIDAR_EXISTEN_GARANT_CAPIT">
                    <ref bean="P_VALIDAR_EXISTEN_GARANT_CAPIT" />
                </entry>
                <entry key="P_VALIDAR_EXISTEN_GARANTIAS">
                    <ref bean="P_VALIDAR_EXISTEN_GARANTIAS" />
                </entry>
                <entry key="P_VALIDAR_SITUACION_NUEVA">
                    <ref bean="P_VALIDAR_SITUACION_NUEVA" />
                </entry>
                <entry key="P_ValidarSit_ExcluidaCoaseguro">
                    <ref bean="P_ValidarSit_ExcluidaCoaseguro" />
                </entry>
                <entry key="P_VALORES_MPARAPRO">
                    <ref bean="P_VALORES_MPARAPRO" />
                </entry>
                <entry key="VERIFICAR_CAMBIO_X_INCISO">
                    <ref bean="VERIFICAR_CAMBIO_X_INCISO" />
                </entry>
                
                <! entry key="P_ACT_AGRUPA_INC">
                    <ref bean="P_ACT_AGRUPA_INC" />
                </entry>
                <entry key="P_DESPLEGAR_IMPORTE_AGRUPADOR">
                    <ref bean="P_DESPLEGAR_IMPORTE_AGRUPADOR" />
                </entry>
                <entry key="P_GET_INCISOS_AGRUPADOR">
                    <ref bean="P_GET_INCISOS_AGRUPADOR" />
                </entry>
                 
            </map>
        </property-->
    </bean>
    
    
</beans>
