<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="reportesManager" class="mx.com.aon.portal.service.impl.reportes.ReportesManagerImpl"  parent="abstractManagerJdbcTemplateInvoke">
        <property name="endpoints">
            <map>
                <entry key="P_OBTIENE_MREPORTE">
                    <ref bean="P_OBTIENE_MREPORTE" />
                </entry>

                <entry key="P_OBTIENE_MREPORTE_EJECUTAR">
                    <ref bean="P_OBTIENE_MREPORTE_EJECUTAR" />
                </entry>


                <!--<entry key="P_INSERTA_MREPORTE">-->
                    <!--<ref bean="P_INSERTA_MREPORTE" />-->
                <!--</entry>-->

                <!--<entry key="P_EDITA_MREPORTE">-->
                    <!--<ref bean="P_EDITA_MREPORTE" />-->
                <!--</entry>-->

                <entry key="P_BORRA_MREPORTE">
                    <ref bean="P_BORRA_MREPORTE" />
                </entry>

                <entry key="P_COMBO_GRAFICO">
                    <ref bean="P_COMBO_GRAFICO" />
                </entry>

                <entry key="P_GRAFICO">
                    <ref bean="P_GRAFICO" />
                </entry>

                <entry key="P_VALIDAR">
                    <ref bean="P_VALIDAR" />
                </entry>

                <entry key="P_LISTA_ASEGURADORA">
                    <ref bean="P_LISTA_ASEGURADORA" />
                </entry>

                <entry key="P_LISTA_PRODUCTOS">
                    <ref bean="P_LISTA_PRODUCTOS" />
                </entry>

                <entry key="P_LISTA_CUENTA">
                    <ref bean="P_LISTA_CUENTA" />
                </entry>

               <entry key="P_GUARDAR_REPORTE_AUX">
                    <ref bean="P_GUARDAR_REPORTE_AUX" />
                </entry>

                <!--<entry key="P_INSERTA_GRAFICO">-->
                    <!--<ref bean="P_INSERTA_GRAFICO" />-->
                <!--</entry>-->

                <!--<entry key="P_EDITA_GRAFICO">
                    <ref bean="P_EDITA_GRAFICO" />
                </entry>-->

                <entry key="P_BORRA_GRAFICO">
                    <ref bean="P_BORRA_GRAFICO" />
                </entry>

                <entry key="P_OBTIENE_ATRIBUTOS">
                    <ref bean="P_OBTIENE_ATRIBUTOS" />
                </entry>

                <!--<entry key="P_INSERTA_ATRIBUTO">-->
                    <!--<ref bean="P_INSERTA_ATRIBUTO" />-->
                <!--</entry>-->

                <!--<entry key="P_EDITA_ATRIBUTO">-->
                    <!--<ref bean="P_EDITA_ATRIBUTO" />-->
                <!--</entry>-->

                <entry key="P_BORRA_ATRIBUTO">
                    <ref bean="P_BORRA_ATRIBUTO" />
                </entry>

                <entry key="P_OBTIENE_REPORTES_PRODUCTOS">
                    <ref bean="P_OBTIENE_REPORTES_PRODUCTOS" />
                </entry>

                <entry key="P_OBTIENE_REPORTES_PRODUCTOS_PLANTILLAS">
                    <ref bean="P_OBTIENE_REPORTES_PRODUCTOS_PLANTILLAS" />
                </entry>

                <entry key="P_COMBO_REPORTES_PRODUCTOS">
                    <ref bean="P_COMBO_REPORTES_PRODUCTOS" />
                </entry>

                <!--<entry key="P_INSERTAR_PRODUCTO">
                    <ref bean="P_INSERTAR_PRODUCTO" />
                </entry>-->

                <entry key="P_INSERTAR_PRODUCTO_PLANTILLAS">
                    <ref bean="P_INSERTAR_PRODUCTO_PLANTILLAS" />
                </entry>

                <entry key="P_EDITAR_PRODUCTO">
                    <ref bean="P_EDITAR_PRODUCTO" />
                </entry>

                <entry key="P_EDITAR_PRODUCTO_PLANTILLAS">
                    <ref bean="P_EDITAR_PRODUCTO_PLANTILLAS" />
                </entry>

                <entry key="P_BORRAR_PRODUCTO">
                    <ref bean="P_BORRAR_PRODUCTO" />
                </entry>

                <entry key="P_BORRAR_PRODUCTO_PLANTILLAS">
                    <ref bean="P_BORRAR_PRODUCTO_PLANTILLAS" />
                </entry>


                <entry key="P_OBTIENE_MPLANTIL">
                    <ref bean="P_OBTIENE_MPLANTIL" />
                </entry>

                <!--<entry key="P_GUARDA_MPLANTIL">-->
                    <!--<ref bean="P_GUARDA_MPLANTIL" />-->
                <!--</entry>-->

                <entry key="P_BORRA_MPLANTIL">
                    <ref bean="P_BORRA_MPLANTIL" />
                </entry>

                <entry key="P_OBTIENE_TATRIPLA">
                    <ref bean="P_OBTIENE_TATRIPLA" />
                </entry>

                <!--<entry key="P_INSERTA_TATRIPLA">-->
                    <!--<ref bean="P_INSERTA_TATRIPLA" />-->
                <!--</entry>-->

                <!--<entry key="P_GUARDA_TATRIPLA">-->
                    <!--<ref bean="P_GUARDA_TATRIPLA" />-->
                <!--</entry>-->

                <entry key="P_BORRA_TATRIPLA">
                    <ref bean="P_BORRA_TATRIPLA" />
                </entry>

                <entry key="P_OBTIENE_TPLANREP">
                    <ref bean="P_OBTIENE_TPLANREP" />
                </entry>

                <entry key="P_GUARDA_TPLANREP">
                    <ref bean="P_GUARDA_TPLANREP" />
                </entry>

                <entry key="P_GUARDA_TPLANREP1">
                    <ref bean="P_GUARDA_TPLANREP1" />
                </entry>

                <entry key="P_BORRA_TPLANREP">
                    <ref bean="P_BORRA_TPLANREP"/>
                </entry>

                <entry key="P_CLIENTES_CORPO">
                    <ref bean="P_CLIENTES_CORPO" />
                </entry>

                <entry key="P_ASEGURADORA">
                    <ref bean="P_ASEGURADORA" />
                </entry>

                <entry key="P_PRODUCTOS">
                    <ref bean="P_PRODUCTOS" />
                </entry>
                <entry key="P_LISVALATRIBVAR">
                    <ref bean="P_LISVALATRIBVAR" />
                </entry>

            </map>
        </property>

        <property name="abstractDAO">
            <ref bean="reporteDao" />
        </property>


    </bean >
    <bean id="reportesAgregarManager" class="mx.com.aon.portal.service.impl.reportes.ReportesAgregarManagerImpl"
          parent="abstractManagerBean">
        <property name="endpoints">
            <map>
                <entry key="P_INSERTA_MREPORTE">
                    <ref bean="P_INSERTA_MREPORTE"/>
                </entry>
                <entry key="P_EDITA_MREPORTE">
                    <ref bean="P_EDITA_MREPORTE"/>
                </entry>
                <!--<entry key="P_BORRA_MREPORTE">
                    <ref bean="P_BORRA_MREPORTE" />
                </entry>-->
                <entry key="P_GUARDA_MPLANTIL">
                    <ref bean="P_GUARDA_MPLANTIL"/>
                </entry>
                <entry key="P_INSERTA_TATRIPLA">
                    <ref bean="P_INSERTA_TATRIPLA"/>
                </entry>
                <entry key="P_GUARDA_TATRIPLA">
                    <ref bean="P_GUARDA_TATRIPLA"/>
                </entry>
                <entry key="P_INSERTA_TATRIREP">
                    <ref bean="P_INSERTA_TATRIREP" />
                </entry>
                <entry key="P_EDITA_ATRIBUTO">
                    <ref bean="P_EDITA_ATRIBUTO" />
                </entry>
                <entry key="P_INSERTA_GRAFICO">
                    <ref bean="P_INSERTA_GRAFICO" />
                </entry>
                <entry key="P_EDITA_GRAFICO">
                    <ref bean="P_EDITA_GRAFICO" />
                </entry>
                <entry key="P_INSERTAR_PRODUCTO">
                    <ref bean="P_INSERTAR_PRODUCTO" />
                </entry>
            </map>
        </property>
    </bean>
</beans>