<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- <bean id="serviciosGeneralesBloques" class="mx.com.ice.services.business.ServiciosGeneralesBloques">
        <property name="serviciosGeneralesDAO" ref="serviciosGeneralesDAO"/>
    </bean>       	
   <bean id="serviciosGeneralesCargarBloques" class="mx.com.ice.services.business.ServiciosCargarBloques">
        <property name="serviciosGeneralesDAO" ref="serviciosGeneralesDAO"/>
    </bean>
    <bean id="serviciosGeneralesDAO" class="mx.com.ice.services.business.dao.ServiciosGeneralesDAO">
    </bean> -->    
</beans>
