<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	 
   <bean id="ProductoManager" class="mx.com.aon.catweb.configuracion.producto.service.impl.ProductoManagerImpl" parent="abstractManagerJdbcTemplateInvoke">
         
        <property name="endpoints">
            <map>
            <!--   Datos de producto -->
            <entry key="EDITAR_PRODUCTO"><ref bean="EDITAR_PRODUCTO"/></entry>
            <entry key="EDITAR_PRODUCTO_WIZARD"><ref bean="EDITAR_PRODUCTO_WIZARD"/></entry>
            <entry key="INSERTAR_PRODUCTO"><ref bean="INSERTAR_PRODUCTO"/></entry>
            <entry key="LISTA_PRODUCTOS"><ref bean="LISTA_PRODUCTOS"/></entry>
            <entry key="LISTA_TIPO_PRODUCTO"><ref bean="LISTA_TIPO_PRODUCTO"/></entry>
            <entry key="LISTA_TIPO_RAMO"><ref bean="LISTA_TIPO_RAMO"/></entry>
            <entry key="LISTA_TIPO_POLIZA"><ref bean="LISTA_TIPO_POLIZA"/></entry>
            <entry key="LISTA_TIPO_SEGURO"><ref bean="LISTA_TIPO_SEGURO"/></entry>
            <entry key="INSERTAR_TIPO_POLIZA"><ref bean="INSERTAR_TIPO_POLIZA"/></entry>
            <entry key="ELIMINAR_TIPO_POLIZA"><ref bean="ELIMINAR_TIPO_POLIZA"/></entry>
            <entry key="LISTA_RAMO_POLIZA"><ref bean="LISTA_RAMO_POLIZA"/></entry>
			<!--  Datos de periodo -->
            <entry key="EDITAR_PERIODO"><ref bean="EDITAR_PERIODO"/></entry>
            <entry key="INSERTAR_PERIODOS"><ref bean="INSERTAR_PERIODOS"/></entry>
            <entry key="LISTA_PERIODOS"><ref bean="LISTA_PERIODOS"/></entry>
			<!--  Datos de clausula -->
            <entry key="EDITAR_CLAUSULA"><ref bean="EDITAR_CLAUSULA"/></entry>
            <entry key="AGREGAR_CLAUSULA"><ref bean="AGREGAR_CLAUSULA"/></entry>
            <entry key="INSERTAR_CLAUSULAS"><ref bean="INSERTAR_CLAUSULAS"/></entry>
            <entry key="LISTA_CLAUSULAS"><ref bean="LISTA_CLAUSULAS"/></entry>
            <entry key="LISTA_CLAUSULAS_ASOCIADAS"><ref bean="LISTA_CLAUSULAS_ASOCIADAS"/></entry>
            <entry key="OBTIENE_TABLA_APOYO"><ref bean="OBTIENE_TABLA_APOYO"/></entry>
            
            </map>
        </property>
        <property name="abstractDAO">
    		<ref bean="productoDao" />
    	</property>
    </bean>
		
</beans>
