<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    	<bean id="principalManager"
		class="mx.com.aon.portal.service.impl.principal.PrincipalManagerImpl" parent="abstractManagerBean">
		<property name="endpoints">
			<map>
				<entry key="PRINCIPAL_OBTIENE_ROLES">
					<ref bean="PRINCIPAL_OBTIENE_ROLES" />
				</entry>
				<entry key="OBTIENE_CLIENTES">
					<ref bean="OBTIENE_CLIENTES" />
				</entry>
				<entry key="CARGA_ROLES">
					<ref bean="CARGA_ROLES" />
				</entry>
				<entry key="OBTIENE_SECCIONES">
					<ref bean="OBTIENE_SECCIONES" />
				</entry>
				<entry key="OBTIENE_TIPOS">
					<ref bean="OBTIENE_TIPOS" />
				</entry>
				<entry key="GUARDAR_NUEVA_CONFIGURACION">
					<ref bean="GUARDAR_NUEVA_CONFIGURACION" />
				</entry>
				<entry key="GUARDA_CONFIGURACION">
					<ref bean="GUARDA_CONFIGURACION" />
				</entry>
				<entry key="COPIA_CONFIGURACION">
					<ref bean="COPIA_CONFIGURACION" />
				</entry>
				<entry key="BORRA_CONFIGURACION">
					<ref bean="BORRA_CONFIGURACION"/>
				</entry>
				<entry key="OBTIENE_PAGINAS">
					<ref bean="OBTIENE_PAGINAS"/>
				</entry>
				<entry key="GUARDA_PAGINA">
					<ref bean="GUARDA_PAGINA"/>
				</entry>
				<entry key="BORRA_PAGINA">
					<ref bean="BORRA_PAGINA"/>
				</entry>
				<entry key="OBTIENE_TIPOS_PAG">
					<ref bean="OBTIENE_TIPOS_PAG"/>
				</entry>
			</map>
		</property>
	</bean>

    	<bean id="principalManagerJdbcTemplate"
			class="mx.com.aon.portal.service.impl.principal.PrincipalManagerJdbcTemplateImpl" parent="abstractManagerJdbcTemplateInvoke">
            <property name="abstractDAO">
                <ref bean="principalDAO"/>
            </property>
		</bean>
</beans>