<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="ReglaValidacionManager" class="mx.com.aon.catweb.configuracion.producto.service.impl.ReglaValidacionManagerImpl">
 		<!--property name="endpoints">
			<map>    
				<! Datos de regla de validaciones 
        		<entry key="OBTIENE_REGLAS_DE_VALIDACION">
            		<ref bean="OBTIENE_REGLAS_DE_VALIDACION"/>            
            	</entry> 
            	<entry key="OBTIENE_LISTA_BLOQUES">
            		<ref bean="OBTIENE_LISTA_BLOQUES"/>            
            	</entry>  
            	<entry key="OBTIENE_LISTA_VALIDACIONES">
            		<ref bean="OBTIENE_LISTA_VALIDACIONES"/>            
            	</entry>
            	<entry key="OBTIENE_LISTA_CONDICIONES">
            		<ref bean="OBTIENE_LISTA_CONDICIONES"/>            
            	</entry>
            	<entry key="ASOCIAR_REGLA_VALIDACION">
            		<ref bean="ASOCIAR_REGLA_VALIDACION"/>            
            	</entry>
            	<entry key="ELIMINAR_REGLA_VALIDACION">
            		<ref bean="ELIMINAR_REGLA_VALIDACION"/>            
            	</entry>
  
        	</map>
    	</property-->	
	</bean>
		
</beans>
