<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<!--Pantallas Nuevas Consultas de Poliza -->
	
	<bean id="ice2sigsWebServices" class="mx.com.gseguros.ws.client.impl.Ice2sigsWebServicesImpl">
	</bean>	
	
	
</beans>

