<statements>	
	<statement type="stored" name="PKG_WIZARD.P_INSERT_TVALIDAC" id="pInsertTValidac">
		<param eval="true" name="pv_cdvalida_i" type="VARCHAR">$!params.nombre</param>
		<param eval="true" name="pv_dsmsgerr_i" type="VARCHAR">$!params.mensaje</param>
		<param eval="true" name="pv_cdexpres_i" type="NUMERIC">$!params.codigoExpresion</param>
		<param eval="true" name="pv_dsvalida_i" type="VARCHAR">$!params.descripcion</param>
		<param eval="true" name="pv_cdtipo_i" type="VARCHAR">$!params.tipo</param>
		
		
  		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>  
  		<outparam id="PV_TITLE_O" type="VARCHAR"/>
	</statement>
</statements>