<statements>	
	<statement type="stored" name="PKG_WIZARD.P_INSERT_TVARIATM" id="pvalSituacionExcluidaCoa">
		<param eval="true" name="pv_cdexpres_i" type="NUMERIC">$!params.codigoExpresion</param>
		<param eval="true" name="pv_cdvariant_i" type="VARCHAR">$!params.nombre</param>
		<param eval="true" name="pv_dsvariat_i" type="VARCHAR">$!params.descripcion</param>
		
  		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>  
  		<outparam id="PV_TITLE_O" type="VARCHAR"/>
	</statement>
</statements>