<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
	<statement type="stored" name="PKG_RENOVA.P_OBTIENE_POLIZAS" id="renovacionObtienePolizasExport">
		<param eval="true" name="pv_Asegurado_i" type="VARCHAR"><![CDATA[$!params.get("Asegurado")]]></param>
		<param eval="true" name="pv_Aseguradora_i" type="NUMERIC">$!params.get("cdUnieco")</param>
		<param eval="true" name="pv_Producto_i" type="NUMERIC">$!params.get("cdRamo")</param>
		<param eval="true" name="pv_Poliza_i" type="VARCHAR"><![CDATA[$!params.get("nmPoliEx")]]></param>
		<param eval="true" name="pv_Cliente_i" type="NUMERIC">$!params.get("cdElemento")</param>
  		<outparam id="pv_obtiene_polizas_o" type="CURSOR"/>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>