<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
#foreach($parametrosRenovar  in  $params.APROBAR)
	<statement type="stored" name="PKG_RENOVA.P_APRUEBA_RENOVA" id="renovacionAprobarPolizas">
		<param eval="true" name="pv_cdunieco_i"   type="NUMERIC"><![CDATA[$parametrosRenovar.cdUnieco]]></param>
		<param eval="true" name="pv_cdramo_i"     type="NUMERIC"><![CDATA[$parametrosRenovar.cdRamo]]></param>
		<param eval="true" name="pv_nmpoliza_i"   type="VARCHAR"><![CDATA[$parametrosRenovar.nmPoliza]]></param>
		<param eval="true" name="pv_swaprobada_i" type="VARCHAR"><![CDATA[$parametrosRenovar.swAprobada]]></param>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
#end
</statements>