<statements>
	<statement type="stored" name="PKG_WIZARD.P_LOADCONCEPGLOB" id="pLoadConceptosCobertura">
		<param eval="true" name="PV_CDRAMO" type="NUMERIC">$!params.codigoProducto</param>
		<param eval="true" name="PV_CDTIPSIT" type="VARCHAR">$!params.codigoSituacion</param>
		<param eval="true" name="PV_CDGARANT" type="VARCHAR">$!params.codigoCobertura</param>
		
		<outparam id="PV_REGISTRO_O" type="CURSOR"/>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>		
	</statement>
</statements>