<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<statements>
	<statement type="stored" name="PKG_MENU.P_GUARDA_OPCION" id="insertOpcion">
		<param eval="true" name="P_CDTITULO_I" type="NUMERIC">$!params.cdTitulo</param>
		<param eval="true" name="P_DSTITULO_I" type="VARCHAR">$!params.dsTitulo</param>
		<param eval="true" name="P_DSURL_I" type="VARCHAR"><![CDATA[$!params.dsUrl]]></param>
		<param eval="true" name="P_TIP_DES_I" type="VARCHAR">$!params.dsTipDes</param>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
		<outparam id="pv_text_o" type="VARCHAR"/>		
	</statement>
</statements>


 