<statements>
	<statement type="stored" name="PKG_MENU.P_VALIDA_BORRA" id="pValidaBorra">
		<param eval="true" name="PV_CDTITULO_I" type="NUMERIC">$params</param>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="NUMERIC"/>
		<outparam id="PV_TEXT_O" type="VARCHAR"/>
	</statement>
</statements>