items:[{
		xtype: 'editorgrid',
		frame:true,
		id:'gridResultado',
            store: getResultado(),
            title: '<span style="color:#98012e;font-size:11px;font-family:Arial,Helvetica,sans-serif;">Datos Variable del Inciso</span>',
            stripeRows: true,
            cm: cm2,
            clicksToEdit : 2,
            height:120,
            width:800,
           
		viewConfig: {autoFill: true,forceFit:true}, 
            bbar: new Ext.PagingToolbar({
            pageSize: 25,
            store: storeGrid,
            displayInfo: true,
            displayMsg: 'Displaying rows {0} - {1} of {2}',
            emptyMsg: "No rows to display"
                  })
     
   }]