<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_AGRUPAPOL.P_GUARDA_PAPELES" id="agrupacionPapelGuardar">
       <param eval="true" name="pv_agrupacion_i" type="NUMERIC">$!params.get("codigoAgrupacion")</param>
       <param eval="true" name="pv_cdagrrol_i" type="NUMERIC">$!params.get("codigoAgrRol")</param>
       <param eval="true" name="pv_nivel_agrupa_i" type="NUMERIC">$!params.get("codigoNivel")</param>
       <param eval="true" name="pv_rol_i" type="VARCHAR">$!params.get("codigoRol")</param>
       <param eval="true" name="pv_aseguradora_i" type="NUMERIC">$!params.get("codigoAseguradora")</param>
       <param eval="true" name="pv_producto_i" type="NUMERIC">$!params.get("codigoProducto")</param>
       <param eval="true" name="pv_CDPOLMTRA_i" type="NUMERIC">$!params.get("cdPolMtra")</param>
         		
  		<outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
