<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_LISTAS.P_ASEGURADORA" id="obtieneTiposCoberturas">
		<outparam id="po_resulset" type="CURSOR"></outparam>
		<outparam id="po_msg_id" type="INTEGER"/>
        <outparam id="po_title" type="VARCHAR"></outparam>
	</statement>
</statements>