<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_ORDENT.P_GUARDA_ASOCIACION" id="guardarAsociacionOrdenTrabajo">
		
	   <param eval="true" name="pv_cdasocia_i" type="NUMERIC">$!params.get("pv_cdasocia_i")</param>
	   <param eval="true" name="pv_cdforord_i" type="NUMERIC">$!params.get("pv_cdforord_i")</param>
       <param eval="true" name="pv_cdproces_i" type="NUMERIC">$!params.get("pv_cdproces_i")</param>
       
	   <param eval="true" name="pv_cdelemento_i" type="NUMERIC">$!params.get("pv_cdelemento_i")</param>
	   <param eval="true" name="pv_cdperson_i" type="NUMERIC">$!params.get("pv_cdperson_i")</param>
       <param eval="true" name="pv_cdunieco_i" type="NUMERIC">$!params.get("pv_cdunieco_i")</param>

	   <param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.get("pv_cdramo_i")</param>
	   <param eval="true" name="pv_cdfolioaon_i" type="NUMERIC">$!params.get("pv_cdfolioaon_i")</param>
       <param eval="true" name="pv_cdfoliocia_i" type="NUMERIC">$!params.get("pv_cdfoliocia_i")</param>

	   <param eval="true" name="pv_dsformaon_i" type="VARCHAR">$!params.get("pv_dsformaon_i")</param>
	   <param eval="true" name="pv_dsformcia_i" type="VARCHAR">$!params.get("pv_dsformcia_i")</param>
       <param eval="true" name="pv_cdfolaonini_i" type="VARCHAR">$!params.get("pv_cdfolaonini_i")</param>

	   <param eval="true" name="pv_cdfolaonfin_i" type="VARCHAR">$!params.get("pv_cdfolaonfin_i")</param>
	   <param eval="true" name="pv_cdfolciaini_i" type="VARCHAR">$!params.get("pv_cdfolciaini_i")</param>
       <param eval="true" name="pv_cdfolciafin_i" type="VARCHAR">$!params.get("pv_cdfolciafin_i")</param>
       
       
   	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
                  