<?xml version="1.0" encoding="UTF-8"?>
<statements>
    <statement type="stored" name="PKG_WIZARD.LOAD_TABLA_APOYO" id="obtieneListaValores">
        <param eval="true" name="pv_ottipotb_i" type="VARCHAR">$!params.get("cdTipo")</param>
        
        <outparam id="pv_registro_o" type="CURSOR"></outparam>
        
        <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
    </statement>
</statements>