<statements>
       <statement type="stored" name="PKG_CANCELA.P_OBTIENE_INCI_SUB" id="obtenerPoliza">
       <param eval="true" name="pv_cdunieco_i" type="NUMERIC">$!params.get("cdUniEco")</param>
       <param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.get("cdRamo")</param>
       <param eval="true" name="pv_estado_i" type="VARCHAR">$!params.get("cdEstado")</param>
       <param eval="true" name="pv_nmpoliza_i" type="NUMERIC">$!params.get("nmPoliza")</param>

  	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
       <outparam id="pv_texto_o" type="VARCHAR"/>
	</statement>
</statements>
