<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_AON_CHECKLIST.P_GUARDA_TAREA_SECCION_CTA" id="chkListguardaTareaSeccionCta">
        <!--outparam id="pv_cdconfig_i" type="NUMERIC"></outparam-->
        <param eval="true" name="pv_cdconfig_i" type="NUMERIC">$!params.get("codigoconfiguracion")</param>
        <param eval="true" name="pv_dsconfig_i" type="VARCHAR">$!params.get("descripcionconfig")</param>
        <param eval="true" name="pv_cdperson_i" type="NUMERIC">$!params.get("cdPerson")</param>
        <param eval="true" name="pv_cdlinope_i" type="NUMERIC">$!params.get("linope")</param>
        <param eval="true" name="pv_cdelemento_i" type="NUMERIC">$!params.get("codigocliente")</param>
        <param eval="true" name="pv_cdseccion_i" type="NUMERIC">$!params.get("codigoseccion")</param>
        <param eval="true" name="pv_cdtarea_i" type="NUMERIC">$!params.get("codigotarea")</param>
        <param eval="true" name="pv_fgcomple_i" type="NUMERIC">$!params.get("codigocompletada")</param>
        <param eval="true" name="pv_fgnorequ_i" type="NUMERIC">$!params.get("codigorequerida")</param>
        <param eval="true" name="pv_fgpendiente_i" type="NUMERIC">$!params.get("codigopendiente")</param>

        <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>

             
