<statements>
	<statement type="stored" name="PKG_ORDENT.P_GUARDA_SECCION_FORMATO" id="guardaSeccionFormato">
       <param eval="true" name="pv_cdformatoorden_i" type="NUMERIC">$!params.get("cdformatoorden")</param>
       <param eval="true" name="pv_cdseccion_i" type="NUMERIC">$!params.get("cdseccion")</param>
       <param eval="true" name="pv_nmorden_i" type="NUMERIC">$!params.get("nmorden")</param>
       <param eval="true" name="pv_cdtipsit_i" type="VARCHAR">$!params.get("cdtipsit")</param>
       <param eval="true" name="pv_cdtipobj_i" type="VARCHAR">$!params.get("cdtipobj")</param>	  		
  		
  		<outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
       <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>