<statements>
	<statement type="stored" name="PKG_ENDOSOS.P_BORRA_TTIPSUPL" id="pBorraTTipSupl">
        <param eval="true" name="pv_cdtipsup_i" type="NUMERIC">$!params.get("pv_cdtipsup_i")</param>
        
        <outparam id="pv_msg_id_o" type="INTEGER"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam> 
	</statement>
</statements>