<statements>
	<statement type="stored" name="PKG_LISTAS.P_TIPO_OBJETO" id="tipoObjeto">
		<outparam id="pv_registro_o" type="CURSOR"></outparam>
		<outparam id="pv_msg_id_o" type="INTEGER"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>