<statements>
	<statement type="stored" name="PKG_ENDOSOS.P_OBTIENE_TNUMENEX" id="pObtieneTNumEnEx">
		
       <param eval="true" name="pv_dselemento_i" type="VARCHAR">$!params.get("pv_dselemento_i")</param>
       <param eval="true" name="pv_dsunieco_i" type="VARCHAR">$!params.get("pv_dsunieco_i")</param>
       <param eval="true" name="pv_dsramo_i" type="VARCHAR">$!params.get("pv_dsramo_i")</param>
       <param eval="true" name="pv_dsplan_i" type="VARCHAR">$!params.get("pv_dsplan_i")</param>       
       <param eval="true" name="pv_nmpoliex_i" type="VARCHAR">$!params.get("pv_nmpoliex_i")</param>
       
  	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>