<statements>
	<statement type="stored" name="PKG_ALERTAS.P_ELIMINA_CONF_ALERTA" id="borraConfCuentaAuto">
        
        <param eval="true" name="pv_cdidunico_i" type="NUMERIC">$!params.get("cdIdUnico")</param>
       
       	<outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
		
	</statement>
</statements>