<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CONFG_CUENTA.P_BORRAR_PLANPRO" id="borraConfiguracionPlanes">
        <param eval="true" name="p_producto" type="NUMERIC">$!params.get("cdramo")</param>
        <param eval="true" name="p_plan" type="VARCHAR">$!params.get("cdplan")</param>
        <param eval="true" name="p_situacion" type="VARCHAR">$!params.get("cdtipsit")</param>
        <param eval="true" name="p_garantia" type="VARCHAR">$!params.get("cdgarant")</param>
        <param eval="true" name="p_oblig" type="INTEGER">$!params.get("swoblig")</param>
        <outparam id="p_out_title" type="VARCHAR"></outparam>
		<outparam id="po_msg_id" type="NUMERIC"/>
	</statement>
</statements>