<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
       <statement type="stored" name="PKG_CATALOGO.P_OBTIENE_REGISTROS_DOS" id="obtenerRegistros">
       <param eval="true" name="pv_cdcatalogo_i" type="VARCHAR">$!params.get("cdPantalla")</param>
       <param eval="true" name="pv_clave1_i" type="VARCHAR"><![CDATA[$!params.get("Clave1")]]></param>
       <param eval="true" name="pv_clave2_i" type="VARCHAR"><![CDATA[$!params.get("Clave2")]]></param>
       <param eval="true" name="pv_descripcion_i" type="VARCHAR"><![CDATA[$!params.get("Descripcion")]]></param>
       <param eval="true" name="pv_filtro1_i" type="VARCHAR"><![CDATA[$!params.get("Valor1")]]></param>
       <param eval="true" name="pv_filtro2_i" type="VARCHAR"><![CDATA[$!params.get("Valor2")]]></param>
       <param eval="true" name="pv_filtro3_i" type="VARCHAR"><![CDATA[$!params.get("Valor3")]]></param>
       <param eval="true" name="pv_filtro4_i" type="VARCHAR"><![CDATA[$!params.get("Valor4")]]></param>

  	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
