<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
    <statement type='stored' name="PKG_CONFG_CUENTA.P_OBTIENE_PLANPRO_REG" id="listaConfiguracionPlanes">
        <param eval="true" name="pv_producto_i" type="NUMERIC">$!params.get("cdramo")</param>
        <param eval="true" name="pv_plan_i" type="VARCHAR">$!params.get("cdplan")</param>
        <param eval="true" name="pv_situacion_i" type="VARCHAR">$!params.get("cdtipsit")</param>
        <param eval="true" name="pv_garantia_i" type="VARCHAR">$!params.get("cdgarant")</param>
       
        <outparam id="po_msg_id" type="NUMERIC"/>
        <outparam id="p_out_title" type="VARCHAR"/>
        <outparam id="lcur_registros" type="CURSOR"/>
    </statement>
</statements>