<statements>
	<statement type="stored" name="PKG_PARAMETRIZA.P_GUARDA_ATRIBFC" id="guardarConfigurarFormaCalculoAtributo">

	   <param eval="true" name="pv_cdiden_i" type="NUMERIC">$!params.get("cdIden")</param>		       
       <param eval="true" name="pv_cdunieco_i" type="NUMERIC">$!params.get("cdUnieco")</param>
	   <param eval="true" name="pv_cdramo_i" type="VARCHAR">$!params.get("cdRamo")</param>
	   <param eval="true" name="pv_cdelemento_i" type="VARCHAR">$!params.get("cdElemento")</param>
       <param eval="true" name="pv_cdtipsit_i" type="VARCHAR">$!params.get("cdTipSit")</param>	   
	   <param eval="true" name="pv_cdtabla_i" type="VARCHAR">$!params.get("cdTabla")</param>
	   <param eval="true" name="pv_swformacalculo_i" type="NUMERIC">$!params.get("swFormaCalculo")</param>
       
   	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o"  type="VARCHAR"/>
	</statement>
</statements>