<statements>
	<statement type="stored" name="PKG_SATELITES.P_MOV_MPOLIZAS" id="pMovPolizas">
			   
       <param eval="true" name="cdunieco" type="NUMERIC">$!params.get("cdunieco")</param>
       <param eval="true" name="pv_cdramo" type="NUMERIC">$!params.get("pv_cdramo")</param>
       <param eval="true" name="pv_estado" type="NUMERIC">$!params.get("pv_estado")</param>
       <param eval="true" name="pv_nmpoliza" type="NUMERIC">$!params.get("pv_nmpoliza")</param>
       <param eval="true" name="pv_nmsuplem" type="NUMERIC">$!params.get("pv_nmsuplem")</param>
       <param eval="true" name="pv_status" type="NUMERIC">$!params.get("pv_status")</param>
       <param eval="true" name="pv_swestado" type="NUMERIC">$!params.get("pv_swestado")</param>
       <param eval="true" name="pv_nmsolici" type="NUMERIC">$!params.get("pv_nmsolici")</param>
       <param eval="true" name="pv_feautori" type="NUMERIC">$!params.get("pv_feautori")</param>
       <param eval="true" name="pv_cdmotanu" type="NUMERIC">$!params.get("pv_cdmotanu")</param>
       <param eval="true" name="pv_feanulac" type="NUMERIC">$!params.get("pv_feanulac")</param>
       <param eval="true" name="pv_swautori" type="NUMERIC">$!params.get("pv_swautori")</param>
       <param eval="true" name="pv_cdmoneda" type="NUMERIC">$!params.get("pv_cdmoneda")</param>
       <param eval="true" name="pv_feinisus" type="NUMERIC">$!params.get("pv_feinisus")</param>
       <param eval="true" name="pv_fefinsus" type="NUMERIC">$!params.get("pv_fefinsus")</param>
       <param eval="true" name="pv_ottempot" type="NUMERIC">$!params.get("pv_ottempot")</param>
       <param eval="true" name="pv_feefecto" type="NUMERIC">$!params.get("pv_feefecto")</param>
       <param eval="true" name="pv_hhefecto" type="NUMERIC">$!params.get("pv_hhefecto")</param>
       <param eval="true" name="pv_feproren" type="NUMERIC">$!params.get("pv_feproren")</param>
       <param eval="true" name="pv_fevencim" type="NUMERIC">$!params.get("pv_fevencim")</param>
       <param eval="true" name="pv_nmrenova" type="NUMERIC">$!params.get("pv_nmrenova")</param>
       <param eval="true" name="pv_ferecibo" type="NUMERIC">$!params.get("pv_ferecibo")</param>
       <param eval="true" name="pv_feultsin" type="NUMERIC">$!params.get("pv_feultsin")</param>
       <param eval="true" name="pv_nmnumsin" type="NUMERIC">$!params.get("pv_nmnumsin")</param>
       <param eval="true" name="pv_cdtipcoa" type="NUMERIC">$!params.get("pv_cdtipcoa")</param>
       <param eval="true" name="pv_swtarifi" type="NUMERIC">$!params.get("pv_swtarifi")</param>
       <param eval="true" name="pv_swabrido" type="NUMERIC">$!params.get("pv_swabrido")</param>
       <param eval="true" name="pv_feemisio" type="NUMERIC">$!params.get("pv_feemisio")</param>
       <param eval="true" name="pv_cdperpag" type="NUMERIC">$!params.get("pv_cdperpag")</param>
       <param eval="true" name="pv_nmpoliex" type="NUMERIC">$!params.get("pv_nmpoliex")</param>
       <param eval="true" name="pv_nmcuadro" type="NUMERIC">$!params.get("pv_nmcuadro")</param>
       <param eval="true" name="pv_porredau" type="NUMERIC">$!params.get("pv_porredau")</param>
       <param eval="true" name="pv_swconsol" type="NUMERIC">$!params.get("pv_swconsol")</param>
       <param eval="true" name="pv_nmpolant" type="NUMERIC">$!params.get("pv_nmpolant")</param>
       <param eval="true" name="pv_nmpolnva" type="NUMERIC">$!params.get("pv_nmpolnva")</param>
       <param eval="true" name="pv_fesolici" type="NUMERIC">$!params.get("pv_fesolici")</param>
       <param eval="true" name="pv_cdramant" type="NUMERIC">$!params.get("pv_cdramant")</param>
       <param eval="true" name="pv_cdmejred" type="NUMERIC">$!params.get("pv_cdmejred")</param>
       <param eval="true" name="pv_nmpoldoc" type="NUMERIC">$!params.get("pv_nmpoldoc")</param>
       <param eval="true" name="pv_nmpoliza2" type="NUMERIC">$!params.get("pv_nmpoliza2")</param>
       <param eval="true" name="pv_nmrenove" type="NUMERIC">$!params.get("pv_nmrenove")</param>
       <param eval="true" name="pv_nmsuplee" type="NUMERIC">$!params.get("pv_nmsuplee")</param>
       <param eval="true" name="pv_ttipcamc" type="NUMERIC">$!params.get("pv_ttipcamc")</param>
       <param eval="true" name="pv_ttipcamv" type="NUMERIC">$!params.get("pv_ttipcamv")</param>
       <param eval="true" name="pv_swpatent" type="NUMERIC">$!params.get("pv_swpatent")</param>
       <param eval="true" name="pv_accion" type="NUMERIC">$!params.get("pv_accion")</param>
       
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>