<statements>
	<statement type="stored" name="PKG_SATELITES.P_OBTIENE_MPOLIOBJ" id="pObtieneMPoliObj">
		
		<param eval="true" name="pv_cdunieco" type="NUMERIC">$!params.get("pv_cdunieco")</param>
		<param eval="true" name="pv_cdramo" type="NUMERIC">$!params.get("pv_cdramo")</param>
		<param eval="true" name="pv_estado" type="NUMERIC">$!params.get("pv_estado")</param>
		<param eval="true" name="pv_nmpoliza" type="NUMERIC">$!params.get("pv_nmpoliza")</param>
		<param eval="true" name="pv_nmsituac" type="NUMERIC">$!params.get("pv_nmsituac")</param>
		<param eval="true" name="pv_nmobjeto" type="NUMERIC">$!params.get("pv_nmobjeto")</param>
		
		<outparam id="pv_registro_o" type="CURSOR"></outparam>
		
		<outparam id="pv_msg_id_o" type="INTEGER"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>