<statements>
	<statement type="stored" name="PKG_SATELITES.P_MOV_TVALOSIT" id="pMovTValoSit">
		
        <param eval="true" name="pv_cdunieco" type="NUMERIC">$!params.get("pv_cdunieco")</param>
        <param eval="true" name="pv_cdramo" type="NUMERIC">$!params.get("pv_cdramo")</param>
        <param eval="true" name="pv_estado" type="VARCHAR">$!params.get("pv_estado")</param>
        <param eval="true" name="pv_nmpoliza" type="NUMERIC">$!params.get("pv_nmpoliza")</param>
        <param eval="true" name="pv_nmsituac" type="NUMERIC">$!params.get("pv_nmsituac")</param>
        <param eval="true" name="pv_nmsuplem" type="NUMERIC">$!params.get("pv_nmsuplem")</param>
        <param eval="true" name="pv_status" type="NUMERIC">$!params.get("pv_status")</param>
        <param eval="true" name="pv_cdtipsit" type="NUMERIC">$!params.get("pv_cdtipsit")</param>  
        
        <param eval="true" name="pv_otvalor01" type="VARCHAR">$!params.get("pv_otValor01")</param>
        <param eval="true" name="pv_otvalor02" type="VARCHAR">$!params.get("pv_otValor02")</param>
        <param eval="true" name="pv_otvalor03" type="VARCHAR">$!params.get("pv_otValor03")</param>
        <param eval="true" name="pv_otvalor04" type="VARCHAR">$!params.get("pv_otValor04")</param>
        <param eval="true" name="pv_otvalor05" type="VARCHAR">$!params.get("pv_otValor05")</param>
        <param eval="true" name="pv_otvalor06" type="VARCHAR">$!params.get("pv_otValor06")</param>
        <param eval="true" name="pv_otvalor07" type="VARCHAR">$!params.get("pv_otValor07")</param>
        <param eval="true" name="pv_otvalor08" type="VARCHAR">$!params.get("pv_otValor08")</param>
        <param eval="true" name="pv_otvalor09" type="VARCHAR">$!params.get("pv_otValor09")</param>
        <param eval="true" name="pv_otvalor10" type="VARCHAR">$!params.get("pv_otValor10")</param>
        <param eval="true" name="pv_otvalor11" type="VARCHAR">$!params.get("pv_otValor11")</param>
        <param eval="true" name="pv_otvalor12" type="VARCHAR">$!params.get("pv_otValor12")</param>
        <param eval="true" name="pv_otvalor13" type="VARCHAR">$!params.get("pv_otValor13")</param>
        <param eval="true" name="pv_otvalor14" type="VARCHAR">$!params.get("pv_otValor14")</param>
        <param eval="true" name="pv_otvalor15" type="VARCHAR">$!params.get("pv_otValor15")</param>
        <param eval="true" name="pv_otvalor16" type="VARCHAR">$!params.get("pv_otValor16")</param>
        <param eval="true" name="pv_otvalor17" type="VARCHAR">$!params.get("pv_otValor17")</param>
        <param eval="true" name="pv_otvalor18" type="VARCHAR">$!params.get("pv_otValor18")</param>
        <param eval="true" name="pv_otvalor19" type="VARCHAR">$!params.get("pv_otValor19")</param>
        <param eval="true" name="pv_otvalor20" type="VARCHAR">$!params.get("pv_otValor20")</param>
        <param eval="true" name="pv_otvalor21" type="VARCHAR">$!params.get("pv_otValor21")</param>
        <param eval="true" name="pv_otvalor22" type="VARCHAR">$!params.get("pv_otValor22")</param>
        <param eval="true" name="pv_otvalor23" type="VARCHAR">$!params.get("pv_otValor23")</param>
        <param eval="true" name="pv_otvalor24" type="VARCHAR">$!params.get("pv_otValor24")</param>
        <param eval="true" name="pv_otvalor25" type="VARCHAR">$!params.get("pv_otValor25")</param>
        <param eval="true" name="pv_otvalor26" type="VARCHAR">$!params.get("pv_otValor26")</param>
        <param eval="true" name="pv_otvalor27" type="VARCHAR">$!params.get("pv_otValor27")</param>
        <param eval="true" name="pv_otvalor28" type="VARCHAR">$!params.get("pv_otValor28")</param>
        <param eval="true" name="pv_otvalor29" type="VARCHAR">$!params.get("pv_otValor29")</param>
        <param eval="true" name="pv_otvalor30" type="VARCHAR">$!params.get("pv_otValor30")</param>
        <param eval="true" name="pv_otvalor31" type="VARCHAR">$!params.get("pv_otValor31")</param>
        <param eval="true" name="pv_otvalor32" type="VARCHAR">$!params.get("pv_otValor32")</param>
        <param eval="true" name="pv_otvalor33" type="VARCHAR">$!params.get("pv_otValor33")</param>
        <param eval="true" name="pv_otvalor34" type="VARCHAR">$!params.get("pv_otValor34")</param>
        <param eval="true" name="pv_otvalor35" type="VARCHAR">$!params.get("pv_otValor35")</param>
        <param eval="true" name="pv_otvalor36" type="VARCHAR">$!params.get("pv_otValor36")</param>
        <param eval="true" name="pv_otvalor37" type="VARCHAR">$!params.get("pv_otValor37")</param>
        <param eval="true" name="pv_otvalor38" type="VARCHAR">$!params.get("pv_otValor38")</param>
        <param eval="true" name="pv_otvalor39" type="VARCHAR">$!params.get("pv_otValor39")</param>
        <param eval="true" name="pv_otvalor40" type="VARCHAR">$!params.get("pv_otValor40")</param>
        <param eval="true" name="pv_otvalor41" type="VARCHAR">$!params.get("pv_otValor41")</param>
        <param eval="true" name="pv_otvalor42" type="VARCHAR">$!params.get("pv_otValor42")</param>
        <param eval="true" name="pv_otvalor43" type="VARCHAR">$!params.get("pv_otValor43")</param>
        <param eval="true" name="pv_otvalor44" type="VARCHAR">$!params.get("pv_otValor44")</param>
        <param eval="true" name="pv_otvalor45" type="VARCHAR">$!params.get("pv_otValor45")</param>
        <param eval="true" name="pv_otvalor46" type="VARCHAR">$!params.get("pv_otValor46")</param>
        <param eval="true" name="pv_otvalor47" type="VARCHAR">$!params.get("pv_otValor47")</param>
        <param eval="true" name="pv_otvalor48" type="VARCHAR">$!params.get("pv_otValor48")</param>
        <param eval="true" name="pv_otvalor49" type="VARCHAR">$!params.get("pv_otValor49")</param>
        <param eval="true" name="pv_otvalor50" type="VARCHAR">$!params.get("pv_otValor50")</param>

        <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>