<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
  
    <statement type='stored' name="PKG_CONFIGURA.P_GUARDA_EJECUTIVO" id="guardarEjecutivosCuenta2">

        <param eval="true" name="p_cve_agente" type="VARCHAR">$!params.get("cdAgente")</param> 
        <param eval="true" name="p_cve_cliente" type="NUMERIC">$!params.get("cdPerson")</param>
        <param eval="true" name="p_cve_estado" type="NUMERIC">$!params.get("cdEstado")</param>
        <param eval="true" name="p_fecha_inic" type="VARCHAR">$!params.get("feInicio")</param>
        <param eval="true" name="p_fecha_fin" type="VARCHAR">$!params.get("feFin")</param>
        <param eval="true" name="p_cve_tipram" type="VARCHAR">$!params.get("cdTipRam")</param>
        <param eval="true" name="p_cve_ramo" type="NUMERIC">$!params.get("cdRamo")</param>
        <param eval="true" name="p_linea_agen" type="NUMERIC">$!params.get("cdLinCta")</param> 
        <param eval="true" name="p_niv_post" type="NUMERIC">$!params.get("swNivelPosterior")</param>
        <param eval="true" name="p_grupo" type="NUMERIC">$!params.get("cdGrupo")</param>
        <param eval="true" name="p_cdelemento" type="NUMERIC">$!params.get("cdElemento")</param>
        <param eval="true" name="p_cdtipage" type="VARCHAR">$!params.get("cdTipage")</param>
        <param eval="true" name="p_accion" type="VARCHAR">$!params.get("p_accion")</param>
       
       	<outparam id="pv_msg_id_o" type="INTEGER"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	
	</statement>

    
</statements>