<statements>
	<statement type="stored" name="PKG_CONFIGURA.P_OBTIENE_EJECUTIVO" id="getEjecutivosCuenta">
		
       <param eval="true" name="P_CVE_AGENTE" type="VARCHAR">$!params.get("cdAgente")</param>  	   
  	   <param eval="true" name="P_CVE_CLIENTE" type="NUMERIC">$!params.get("cdElemento")</param>
  	   
  	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
