<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_ORDENT.P_GUARDA_FORMATO" id="guardarFormatoOrdenesTrabajo">
      <param eval="true" name="P_CVE_FORMATOORDEN" type="NUMERIC">$!params.get("cdFormatoOrden")</param>
      <param eval="true" name="P_FORMATOORDEN" type="VARCHAR"><![CDATA[$!params.get("dsFormatoOrden")]]></param>  		
  		
  		<outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
