<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_ORDENT.P_OBTIENE_FORMATOS" id="buscarFormatoOrdenesTrabajo">
      <param eval="true" name="P_FORMATOORDEN" type="VARCHAR"><![CDATA[$!params.get("dsFormatoOrden")]]></param>
 
  	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>

