<statements>
    <statement type='stored' name="PKG_ORDENT.P_COPIA_FORMATO" id="copiarFormatoOrdenesTrabajo">
    <param eval="true" name="pv_cdformatoorden_i" type="NUMERIC">$!params.get("cdFormatoOrden")</param>
    
       	<outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"/>
        		
	</statement>

</statements>