<statements>
    <statement type="stored" name="PKG_CATALOGO.P_OBTIENE_AGENTES_REG" id="obtieneAgente">
        <param eval="true" name="pv_cdagente_i" type="VARCHAR">$!params.get("cdEjecutivo")</param>

        <outparam id="pv_registro_o" type="CURSOR"/>

        <outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"/>        
    </statement>
</statements>