<statements>
    <statement type="stored" name="PKG_CATALOGO.P_INSERTA_AGENTES" id="guardaAgente">
        <param eval="true" name="pv_cdagente_i" type="VARCHAR">$!params.get("cdEjecutivo")</param>
        <param eval="true" name="pv_cdperson_i" type="NUMERIC">$!params.get("cdPerson")</param>
        <param eval="true" name="pv_fedesde_i" type="VARCHAR">$!params.get("fechaInicial")</param>
        <param eval="true" name="pv_fehasta_i" type="VARCHAR">$!params.get("fechaFinal")</param>
        <param eval="true" name="pv_swactivo_i" type="VARCHAR">$!params.get("status")</param>
        

		<outparam id="pv_cdagente_o" type="VARCHAR"/>
        <outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"/>        
    </statement>
</statements>