<?xml version="1.0" encoding="UTF-8"?>
<statements>
     <statement type="stored" name="PKG_TABAPOYO.P_BORRA_TCATALOG" id="pBorraCatalogo">
        <param eval="true" name="pv_cdtabla_i" type="VARCHAR">$!params.get('pv_cdtabla_i')</param>
        <param eval="true" name="pv_cdregion_i" type="NUMERIC">$!params.get('pv_cdregion_i')</param>
        <param eval="true" name="pv_cdidioma_i" type="NUMERIC">$!params.get('pv_cdidioma_i')</param>
        <param eval="true" name="pv_codigo_i" type="VARCHAR">$!params.get('pv_codigo_i')</param>
        
        
        <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>        
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
    </statement>
</statements>