<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CANCELA.P_OBTIENE_METODOS" id="pObtieneMetodosCancelacion">
        
        <param eval="true" name="pv_cdmetodo_i" type="VARCHAR"><![CDATA[$!params.get("cdMetodo")]]></param>
        <param eval="true" name="pv_dsmetodo_i" type="VARCHAR"><![CDATA[$!params.get("dsMetodo")]]></param>
 
        <outparam id="pv_registro_o" type="CURSOR"></outparam>
		<outparam id="po_msg_id" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>