<statements>
	<statement type="stored" name="PKG_CANCELA.P_BORRA_REQUISITO" id="borraMotivosCancelacionRc">
        <param eval="true" name="pv_cdrazon_i" type="NUMERIC">$!params.get("cdRazon")</param>
        <param eval="true" name="pv_cdadver_i" type="NUMERIC">$!params.get("cdAdvert")</param>
        
        <outparam id="pv_msg_id_o" type="INTEGER"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam> 
	</statement>
</statements>