<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="Pkg_Listas.P_LISTA_TCATALOG" id="pObtenerTipoNivel">
        <param eval="true" name="pv_cdtabla_i" type="VARCHAR">$!params.get("pi_tabla")</param>
        <param eval="true" name="pv_cdidioma_i" type="VARCHAR">$!params.get("pv_cdidioma_i")</param>
        <param eval="true" name="pv_cdregion_i" type="VARCHAR">$!params.get("pv_cdregion_i")</param>
        
		<outparam id="pv_refcursor_o" type="CURSOR"></outparam>
		<outparam id="po_msg_id" type="INTEGER"/>
        <outparam id="po_title" type="VARCHAR"></outparam>
	</statement>
</statements>
