<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
    
    <statement type='stored' name="PKG_CONFIGURA.P_EJECUTIVOS_AON" id="pObtieneEjecutivosAon">
        
        <outparam id="pv_registro_o" type="CURSOR"/>
        <outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"/>
        
    </statement>
    
</statements>