<statements>
	<statement type="stored" name="PKG_CANCELA.P_BORRA_PERIODO_GRACIA" id="borrarPeriodosGracia">
		
	   <param eval="true" name="pv_cdtramo_i" type="NUMERIC">$!params.get("pv_cdtramo_i")</param>
       
  	   <outparam id="pv_msg_id_o" type="INTEGER"/>
  	   
	  <outparam id="pv_title_o" type="VARCHAR"/>

	</statement>
</statements>
  