<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_PERSONA.P_BUSCA_PERSONAS" id="obtienePersonas">
        <param eval="true" name="pi_otfisjur" type="VARCHAR">$!params.get("codTipoPersona")</param>
        <param eval="true" name="pi_nombre" type="VARCHAR"><![CDATA[$!params.get("nombre")]]></param>
        <param eval="true" name="pi_cdrfc" type="VARCHAR"><![CDATA[$!params.get("rfc")]]></param>
        <param eval="true" name="pi_nivel" type="NUMERIC">$!params.get("codCorporativo")</param>
        <param eval="true" name="pv_nmnumnom_i" type="VARCHAR">$!params.get("NumNom")</param>

        <outparam id="po_resulset" type="CURSOR"></outparam>
		<outparam id="po_msg_id" type="NUMERIC"/>
        <outparam id="po_title" type="VARCHAR"></outparam>
	</statement>
</statements>
