<statements>
	<statement type="stored" name="PKG_PERSONA.P_BORRA_DOMICILIO" id="pBorraDomicilio">
        <param eval="true" name="pi_cdperson" type="NUMERIC">$!params.get("codigoPersona")</param>
        <param eval="true" name="pi_nmorddom" type="NUMERIC">$!params.get("numOrden")</param>

		<outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>