<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_PERSONA.P_SALVA_PERSONA" id="actualizaPersona">
        <param eval="true" name="pi_otfisjur" type="VARCHAR">$!params.get("codigoTipoPersonaJ")</param>
        <outparam id="pi_cdperson" type="NUMERIC"></outparam>

        <param eval="true" name="pi_cdtipide" type="VARCHAR">$!params.get("TipoIdentificador")</param>
        <param eval="true" name="pi_cdideper" type="VARCHAR">$!params.get("NroIdentificador")</param>

        <param eval="true" name="pi_dsnombre" type="VARCHAR"><![CDATA[$!params.get("Nombre")]]></param>
        <param eval="true" name="pi_dsapellido" type="VARCHAR"><![CDATA[$!params.get("ApellidoPaterno")]]></param>
        <param eval="true" name="pi_dsapellido1" type="VARCHAR"><![CDATA[$!params.get("ApellidoMaterno")]]></param>
        <param eval="true" name="pi_otsexo" type="VARCHAR">$!params.get("Sexo")</param>
        <param eval="true" name="pi_cdestciv" type="VARCHAR">$!params.get("EstadoCivil")</param>
        <param eval="true" name="pi_fenacimi" type="VARCHAR">$!params.get("FechaNacimiento")</param>
        <param eval="true" name="pi_cdnacion" type="VARCHAR">$!params.get("Nacionalidad")</param>
        <param eval="true" name="pi_cdtipper" type="VARCHAR">$!params.get("TipoEntidad")</param>
        <param eval="true" name="curp" type="VARCHAR">$!params.get("curp")</param>
        <param eval="true" name="cdrfc" type="VARCHAR">$!params.get("rfc")</param>
        <param eval="true" name="dsemail" type="VARCHAR">$!params.get("email")</param>                        
        <!--param eval="true" name="pv_feingreso_i" type="VARCHAR">$!params.get("FechaIngreso")</param-->

        <outparam id="po_msg_id" type="NUMERIC"></outparam>
        <outparam id="po_title" type="VARCHAR"></outparam>
	</statement>
</statements>
