<statements>
	<statement type="stored" name="PKG_MENU.P_FORMA_MENU" id="menu-load">
		<param eval="true" name="PV_CDELEMENTO_I" type="NUMERIC">$!params.get("claveCliente")</param>
		<param eval="true" name="PV_CDROL_I" type="VARCHAR">$!params.get("claveRol")</param>
		<param eval="true" name="PV_CDUSUARIO_I" type="VARCHAR">$!params.get("usuario")</param>
		<outparam id="PV_REGISTRO_O" type="CURSOR"/>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>
		<outparam id="PV_TEXT_O" type="VARCHAR"/>
	</statement>
</statements>
