<statements>
	<statement type="stored" name="PKG_RENOVA.P_BORRA_RANGO" id="borraRangoRenovacion">
        
        <param eval="true" name="p_cdconfiguracion" type="NUMERIC">$!params.get("cdRenova")</param>
        <param eval="true" name="p_cdconfiguracion" type="NUMERIC">$!params.get("cdRango")</param>
        
        <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
      
	</statement>
</statements>