<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
  
    <statement type='stored' name="PKG_RENOVA.P_GUARDA_RANGO" id="agregarGuardarRangoRenovacion">

        <param eval="true" name="pv_cdrenova_i" type="NUMERIC">$!params.get("cdRenova")</param> 
        <param eval="true" name="pv_cdrango_i" type="NUMERIC">$!params.get("cdRango")</param> 
        <param eval="true" name="pv_inicio_i" type="NUMERIC">$!params.get("cdInicioRango")</param>
        <param eval="true" name="pv_fin_i" type="NUMERIC">$!params.get("cdFinRango")</param>        
        <param eval="true" name="pv_dsrango" type="VARCHAR"><![CDATA[$!params.get("dsRango")]]></param>
        
                         
        <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
       
	
	</statement>

    
</statements>