<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CANCELA.P_GUARDA_REQUISITO_REHAB" id="guardarFormatoOrdenesTrabajo">
      <param eval="true" name="pv_cdrequisito_i" type="NUMERIC">$!params.get("cdRequisito")</param>
      <param eval="true" name="pv_dsrequisito_i" type="VARCHAR"><![CDATA[$!params.get("dsRequisito")]]></param>  
      <param eval="true" name="pv_cdcliente_i" type="NUMERIC">$!params.get("cdElemento")</param>
      <param eval="true" name="pv_cdunieco_i" type="VARCHAR">$!params.get("cdUnieco")</param>  				
      <param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.get("cdRamo")</param>
      <param eval="true" name="pv_cdperson_i" type="VARCHAR">$!params.get("cdPerson")</param>  		
      <param eval="true" name="pv_cddocxcta_i" type="NUMERIC">$!params.get("cdDocXcta")</param>    
    		
  		<outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
