<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<statements>

 <statement type="stored" name="PKG_TABAPOYO.P_GUARDA_VALORES" id="pGuardaValores">
  <param eval="true" name="PI_TIP_TRAN" type="NUMERIC">$!params.valores.tipoTransito</param>
  <param eval="true" name="PI_NMTABLA" type="NUMERIC">$!params.nmTabla</param>
  <param eval="true" name="PI_OTCLAVE1" type="VARCHAR">$!params.valores.descripcionCincoClaves.descripcionClave1</param>
  <param eval="true" name="PI_OTCLAVE2" type="VARCHAR">$!params.valores.descripcionCincoClaves.descripcionClave2</param>
  <param eval="true" name="PI_OTCLAVE3" type="VARCHAR">$!params.valores.descripcionCincoClaves.descripcionClave3</param>
  <param eval="true" name="PI_OTCLAVE4" type="VARCHAR">$!params.valores.descripcionCincoClaves.descripcionClave4</param>
  <param eval="true" name="PI_OTCLAVE5" type="VARCHAR">$!params.valores.descripcionCincoClaves.descripcionClave5</param>
  <param eval="true" name="PI_FEDESDE" type="DATE">$!params.valores.fechaDesde</param>
  <param eval="true" name="PI_FEHASTA" type="DATE">$!params.valores.fechaHasta</param>
  <param eval="true" name="PI_OTCLAVE1_ANT" type="VARCHAR">$!params.valores.descripcionCincoClavesAnterior.descripcionClave1</param>
  <param eval="true" name="PI_OTCLAVE2_ANT" type="VARCHAR">$!params.valores.descripcionCincoClavesAnterior.descripcionClave2</param>
  <param eval="true" name="PI_OTCLAVE3_ANT" type="VARCHAR">$!params.valores.descripcionCincoClavesAnterior.descripcionClave3</param>
  <param eval="true" name="PI_OTCLAVE4_ANT" type="VARCHAR">$!params.valores.descripcionCincoClavesAnterior.descripcionClave4</param>
  <param eval="true" name="PI_OTCLAVE5_ANT" type="VARCHAR">$!params.valores.descripcionCincoClavesAnterior.descripcionClave5</param>
  <param eval="true" name="PI_FEDESDE_ANT" type="DATE">$!params.valores.fechaDesdeAnterior</param>
  <param eval="true" name="PI_FEHASTA_ANT" type="DATE">$!params.valores.fechahastaAnterior</param>
  <param eval="true" name="PI_OTVALOR01" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion1</param>
  <param eval="true" name="PI_OTVALOR02" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion2</param>
  <param eval="true" name="PI_OTVALOR03" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion3</param>
  <param eval="true" name="PI_OTVALOR04" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion4</param>
  <param eval="true" name="PI_OTVALOR05" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion5</param>
  <param eval="true" name="PI_OTVALOR06" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion6</param>
  <param eval="true" name="PI_OTVALOR07" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion7</param>
  <param eval="true" name="PI_OTVALOR08" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion8</param>
  <param eval="true" name="PI_OTVALOR09" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion9</param>
  <param eval="true" name="PI_OTVALOR10" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion10</param>
  <param eval="true" name="PI_OTVALOR11" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion11</param>
  <param eval="true" name="PI_OTVALOR12" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion12</param>
  <param eval="true" name="PI_OTVALOR13" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion13</param>
  <param eval="true" name="PI_OTVALOR14" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion14</param>
  <param eval="true" name="PI_OTVALOR15" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion15</param>
  <param eval="true" name="PI_OTVALOR16" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion16</param>
  <param eval="true" name="PI_OTVALOR17" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion17</param>
  <param eval="true" name="PI_OTVALOR18" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion18</param>
  <param eval="true" name="PI_OTVALOR19" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion19</param>
  <param eval="true" name="PI_OTVALOR20" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion20</param>
  <param eval="true" name="PI_OTVALOR21" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion21</param>
  <param eval="true" name="PI_OTVALOR22" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion22</param>
  <param eval="true" name="PI_OTVALOR23" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion23</param>
  <param eval="true" name="PI_OTVALOR24" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion24</param>
  <param eval="true" name="PI_OTVALOR25" type="VARCHAR">$!params.valores.descripcionVeinticincoAtributos.descripcion25</param>
  
  <outparam id="pv_msg_id_o" type="NUMERIC"/>  
  <outparam id="pv_title_o" type="VARCHAR"/>
</statement>

</statements>