<statements>
	<statement type="stored" name="PKG_SATELITES.P_MOV_MPOLIAGR" id="movMPOLIAGR">		
		<param eval="true" name="pv_cdunieco_i" type="NUMERIC"><![CDATA[$!params.get("CD_UNIECO")]]></param>
		<param eval="true" name="pv_cdramo_i" type="NUMERIC"><![CDATA[$!params.get("CD_RAMO")]]></param>
		<param eval="true" name="pv_estado_i" type="VARCHAR"><![CDATA[$!params.get("ESTADO")]]></param>
		<param eval="true" name="pv_nmpoliza_i" type="NUMERIC"><![CDATA[$!params.get("NMPOLIZA")]]></param>
		<param eval="true" name="pv_cdagrupa_i" type="NUMERIC"><![CDATA[1]]></param>
		<param eval="true" name="pv_nmsuplem_i" type="VARCHAR"><![CDATA[$!params.get("NM_SUPLEM")]]></param>
		<param eval="true" name="pv_status_i" type="VARCHAR"><![CDATA[V]]></param>
		<param eval="true" name="pv_cdperson_i" type="NUMERIC"><![CDATA[1]]></param>
		<param eval="true" name="pv_nmorddom_i" type="NUMERIC"><![CDATA[1]]></param>
		<param eval="true" name="pv_cdforpag_i" type="VARCHAR"><![CDATA[4]]></param>
		<param eval="true" name="pv_cdbanco_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdsucurs_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdcuenta_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdrazon_i" type="NUMERIC"></param>
		<param eval="true" name="pv_swregula_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdperreg_i" type="NUMERIC"><![CDATA[1]]></param>
		<param eval="true" name="pv_feultreg_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdgestor_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdrol_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdbanco2_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdsucurs2_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdcuenta2_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdtipcta_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdtipcta2_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdpagcom_i" type="NUMERIC"><![CDATA[1]]></param>
		<param eval="true" name="pv_nmpresta_i" type="VARCHAR"></param>
		<param eval="true" name="pv_nmpresta2_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdbanco3_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdsucurs3_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdcuenta3_i" type="VARCHAR"></param>
		<param eval="true" name="pv_cdtipcta3_i" type="VARCHAR"></param>
		<param eval="true" name="pv_nmpresta3_i" type="VARCHAR"></param>
		<param eval="true" name="pv_nmcuenta_i" type="NUMERIC"></param>
		<param eval="true" name="pv_accion_i" type="VARCHAR"><![CDATA[I]]></param>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>		
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>