<statements>
	<statement type="stored" name="PKG_EMISION.P_MOV_MTARJETA" id="movMTARJETA">		
		<param eval="true" name="pv_NMTARJ_i" type="NUMERIC"><![CDATA[$!params.get("NMTARJ")]]></param>
		<param eval="true" name="pv_CDTITARJ_i" type="VARCHAR"><![CDATA[$!params.get("CDTITARJ")]]></param>
		<param eval="true" name="pv_CDPERSON_i" type="NUMERIC"><![CDATA[$!params.get("CDPERSON")]]></param>
		<param eval="true" name="pv_FEVENCE_i" type="VARCHAR"><![CDATA[$!params.get("FEVENCE")]]></param>
		<param eval="true" name="pv_CDBANCO_i" type="VARCHAR"><![CDATA[$!params.get("CDBANCO")]]></param>
		<param eval="true" name="pv_DEBCRED_i" type="VARCHAR"><![CDATA[$!params.get("DEBCRED")]]></param>
		<param eval="true" name="pv_accion_i" type="VARCHAR"><![CDATA[$!params.get("ACCION")]]></param>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>		
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>