<statements>
	<statement type="stored" name="PKG_SATELITES.P_OBTIENE_TVALOSIT3" id="obtieneTVALOSIT3">
		<param eval="true" name="pv_cdunieco_i" type="NUMERIC">$!params.get("CDUNIECO")</param>
		<param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.get("CDRAMO")</param>
		<param eval="true" name="pv_estado_i" type="VARCHAR">$!params.get("ESTADO")</param>
		<param eval="true" name="pv_nmpoliza_i" type="NUMERIC">$!params.get("NMPOLIZA")</param>
		<param eval="true" name="pv_nmsituac_i" type="NUMERIC">$!params.get("NMSITUAC")</param>
		<param eval="true" name="pv_cdatribu_i" type="NUMERIC">$!params.get("NMSUPLEM")</param>
		<outparam id="pv_registro_o" type="CURSOR"/>
		<outparam id="pv_msg_id_o" type="VARCHAR"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>