<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<statements>
	<statement type="stored" name="PKG_SATELITES.P_MOV_TVALOOBJ" id="satelite-servicio">		  		
  		<param eval="true" name="PV_CDUNIECO_I" type="NUMERIC"><![CDATA[$!params.cduniecoSat]]></param>
  		<param eval="true" name="PV_CDRAMO_I" 	type="NUMERIC"><![CDATA[$!params.cdramoSat]]></param>
  		<param eval="true" name="PV_ESTADO_I" 	type="VARCHAR"><![CDATA[$!params.estadoSat]]></param>
  		<param eval="true" name="PV_NMPOLIZA_I" type="NUMERIC"><![CDATA[$!params.nmpolizaSat]]></param>
  		<param eval="true" name="PV_NMSITUAC_I" type="NUMERIC"><![CDATA[$!params.nmsituacSat]]></param>
  		<param eval="true" name="PV_NMOBJETO_I" type="NUMERIC"><![CDATA[$!params.nmobjetoSat]]></param>
  		<param eval="true" name="PV_CDTIPOBJ_I" type="VARCHAR"><![CDATA[$!params.cdtipoobjSat]]></param>
  		<param eval="true" name="PV_NMSUPLEM_I" type="NUMERIC"><![CDATA[$!params.nmsuplemSat]]></param>
  		<param eval="true" name="PV_STATUS_I" 	type="VARCHAR"><![CDATA[$!params.statusSat]]></param>
  		 		
  		<param eval="true" name="PV_OTVALOR01" 	type="VARCHAR"><![CDATA[$!params.otValor01]]></param>
  		<param eval="true" name="PV_OTVALOR02" 	type="VARCHAR"><![CDATA[$!params.otValor02]]></param>
  		<param eval="true" name="PV_OTVALOR03" 	type="VARCHAR"><![CDATA[$!params.otValor03]]></param>
  		<param eval="true" name="PV_OTVALOR04" 	type="VARCHAR"><![CDATA[$!params.otValor04]]></param>
  		<param eval="true" name="PV_OTVALOR05" 	type="VARCHAR"><![CDATA[$!params.otValor05]]></param>
  		<param eval="true" name="PV_OTVALOR06" 	type="VARCHAR"><![CDATA[$!params.otValor06]]></param>
  		<param eval="true" name="PV_OTVALOR07" 	type="VARCHAR"><![CDATA[$!params.otValor07]]></param>
  		<param eval="true" name="PV_OTVALOR08" 	type="VARCHAR"><![CDATA[$!params.otValor08]]></param>
  		<param eval="true" name="PV_OTVALOR09" 	type="VARCHAR"><![CDATA[$!params.otValor09]]></param>
  		<param eval="true" name="PV_OTVALOR10" 	type="VARCHAR"><![CDATA[$!params.otValor10]]></param>
  		<param eval="true" name="PV_OTVALOR11" 	type="VARCHAR"><![CDATA[$!params.otValor11]]></param>
  		<param eval="true" name="PV_OTVALOR12" 	type="VARCHAR"><![CDATA[$!params.otValor12]]></param>
  		<param eval="true" name="PV_OTVALOR13" 	type="VARCHAR"><![CDATA[$!params.otValor13]]></param>
  		<param eval="true" name="PV_OTVALOR14" 	type="VARCHAR"><![CDATA[$!params.otValor14]]></param>
  		<param eval="true" name="PV_OTVALOR15" 	type="VARCHAR"><![CDATA[$!params.otValor15]]></param>
  		<param eval="true" name="PV_OTVALOR16" 	type="VARCHAR"><![CDATA[$!params.otValor16]]></param>
  		<param eval="true" name="PV_OTVALOR17" 	type="VARCHAR"><![CDATA[$!params.otValor17]]></param>
  		<param eval="true" name="PV_OTVALOR18" 	type="VARCHAR"><![CDATA[$!params.otValor18]]></param>
  		<param eval="true" name="PV_OTVALOR19" 	type="VARCHAR"><![CDATA[$!params.otValor19]]></param>
  		<param eval="true" name="PV_OTVALOR20" 	type="VARCHAR"><![CDATA[$!params.otValor20]]></param>
  		<param eval="true" name="PV_OTVALOR21" 	type="VARCHAR"><![CDATA[$!params.otValor21]]></param>
  		<param eval="true" name="PV_OTVALOR22" 	type="VARCHAR"><![CDATA[$!params.otValor22]]></param>
  		<param eval="true" name="PV_OTVALOR23" 	type="VARCHAR"><![CDATA[$!params.otValor23]]></param>
  		<param eval="true" name="PV_OTVALOR24" 	type="VARCHAR"><![CDATA[$!params.otValor24]]></param>
  		<param eval="true" name="PV_OTVALOR25" 	type="VARCHAR"><![CDATA[$!params.otValor25]]></param>
  		<param eval="true" name="PV_OTVALOR26" 	type="VARCHAR"><![CDATA[$!params.otValor26]]></param>
  		<param eval="true" name="PV_OTVALOR27" 	type="VARCHAR"><![CDATA[$!params.otValor27]]></param>
  		<param eval="true" name="PV_OTVALOR28" 	type="VARCHAR"><![CDATA[$!params.otValor28]]></param>
  		<param eval="true" name="PV_OTVALOR29" 	type="VARCHAR"><![CDATA[$!params.otValor29]]></param>
  		<param eval="true" name="PV_OTVALOR30" 	type="VARCHAR"><![CDATA[$!params.otValor30]]></param>
  		<param eval="true" name="PV_OTVALOR31" 	type="VARCHAR"><![CDATA[$!params.otValor31]]></param>
  		<param eval="true" name="PV_OTVALOR32" 	type="VARCHAR"><![CDATA[$!params.otValor32]]></param>
  		<param eval="true" name="PV_OTVALOR33" 	type="VARCHAR"><![CDATA[$!params.otValor33]]></param>
  		<param eval="true" name="PV_OTVALOR34" 	type="VARCHAR"><![CDATA[$!params.otValor34]]></param>
  		<param eval="true" name="PV_OTVALOR35" 	type="VARCHAR"><![CDATA[$!params.otValor35]]></param>
  		<param eval="true" name="PV_OTVALOR36" 	type="VARCHAR"><![CDATA[$!params.otValor36]]></param>
  		<param eval="true" name="PV_OTVALOR37" 	type="VARCHAR"><![CDATA[$!params.otValor37]]></param>
  		<param eval="true" name="PV_OTVALOR38" 	type="VARCHAR"><![CDATA[$!params.otValor38]]></param>
  		<param eval="true" name="PV_OTVALOR39" 	type="VARCHAR"><![CDATA[$!params.otValor39]]></param>
  		<param eval="true" name="PV_OTVALOR40" 	type="VARCHAR"><![CDATA[$!params.otValor40]]></param>
  		<param eval="true" name="PV_OTVALOR41" 	type="VARCHAR"><![CDATA[$!params.otValor41]]></param>
  		<param eval="true" name="PV_OTVALOR42" 	type="VARCHAR"><![CDATA[$!params.otValor42]]></param>
  		<param eval="true" name="PV_OTVALOR43" 	type="VARCHAR"><![CDATA[$!params.otValor43]]></param>
  		<param eval="true" name="PV_OTVALOR44" 	type="VARCHAR"><![CDATA[$!params.otValor44]]></param>
  		<param eval="true" name="PV_OTVALOR45" 	type="VARCHAR"><![CDATA[$!params.otValor45]]></param>
  		<param eval="true" name="PV_OTVALOR46" 	type="VARCHAR"><![CDATA[$!params.otValor46]]></param>
  		<param eval="true" name="PV_OTVALOR47" 	type="VARCHAR"><![CDATA[$!params.otValor47]]></param>
  		<param eval="true" name="PV_OTVALOR48" 	type="VARCHAR"><![CDATA[$!params.otValor48]]></param>
  		<param eval="true" name="PV_OTVALOR49" 	type="VARCHAR"><![CDATA[$!params.otValor49]]></param>
  		<param eval="true" name="PV_OTVALOR50" 	type="VARCHAR"><![CDATA[$!params.otValor50]]></param>  		
  		
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>		
	</statement>
</statements>