<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
       <statement type="stored" name="PKG_WIZARD.P_GUARDA_TGARANTI" id="modificaCoberturaPlan">
       <param eval="true" name="p_cdgarant_i" type="VARCHAR"><![CDATA[$!params.get("p_cdgarant_i")]]></param>
       <param eval="true" name="p_dsgarant_i" type="VARCHAR"><![CDATA[$!params.get("p_dsgarant_i")]]></param>

       <outparam id="pv_title_o" type="VARCHAR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
	</statement>
</statements>       
