<statements>
	<statement type="stored" name="PKG_LISTAS.P_COBERTURAS" id="lista-coberturas">		  		
  		<param eval="true" name="pv_cdramo_i" type="NUMERIC"><![CDATA[$!params.get("cdRamo")]]></param>
  		<param eval="true" name="pv_cdplan_i" type="VARCHAR"><![CDATA[$!params.get("cdPlan")]]></param>
  		<param eval="true" name="pv_cdtipsit_i" type="VARCHAR"><![CDATA[$!params.get("cdTipSit")]]></param>
  		<outparam id="PV_REGISTRO_O" type="CURSOR"/>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>		
	</statement>
</statements>
                 
                          
                          
