<statements>
	<statement type="stored" name="PKG_CONFG_CUENTA.P_OBTIENE_PLAN_REG" id="obtienePlanEditable">
		<param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.get("cdRamo")</param>
		<param eval="true" name="pv_cdplan_i" type="VARCHAR">$!params.get("cdPlan")</param>
		<outparam id="po_msg_id" type="NUMERIC"/>
		<outparam id="p_out_title" type="VARCHAR"/>
		<outparam id="lcur_registros" type="CURSOR"/>
	</statement>
</statements>
