<statements>
	<statement type="stored" name="PACK_NEWALEA_COBERTURAS.P_GET_DSCAPITAL" id="getDsCapital">
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_CDCAPITA" type="NUMERIC">$!params.get("pi_CDCAPITA")</param>
		<outparam id="po_DSCAPITA" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
