

.typeBoolTrue {
	color:green;
}
.typeBoolFalse {
	color:red;
}
.typeObject {
	color: blue;
	font-style: italic;
}
.resizeLayer {
	background:red;
	text-align:center;
	font:bold 10px arial;
	overflow:hidden;
}
.component {
	-moz-border-radius:3px;
	height: 35px;
	width: 50px;
	border: solid black 2px;
	text-align:center;
	color:black;
	font:normal 12px arial;
	background: #CCCCFF url(bg1.png) repeat-x scroll center bottom;
	overflow:hidden;
	display:block;
	cursor:pointer;
}
#FormBuilderComponentSelector .component {
	margin: 5px;
	float: left;
}
#FormBuilderComponentSelector .component.over {
	border-color:navy;
}
#FormBuilderComponentSelector .component.selected {
	border-color:blue;
}

.selectedElementParent *, .selectedElementParent {
	background:#ccf;
}
.selectedElement *, .selectedElement {
	background:#ffc;
}

.icon-reset { background-image:url(icons/asterisk_orange.png) !important; }
.icon-help { background-image:url(icons/help.png) !important; }
.icon-time { background-image:url(icons/time.png) !important; }
.icon-delete { background-image:url(icons/delete.png) !important; }
.icon-add { background-image:url(icons/add.png) !important; }

.icon-el { background-image:url(icons/application.png) !important; }
.icon-deleteEl { background-image:url(icons/application_delete.png) !important; }
.icon-addEl { background-image:url(icons/application_add.png) !important; }
.icon-dupEl { background-image:url(icons/application_double.png) !important; }
.icon-editEl { background-image:url(icons/application_edit.png) !important; }

.icon-undo { background-image:url(icons/arrow_undo.png) !important; }
.icon-update { background-image:url(icons/arrow_refresh.png) !important; }
.icon-resize { background-image:url(icons/arrow_inout.png) !important; }

/*
 Builder...   
*/

.notice {
    color: #559; 
    font-style: italic; 
}

.x-form-multicheckbox {
    background:#FFFFFF;
    border:1px solid #B5B8C8;
    padding:3px;
}


/*
Configurador estilos...
*/

#button-grid .x-panel-body {
    border: 1px solid #99bbe8;
    border-top: 0 none;
}

.logo{
    background-image:url(../../images/aon/bullet_titulo.gif);
}  

.inputText {
    font-family: tahoma, arial, helvetica;
    font-size: 12px;
}
 .optiontransferselect{
    font-family: tahoma,arial,helvetica;
    font-size: 12px;
    border: 1px solid #999999;
    margin-left: auto; margin-right: auto;
    width: 250px;
} 
        
.botonTransferSelect{
    font-family: tahoma,arial,helvetica; 
    font-size: 12px; 
    width: 40px;
    height: 25px;
} 



/*
pantalla de busqueda
*/
    
.alinear {
    margin-top:20px; margin-left: auto; margin-right: auto; 
}





