<?xml version="1.0" encoding="ISO-8859-1"?>
<statements>
    <statement type="stored" name="PACK_NEWALEA_CLAUSULAS.P_MOV_MPOLICED" id="pmovMPOLICED">
        <inoutparam eval="true" name="Gv_Identificador_Error" id="Gv_Identificador_Error" type="VARCHAR">
            $!params.get("p_ID_ERRROR")
        </inoutparam>
        <param eval="true" name="Gn_Cdunieco" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
        <param eval="true" name="Gn_Cdramo" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
        <param eval="true" name="Gv_Estado" type="VARCHAR">$!params.get("pi_ESTADO")</param>
        <param eval="true" name="Gn_Nmpoliza" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
        <param eval="true" name="Gn_Nmsituac" type="NUMERIC">$!params.get("pi_NMSITUAC")</param>
        <param eval="true" name="Gn_Nmsuplem_Sesion" type="VARCHAR">$!params.get("pi_NMSUPLEM_SESION")</param>
        <param eval="true" name="Gn_Nmordina" type="NUMERIC">$!params.get("pi_NMORDINA")</param>
        <param eval="true" name="Gn_Nmlinea" type="NUMERIC">$!params.get("pi_NMLINEA")</param>
        <param eval="true" name="Gv_Dslinea" type="VARCHAR">$!params.get("pi_DSLINEA")</param>
        <param eval="true" name="Gn_Nmsuplem_Bloque" type="VARCHAR">$!params.get("pi_NMSUPLEM_BLOQUE")</param>
        <inoutparam eval="true" name="Gv_Rowid" id="Gv_Rowid" type="VARCHAR">$!params.get("p_ROWID")</inoutparam>
        <param eval="true" name="Gv_ModoAcceso" type="VARCHAR">$!params.get("pi_MODOACCESO")</param>
    </statement>
</statements>
