<statements>
	<statement type="stored" name="PACK_NEWALEA_FUNCIONES.P_CALC_CUMTIDCUMUL" id="pcalcularCumuloIdentificador">
		<param eval="true" name="clave1" type="VARCHAR">$!params.get("piClave1")</param>
		<param eval="true" name="clave2" type="VARCHAR">$!params.get("piClave2")</param>
		<param eval="true" name="clave3" type="VARCHAR">$!params.get("piClave3")</param>
		<param eval="true" name="clave4" type="VARCHAR">$!params.get("piClave4")</param>
		<param eval="true" name="clave5" type="VARCHAR">$!params.get("piClave5")</param>
		<param eval="true" name="clave6" type="VARCHAR">$!params.get("piClave6")</param>
		<param eval="true" name="clave7" type="VARCHAR">$!params.get("piClave7")</param>
		<param eval="true" name="clave8" type="VARCHAR">$!params.get("piClave8")</param>
		<param eval="true" name="clave9" type="VARCHAR">$!params.get("piClave9")</param>
		<param eval="true" name="clave10" type="VARCHAR">$!params.get("piClave10")</param>
		<param eval="true" name="clave11" type="VARCHAR">$!params.get("piClave11")</param>
		<param eval="true" name="Gblcdtipcum" type="VARCHAR">$!params.get("piTipcum")</param>
		<outparam id="p_recordset1" type="CURSOR"/>
	</statement>
</statements>
