<statements>
	<statement type="stored" name="PACK_NEWALEA_FUNCIONES.P_Get_Comisiones_De_Tramo" id="pgetComisionRamo">
		<outparam id="nmfijopr2" type="NUMERIC"/>
		<outparam id="pocompro2" type="NUMERIC"/>
		<param eval="true" name="nmcuadro2" type="VARCHAR">$!params.get("piNmcuadro")</param>
		<param eval="true" name="cdgarant2" type="VARCHAR">$!params.get("piCdgarant")</param>
		<param eval="true" name="cdtipcon2" type="VARCHAR">$!params.get("piCdtipcon")</param>
		<param eval="true" name="anual" type="NUMERIC">$!params.get("piAnualdes")</param>
		<param eval="true" name="impcom" type="NUMERIC">$!params.get("piImpordes")</param>
	</statement>
</statements>
