<statements>
	<statement type="stored" name="PACK_NEWALEA_FUNCIONES.P_Get_Nsuplogi_Tlocksup" id="pgetNsuplogiTlocksup">
		<outparam id="suplogi" type="VARCHAR"/>
		<param eval="true" name="gblUniEco" type="VARCHAR">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="gblRamo" type="VARCHAR">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="gblEstado" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="gblPoliza" type="VARCHAR">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="nsuplogi2" type="VARCHAR">$!params.get("piNsuplogi")</param>
	</statement>
</statements>
