<statements>
	<statement type="stored" name="PACK_NEWALEA_FUNCIONES.P_Get_Ultpr" id="pgetUltimaPrima">
		<outparam id="suma" type="NUMERIC"/>
		<param eval="true" name="gblUniEco" type="VARCHAR">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="gblRamo" type="VARCHAR">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="gblEstado" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="gblPoliza" type="VARCHAR">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="nmsituac2" type="VARCHAR">$!params.get("piNmsituac")</param>
		<param eval="true" name="cdgarant2" type="VARCHAR">$!params.get("piCdgarant")</param>
		<param eval="true" name="cdcontar2" type="VARCHAR">$!params.get("piCdcontar")</param>
		<param eval="true" name="suplemento" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
		<param eval="true" name="suplementoEmi" type="VARCHAR">$!params.get("piNmsuplemEmi")</param>
		<param eval="true" name="swulpr" type="VARCHAR">$!params.get("piSwultpr")</param>
	</statement>
</statements>
