<statements>
	<statement type="stored" name="PACK_NEWALEA_FUNCIONES.P_GET_SIT_SOBJ_NOPARAM" id="pgetSumAsegObjetos">
		<outparam id="SVOBJ" type="NUMERIC"/>
		<param eval="true" name="Gv_unieco" type="VARCHAR">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="Gv_ramo" type="VARCHAR">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="Gv_estado" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="Gv_poliza" type="VARCHAR">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="bnd_suplem" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
	</statement>
</statements>
