<statements>
	<statement type="stored" name="PACK_NEWALEA_FUNCIONES.P_Inserta_Reg_Tvalosit" id="pinsertRegTvalosit">
		<param eval="true" name="gblUniEco" type="VARCHAR">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="gblRamo" type="VARCHAR">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="gblEstado" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="gblPoliza" type="VARCHAR">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="nmsituac2" type="VARCHAR">$!params.get("piNmsituac")</param>
		<param eval="true" name="gblSuplem" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
		<param eval="true" name="tipsit" type="VARCHAR">$!params.get("piCdtipsit")</param>
		<param eval="true" name="codigoAtributo" type="VARCHAR">$!params.get("piCdatribu")</param>
		<param eval="true" name="valorAtributo" type="VARCHAR">$!params.get("piOtvalor")</param>
	</statement>
</statements>
