items:[{
		xtype: 'grid',
		frame:true,
		id:'gridResultado',
        store: storeGrid,
        stripeRows: true,
      	title: 'Resultados',
        cm: new Ext.grid.ColumnModel([

			        {   
			        	header: "cdIdentifica",
			            dataIndex:'cdIdentifica',
			            width:5,
			            sortable:true,
			            id:'cdIdentifica'
						,hidden:true
			            },{
			        	header: "cdUnieco",
			            dataIndex:'cdUnieco',
			            width:5,
			            sortable:true
						,hidden:true			            
			            },{
			            header: "cdCiaaseg",
			            dataIndex:'cdCiaaseg',
			            width:5,
			            sortable:true
						,hidden:true
			            },{
			            header: "dsUnieco",
			            dataIndex:'dsUnieco',
			            width:5,
			            sortable:true
						,hidden:true
			            },{
			            header: "cdPerpag",
			            dataIndex:'cdPerpag',
			            width:5,
			            sortable:true
						,hidden:true
			            },{
			            header: "numeroSituacion",
			            dataIndex:'numeroSituacion',
			            width:5,
			            sortable:true
						,hidden:true
			            },{
			            header: "cdRamo",
			            dataIndex:'cdRamo',
			            width:5,
			            sortable:true
						,hidden:true
			            },{			          
			            header: "Descripcion",
			            dataIndex:'dsPerpag',
			            sortable:false,
			            hideable:false,
			            menuDisabled:true,
			            width:100
			            },{
			            header: "cdPlan",
			            dataIndex:'cdPlan',
			            sortable:true
						,hidden:true
			            },{			          
			            header: "dsPlan",
			            dataIndex:'dsPlan',
			            sortable:false
			            ,hidden:true
			            },{
			            header: "feEmisio",
			            dataIndex:'feEmisio',
			            sortable:false
						,hidden:true
			            },{			          
			            header: "feVencim",
			            dataIndex:'feVencim',
			            sortable:false
			            ,hidden:true
			            }
			            ,
			            
			            #foreach($cols in $parameters.COLUMN_GRID)
						$cols#if( $velocityCount < $parameters.COLUMN_GRID.size()),#end
						#end
			            
		           
			   ]),
        buttonAlign : 'center',
        height:300,
        //autoHeight : true,
        width:700,//730
        
        view: new Ext.grid.GroupingView({
        //forceFit: true,
        showGroupName: false,
        enableNoGroups: false,
        groupTextTpl: '<span style="color:#98012e;font-size:11px;font-family:Arial,Helvetica,sans-serif;">Aseguradora - {text}</span>',
        hideGroupedColumn: true
        }),
         
        sm: new Ext.grid.CellSelectionModel({
                singleSelect: true,
                listeners: {
                    cellselect: function(sm, indexrow, indexcol) { 
                     	recordGridResultado = storeGrid.getAt(indexrow);

						//alert(indexrow);
						//alert(indexcol);
						//alert(Ext.getCmp('gridResultado').getColumnModel().getDataIndex(indexcol));
						//alert(recordGridResultado.get(Ext.getCmp('gridResultado').getColumnModel().getDataIndex(indexcol)));
						
					  	 //var indexCdPlan= columnIndex + 1;
						 //var indexDsPlan= columnIndex + 2;
						 indexMnPrima= indexcol;
						 indexCdPlan= indexcol + 1;
						 indexDsPlan= indexcol + 2;
						 indexNmPlan= indexcol + 3;
						 //alert("indexCdPlan = " + indexCdPlan + "  indexDsPlan = " + indexDsPlan + "  indexNmPlan="+ indexNmPlan );	 

						 mnPrima= recordGridResultado.get(Ext.getCmp('gridResultado').getColumnModel().getDataIndex(indexMnPrima));
						 idplan  = recordGridResultado.get(Ext.getCmp('gridResultado').getColumnModel().getDataIndex(indexCdPlan));
						 desplan = recordGridResultado.get(Ext.getCmp('gridResultado').getColumnModel().getDataIndex(indexDsPlan));
						 nmplan = recordGridResultado.get(Ext.getCmp('gridResultado').getColumnModel().getDataIndex(indexNmPlan));
	                     //alert("idplan = " + idplan + " desplan = " + desplan+ "  nmplan="+ nmplan + "  mnPrima=" + mnPrima);

                    }
                }
            })
            ,            
            bbar: new Ext.PagingToolbar({
            pageSize: 15,
            store: storeGrid,
            displayInfo: true,
			displayMsg: 'Registros mostrados {0} - {1} de {2}',
			emptyMsg: 'No hay registros para mostrar',
			beforePageText: 'P&aacute;gina',
			afterPageText: 'de {0}'
            })
     
   }]
    