<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CONFG_CUENTA.P_BORRA_TROLUSUARIOCLIENTE" id="borraArchivoCaso">
		
	   <param eval="true" name="pv_cdusuario_i" type="VARCHAR">$!params.get("cdUsuario")</param>
	   <param eval="true" name="pv_cdsisrol_i" type="VARCHAR">$!params.get("pv_cdsisrol_i")</param>
       <param eval="true" name="pv_cdnivel_i" type="NUMERIC">$!params.get("cdNivel")</param>       
 	  
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
