<statements>
	<statement type="stored" name="PKG_CONSULTA.P_OBTIENE_MPOLIZAS" id="obtienePolizas">
       
       <param eval="true" name="pv_cdelemento_i" type="NUMERIC">$!params.get("pv_cdelemento_i")</param>
       <param eval="true" name="pv_cdperson_i" type="NUMERIC">$!params.get("pv_cdperson_i")</param>
		  	  	 	     	   
  	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
 