<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CATBO.P_GUARDA_MCASOMOV_GEN" id="guardarMovGen">
       <param eval="true" name="pv_nmcaso_i" type="VARCHAR">$!params.get("numeroCaso")</param>
       <param eval="true" name="pv_cdusuario_i" type="VARCHAR"><![CDATA[$!params.get("cdUsuario")]]></param>
       <param eval="true" name="pv_cdnivatn_i" type="NUMERIC"><![CDATA[$!params.get("cdNivAtn")]]></param>

       <param eval="true" name="pv_cdstatus_i" type="NUMERIC">$!params.get("cdStatus")</param>
       <param eval="true" name="pv_cdmodulo_i" type="NUMERIC">$!params.get("cdModulo")</param>
       <param eval="true" name="pv_cdpriord_i" type="VARCHAR">$!params.get("cdPriord")</param>
       <param eval="true" name="pv_nmcompra_i" type="NUMERIC">$!params.get("nmCompra")</param>
       <param eval="true" name="pv_tunidad_i" type="VARCHAR">$!params.get("unidad")</param>
       <param eval="true" name="pv_dsobservacion_i" type="VARCHAR"><![CDATA[$!params.get("dsObservacion")]]></param>
       
  		<outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
