<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CATBO.P_OBTIENE_MCASOS" id="ObtenerCasos">
       <param eval="true" name="pv_nmcaso_i" type="VARCHAR"><![CDATA[$!params.get("pv_nmcaso_i")]]></param>
		 <param eval="true" name="pv_cdorden_i" type="VARCHAR"><![CDATA[$!params.get("pv_cdorden_i")]]></param>
  	  	 <param eval="true" name="pv_dsproceso_i" type="VARCHAR"><![CDATA[$!params.get("pv_dsproceso_i")]]></param>
  	     <param eval="true" name="pv_feingreso_i" type="VARCHAR"><![CDATA[$!params.get("pv_feingreso_i")]]></param>
  	      <param eval="true" name="pv_cdpriord_i" type="VARCHAR"><![CDATA[$!params.get("pv_cdpriord_i")]]></param>
  	      <param eval="true" name="pv_cdperson_i" type="NUMERIC"><![CDATA[$!params.get("pv_cdperson_i")]]></param>
  	      <param eval="true" name="pv_dsperson_i" type="VARCHAR"><![CDATA[$!params.get("pv_dsperson_i")]]></param>
  	   	  <param eval="true" name="pv_cdusuario_i" type="VARCHAR"><![CDATA[$!params.get("pv_cdusuario_i")]]></param>
  	   
  	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
 