<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CATBO.P_GUARDA_TNUMECAS" id="guardar_numeros_de_Caso">
	   <param eval="true" name="pv_cdnumecaso_i" type="NUMERIC">$!params.get("pv_cdnumecaso_i")</param>
       <param eval="true" name="pv_indnumer_i" type="VARCHAR">$!params.get("pv_indnumer_i")</param>
       <param eval="true" name="pv_cdmodulo_i" type="VARCHAR"><![CDATA[$!params.get("pv_cdmodulo_i")]]></param>
       <param eval="true" name="pv_nmcaso_i" type="NUMERIC">$!params.get("pv_nmcaso_i")</param>
       <param eval="true" name="pv_dssufpre_i" type="VARCHAR">$!params.get("pv_dssufpre_i")</param>
       <param eval="true" name="pv_nmdesde_i" type="NUMERIC">$!params.get("pv_nmdesde_i")</param>
       <param eval="true" name="pv_nmhasta_i" type="NUMERIC">$!params.get("pv_nmhasta_i")</param>
  		
  		<outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
