<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CATBO.P_GUARDA_TARECTMP" id="guardar_Tiempo">
       <param eval="true" name="pv_cdproceso_i" type="NUMERIC">$!params.get("pv_cdproceso_i")</param>
       <param eval="true" name="pv_cdnivatn_i" type="VARCHAR"><![CDATA[$!params.get("pv_cdnivatn_i")]]></param>
       <param eval="true" name=" pv_nmcant_desde_i" type="VARCHAR"><![CDATA[$!params.get(" pv_nmcant_desde_i")]]></param>
       <param eval="true" name=" pv_nmcant_hasta_i" type="NUMERIC">$!params.get(" pv_nmcant_hasta_i")</param>
       <param eval="true" name="pv_tunidad_i" type="NUMERIC">$!params.get("pv_indesemaforo_i")</param>
       <param eval="true" name="pv_nmvecescompra_i" type="NUMERIC">$!params.get("pv_nmvecescompra_i")</param>
  		
  		<outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
