<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CONFIGURA.P_GENERA_NMORDEN" id="generaMOrden">
       <param eval="true" name="pv_nmcaso_i" type="VARCHAR">$!params.get("pv_nmcaso_i")</param>
       <param eval="true" name="pv_cdmatriz_i" type="NUMERIC"><![CDATA[$!params.get("pv_cdmatriz_i")]]></param>
       <param eval="true" name="pv_cdordentrabajo_i" type="NUMERIC"><![CDATA[$!params.get(" pv_cdordentrabajo_i")]]></param>
       <param eval="true" name="pv_cdusuario_i" type="VARCHAR">$!params.get("pv_cdusuario_i")</param>
       <param eval="true" name="pv_cdunieco_i" type="NUMERIC">$!params.get("pv_cdunieco_i")</param>
       <param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.get("pv_cdramo_i")</param>
  	   <param eval="true" name="pv_estado_i" type="VARCHAR">$!params.get("pv_estado_i")</param>
  	   <param eval="true" name="pv_nmsituax_i" type="VARCHAR">$!params.get("pv_nmsituax_i")</param>
  	   <param eval="true" name="pv_nmsituaex_i" type="VARCHAR">$!params.get("pv_nmsituaex_i")</param>
  	   <param eval="true" name="pv_nmsbsitex_i" type="VARCHAR">$!params.get("pv_nmsbsitex_i")</param>
  	   <param eval="true" name="pv_nmpoliza_i" type="VARCHAR">$!params.get("pv_nmpoliza_i")</param>
  	   <param eval="true" name="pv_nmpoliex_i" type="VARCHAR">$!params.get("pv_nmpoliex_i")</param>
  	   <param eval="true" name=" pv_cdperson_i" type="NUMERIC">$!params.get(" pv_cdperson_i")</param>
  	   <param eval="true" name="pv_dsmetcontact_i" type="VARCHAR">$!params.get("pv_dsmetcontact_i")</param>
  	   <param eval="true" name="pv_ind_poliza_i" type="VARCHAR">$!params.get("pv_ind_poliza_i")</param>
  	    
  	   	<outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
