<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_DOCUMENTOS.P_GUARDAR_FORMATO" id="guardarFormatosDocumentos">
       <param eval="true" name="pi_cdformat_i" type="NUMERIC">$!params.get("cdFormato")</param>
       <param eval="true" name="pi_dsnomformat_i" type="VARCHAR"><![CDATA[$!params.get("dsNomFormato")]]></param>
       <param eval="true" name="pi_dsformat_i" type="VARCHAR"><![CDATA[$!params.get("dsFormato")]]></param>
 		
  		<outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
