<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CATBO.P_GUARDA_MMATRIZ" id="guardarMatriz">
       
       
       <outparam eval="true" id="pv_cdmatriz_i" name="pv_cdmatriz_i" type="NUMERIC">$!params.get("pv_cdmatriz_i")</outparam>
 	   <param eval="true" name="pv_cdunieco_i" type="NUMERIC"><![CDATA[$!params.get("pv_cdunieco_i")]]></param>
  	   <param eval="true" name="pv_cdramo_i" type="NUMERIC"><![CDATA[$!params.get("pv_cdramo_i")]]></param>
  	   <param eval="true" name="pv_cdelemento_i" type="NUMERIC"><![CDATA[$!params.get("pv_cdelemento_i")]]></param>
  	   <param eval="true" name="pv_cdproceso_i" type="VARCHAR"><![CDATA[$!params.get("pv_cdproceso_i")]]></param>
  	   <param eval="true" name="pv_cdformatoorden_i" type="NUMERIC"><![CDATA[$!params.get("pv_cdformatoorden_i")]]></param>
  	   
  	  
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
 