<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_ENCUESTAS.P_OBTIENE_CATBOUSUAR_CDUSUARI" id="obtieneClientesCorpo">
		
		<param eval="true" name="pv_cdmodulo_i" type="NUMERIC"><![CDATA[$!params.get("cdModulo")]]></param>
		
		  
		<outparam id="pv_registro_o" type="CURSOR"></outparam>
		<outparam id="po_msg_id" type="INTEGER"/>
        <outparam id="po_title" type="VARCHAR"></outparam>
	</statement>
</statements>