<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_LISTAS.P_CLIENTES_CORPO" id="obtieneClientesCorpo">
		
		<param eval="true" name="pv_cdunieco_i" type="NUMERIC"><![CDATA[$!params.get("cdUniEco")]]></param>
		<param eval="true" name="pv_cdramo_i" type="NUMERIC"><![CDATA[$!params.get("cdRamo")]]></param>
		  
		<outparam id="pv_registro_o" type="CURSOR"></outparam>
		<outparam id="po_msg_id" type="INTEGER"/>
        <outparam id="po_title" type="VARCHAR"></outparam>
	</statement>
</statements>