<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CATBO.P_GUARDA_REASIGNACION" id="guardarReasignacionDeCaso">
       <param eval="true" name="pv_nmcaso_i" type="VARCHAR"><![CDATA[$!params.get("numCaso")]]></param>
       <param eval="true" name="pv_cdusumov_i" type="VARCHAR"><![CDATA[$!params.get("codUsuMov")]]></param>
       <param eval="true" name="pv_cdusuario_I" type="VARCHAR"><![CDATA[$!params.get("codUsuario")]]></param>
       <param eval="true" name="pv_cdrolmat_i" type="VARCHAR"><![CDATA[$!params.get("codRolMat")]]></param>
        		
  	<outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
