<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_ENCUESTAS.P_GUARDA_TENCUEST" id="guardaTiempoEncuestaTencuest">

	   <outparam eval="true" id="pv_cdencuesta_io" type="NUMERIC"></outparam>

	   <param eval="true" name="pv_dsencuesta_i" type="VARCHAR"><![CDATA[$!params.get("dsEncuesta")]]></param>
       <param eval="true" name="pv_swestado_i" type="VARCHAR">$!params.get("swEstado")</param> 
       
       <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
       
	</statement>
</statements>