<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
    <statement type="stored" name="PKG_REPORTES.P_GUARDA_TPLANREP" id="editarPlantillasReportes">

    <param eval="true" name="p_ncdelemento" type="NUMERIC">$!params.get("cdCorporativo")</param>
    <param eval="true" name="p_ncdunieco" type="NUMERIC">$!params.get("cdAseguradora")</param>
    <param eval="true" name="p_ncdramo" type="NUMERIC">$!params.get("cdProducto")</param>
    <param eval="true" name="p_ncdplanti" type="NUMERIC">$!params.get("cdPlantilla")</param>
    <param eval="true" name="p_ncdreporte" type="NUMERIC">$!params.get("cdReporte")</param>
    <param eval="true" name="p_ncdelemento_anterior" type="NUMERIC">$!params.get("cdCorporativoAnterior")</param>
    <param eval="true" name="p_ncdunieco_anterior" type="NUMERIC">$!params.get("cdAseguradoraAnterior")</param>
    <param eval="true" name="p_ncdramo_anterior" type="NUMERIC">$!params.get("cdProductoAnterior")</param>
    <param eval="true" name="p_ncdplantilla_anterior" type="NUMERIC">$!params.get("cdPlantillaAnterior")</param>
    <param eval="true" name="p_ncdreporte_anterior" type="NUMERIC">$!params.get("cdReporteAnterior")</param>
    <param eval="true" name="INSERTAR" type="NUMERIC">$!params.get("insertar")</param>
    <outparam id="pv_existe_i" type="NUMERIC"/>
    <outparam id="pv_title_o" type="VARCHAR"/>
	<outparam id="pv_msg_id_o" type="NUMERIC"/>

    </statement>
</statements>