<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_REPORTES.P_GUARDA_TPLANREP" id="insertaPlantillaReporte">

	    <param eval="true" name="p_ncdplanti" type="VARCHAR">$!params.get("cdPlantilla")</param>
	    <param eval="true" name="p_ncdelemento" type="VARCHAR">$!params.get("cdCorporativo")</param>
	    <param eval="true" name="p_ncdunieco" type="VARCHAR">$!params.get("cdAseguradora")</param>
	    <param eval="true" name="p_ncdramo" type="VARCHAR">$!params.get("cdProducto")</param>
	    <param eval="true" name="p_ncdreporte" type="VARCHAR">$!params.get("cdReporte")</param>

	    <param eval="true" name="p_ncdplanti_anterior" type="VARCHAR">$!params.get("cdPlantillaAnterior")</param>
	    <param eval="true" name="p_ncdelemento_anterior" type="VARCHAR">$!params.get("cdCorporativoAnterior")</param>
	    <param eval="true" name="p_ncdunieco_anterior" type="VARCHAR">$!params.get("cdAseguradoraAnterior")</param>
	    <param eval="true" name="p_ncdramo_anterior" type="VARCHAR">$!params.get("cdProductoAnterior")</param>
	    <param eval="true" name="p_ncdreporte_anterior" type="VARCHAR">$!params.get("cdReporteAnterior")</param>

	    <param eval="true" name="INSERTAR" type="VARCHAR">$!params.get("insertar")</param>

		<outparam id="pv_existe_i" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"/>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>

	</statement>
    </statements>
