<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_REPORTES.P_INSERTA_MREPPROD" id="insertProducto">   
        <param eval="true" name="pv_cdreporte_i" type="VARCHAR"><![CDATA[$!params.get("cdReporte")]]></param>
	    <param eval="true" name="pv_cdramo_i" type="VARCHAR"><![CDATA[$!params.get("cdProducto")]]></param>
	    <outparam id="pv_existe_i" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"/>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
	</statement>
</statements>
