<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
    <statement type="stored" name="PKG_REPORTES.P_OBTIENE_TPLANREP" id="PlantillasReportes">
     <param eval="true" name="p_ncdelemento" type="NUMERIC">$!params.get("p_ncdelemento")</param>
    <param eval="true" name="p_ncdramo" type="NUMERIC">$!params.get("p_ncdramo")</param>
    <param eval="true" name="p_ncdunieco" type="NUMERIC">$!params.get("p_ncdunieco")</param>
    <param eval="true" name="p_ncdplantilla" type="NUMERIC">$!params.get("p_ncdplantilla")</param>

    <param eval="true" name="p_ncdreporte" type="NUMERIC">$!params.get("p_ncdreporte")</param>

    <param eval="true" name="p_vdselemento" type="VARCHAR">$!params.get("p_vdselemento")</param>
    <param eval="true" name="p_vdsramo" type="VARCHAR">$!params.get("p_vdsramo")</param>
    <param eval="true" name="p_vdsunieco" type="VARCHAR">$!params.get("p_vdsunieco")</param>
    <param eval="true" name="p_vdsplantilla" type="VARCHAR">$!params.get("p_vdsplantilla")</param>
    <param eval="true" name="p_vdsreporte" type="VARCHAR">$!params.get("p_vdsreporte")</param>

    <param eval="true" name="busca_por_codigo" type="NUMERIC">$!params.get("busca_por_codigo")</param>
    <outparam id="p_cu_tplanrep" type="CURSOR"/>
    </statement>
</statements>
