<statements>
	<statement type="stored" name="PKG_WIZARD.P_LOAD_ATRIBVARGAR" id="pLoadAtribVarGar">
		<param eval="true" name="pv_cdramo" type="NUMERIC">$!params.codigoProducto</param>
		<param eval="true" name="pv_cdtipsit_i" type="VARCHAR">$!params.codigoSituacion</param>
		<param eval="true" name="pv_cdgarant_i" type="VARCHAR">$!params.codigoGarantia</param>
		<outparam id="P_REGISTRO" type="CURSOR"/>
		<outparam id="PO_MSG_ID" type="NUMERIC"/>	
		<outparam id="PV_TITLE_O" type="VARCHAR"/>	
</statement>
</statements>