<statements>
	<statement type="stored" name="PKG_CONFPAGINA.P_BORRA_PAGINA" id="borra-pagina">		
		<param eval="true" name="PV_CDCONFIGURA_I" type="NUMERIC">$!params.id</param>
		<outparam id="PV_BORRA_HIJO_O" type="NUMERIC"/>
		<outparam id="PV_BORRA_PADRE_O" type="NUMERIC"/>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>		
		<outparam id="PV_TITLE_O" type="VARCHAR"/>
	</statement>
</statements>
