<statements>
	<statement type="stored" name="PKG_CONFPAGINA.P_INSERTA_CONFIGURA" id="insertaAgregaConfigura">
		<param eval="true" name="PV_CDCONFIG_I" type="NUMERIC">$!params.claveConfig</param>
		<param eval="true" name="PV_DSCONFIG_I" type="VARCHAR"><![CDATA[$!params.descripcionConfig]]></param>
		<param eval="true" name="PV_CDELEMENTO_I" type="NUMERIC">$!params.claveElemento</param>
		<param eval="true" name="PV_CDROL_I" type="VARCHAR">$!params.claveRol</param>
		<param eval="true" name="PV_CDSECCION_I" type="NUMERIC">$!params.claveSeccion</param>
		<param eval="true" name="PV_SWHABILITADO_I" type="NUMERIC">$!params.swHabilitado</param>
		<param eval="true" name="PV_DSESPECIFICACION_I" type="CLOB"><![CDATA[$!params.especificacion]]></param>
		<param eval="true" name="PV_DSCONTENIDO_I" type="CLOB"><![CDATA[$!params.contenidoDato]]></param>
		<param eval="true" name="PV_CDTIPO_I" type="NUMERIC">$!params.claveTipo</param>
		<param eval="true" name="PV_DSARCHIVO_I" type="VARCHAR"><![CDATA[$!params.archivoLoad]]></param>
		<param eval="true" name="PV_DSCONTENIDOSEC_I" type="CLOB"><![CDATA[$!params.contenidoDatoSeg]]></param>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>		
		<outparam id="PV_TITLE_O" type="VARCHAR"/>
	</statement>
</statements>
