<statements>
	<statement type="stored" name="PKG_CONFPAGINA.P_GUARDA_CONFIGURA" id="insertaConfigura">
<!--
		<param eval="true" name="PV_CDCONFIG_I" type="NUMERIC">$!params.claveConfig</param>
		<param eval="true" name="PV_DSCONFIG_I" type="VARCHAR"><![CDATA[$!params.descripcionConfig]]></param>
		<param eval="true" name="PV_CDELEMENTO_I" type="NUMERIC">$!params.claveElemento</param>
		<param eval="true" name="PV_CDROL_I" type="VARCHAR">$!params.claveRol</param>
		<param eval="true" name="PV_CDSECCION_I" type="NUMERIC">$!params.claveSeccion</param>
		<param eval="true" name="PV_SWHABILITADO_I" type="NUMERIC">$!params.swHabilitado</param>
		<param eval="true" name="PV_DSESPECIFICACION_I" type="CLOB"><![CDATA[$!params.especificacion]]></param>
		<param eval="true" name="PV_DSCONTENIDO_I" type="CLOB"><![CDATA[$!params.contenidoDato]]></param>
		<param eval="true" name="PV_CDTIPO_I" type="NUMERIC">$!params.claveTipo</param>
		<param eval="true" name="PV_DSARCHIVO_I" type="VARCHAR"><![CDATA[$!params.archivoLoad]]></param>
		<param eval="true" name="PV_DSCONTENIDOSEC_I" type="CLOB"><![CDATA[$!params.contenidoDatoSeg]]></param>
		<outparam id="PV_ACT_PADRE_O" type="NUMERIC"/>				
		<outparam id="PV_ACT_HIJO_O" type="NUMERIC"/>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>		
		<outparam id="PV_TITLE_O" type="VARCHAR"/>
-->
		<param eval="true" name="pv_cdconfig_i" type="NUMERIC">$!params.get("claveConfig")</param>
		<param eval="true" name="pv_dsconfig_i" type="VARCHAR"><![CDATA[$!params.get("descripcionConfig")]]></param>
		<param eval="true" name="pv_cdelemento_i" type="NUMERIC">$!params.get("claveElemento")</param>
		<param eval="true" name="pv_cdrol_i" type="VARCHAR"><![CDATA[$!params.get("claveRol")]]></param>
		<param eval="true" name="pv_cdseccion_i" type="NUMERIC">$!params.get("claveSeccion")</param>
		<param eval="true" name="pv_swhabilitado_i" type="NUMERIC">$!params.get("swHabilitado")</param>
		<param eval="true" name="pv_dsespecificacion_i" type="VARCHAR"><![CDATA[$!params.get("especificacion")]]></param>
		<param eval="true" name="pv_dscontenido_i" type="VARCHAR"><![CDATA[$!params.get("contenidoDato")]]></param>
		<param eval="true" name="pv_cdtipo_i" type="NUMERIC">$!params.get("claveTipo")</param>
		<param eval="true" name="pv_dsarchivo_i" type="VARCHAR"><![CDATA[$!params.get("archivoLoad")]]></param>
		<param eval="true" name="pv_dscontenidosec_i" type="VARCHAR"><![CDATA[$!params.contenidoDatoSeg]]></param>
		
		<outparam id="pv_act_padre_o" type="NUMERIC"/>				
		<outparam id="pv_act_hijo_o" type="NUMERIC"/>
		
		<outparam id="pv_msg_id_o" type="NUMERIC"/>		
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>

</statements>
