<statements>
	<statement type="stored" name="PKG_CONFPAGINA.P_OBTIENE_PAGINA" id="obtiene-paginas">
		<param eval="true" name="PV_DSCONFIGURA_I" type="VARCHAR">$!params.get("nombrePagina")</param>
		<param eval="true" name="PV_DSSISROL_I" type="VARCHAR">$!params.get("rolPagina")</param>
		<param eval="true" name="PV_DSELEMENTO_I" type="VARCHAR">$!params.get("clientePagina")</param>
		<outparam id="PV_REGISTRO_O" type="CURSOR"/>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>
	</statement>
</statements>
