<statements>
	<statement type="stored" name="PACK_NEWALEA_PENTRADA.P_GET_VALUE_TRAMOS" id="pgetDatosRamo">
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_COLUMNA" type="VARCHAR">$!params.get("piColumn")</param>
		<outparam id="po_VALOR" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
