<statements>
	<statement type="stored" name="PACK_NEWALEA_UTILITY.P_EXIST_POLIZA" id="valExistPoliza">
		<param eval="true" name="pi_unieco" type="NUMERIC">$!params.get("pi_unieco")</param>
		<param eval="true" name="pi_ramo" type="NUMERIC">$!params.get("pi_ramo")</param>
		<param eval="true" name="pi_estado" type="VARCHAR">$!params.get("pi_estado")</param>
		<param eval="true" name="pi_poliza" type="NUMERIC">$!params.get("pi_poliza")</param>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
