<statements>
	<statement type="stored" name="PACK_NEWALEA_UTILITY.PL_VALATR_DES" id="valValoresAtributosDesc">
		<param eval="true" name="pi_tabla" type="VARCHAR">$!params.get("piCdtabla")</param>
		<param eval="true" name="pi_valor" type="VARCHAR">$!params.get("piCodigo")</param>
		<outparam id="po_DESCRIPC" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
