<statements>
	<statement type="stored" name="PACK_NEWALEA_UTILITY.PL_VALATR" id="valValoresAtributosAll">
		<param eval="true" name="pi_VALOR" type="VARCHAR">$!params.get("piOtvalor")</param>
		<param eval="true" name="pi_FORMATO" type="VARCHAR">$!params.get("piFormat")</param>
		<param eval="true" name="pi_OBLIGAT" type="VARCHAR">$!params.get("piSwoblig")</param>
		<param eval="true" name="pi_LIMMIN" type="VARCHAR">$!params.get("piNmlmin")</param>
		<param eval="true" name="pi_LIMMAX" type="VARCHAR">$!params.get("piNmlmax")</param>
		<param eval="true" name="pi_TABLA" type="VARCHAR">$!params.get("piNmtabla")</param>
		<outparam id="po_DESCRIP" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
