<statements>
	<statement type="stored" name="PKG_SATELITES.P_MOV_MSUPLEME" id="movMSUPLEME">		
		<param eval="true" name="pv_cdunieco_i" type="NUMERIC"><![CDATA[$!params.get("CD_UNIECO")]]></param>
		<param eval="true" name="pv_cdramo_i" type="NUMERIC"><![CDATA[$!params.get("CD_RAMO")]]></param>
		<param eval="true" name="pv_estado_i" type="VARCHAR"><![CDATA[$!params.get("ESTADO")]]></param>
		<param eval="true" name="pv_nmpoliza_i" type="NUMERIC"><![CDATA[$!params.get("NMPOLIZA")]]></param>
		<param eval="true" name="pv_nmsuplem_i" type="VARCHAR"><![CDATA[$!params.get("NM_SUPLEM")]]></param>
		<param eval="true" name="pv_feINival_i" type="VARCHAR"><![CDATA[$!params.get("FE_INI_VIG")]]></param>
		<param eval="true" name="pv_hhinival_i" type="VARCHAR"><![CDATA[12:00]]></param>
		<param eval="true" name="pv_fefINval_i" type="VARCHAR"><![CDATA[$!params.get("FE_FIN_VIG")]]></param>
		<param eval="true" name="pv_hhfinval_i" type="VARCHAR"><![CDATA[12:00]]></param>
		<param eval="true" name="pv_swanula_i" type="VARCHAR"><![CDATA[N]]></param>
		<param eval="true" name="pv_nsuplogi_i" type="NUMERIC"><![CDATA[$!params.get("N_SUPLOGI")]]></param>
		<param eval="true" name="pv_nsupusua_i" type="NUMERIC"></param>
		<param eval="true" name="pv_nsupsess_i" type="NUMERIC"></param>
		<param eval="true" name="pv_fesessio_i" type="VARCHAR"></param>
		<param eval="true" name="pv_swconfir_i" type="VARCHAR"><![CDATA[N]]></param>
		<param eval="true" name="pv_nmrenova_i" type="NUMERIC"><![CDATA[0]]></param>
		<param eval="true" name="pv_nsuplori_i" type="NUMERIC"><![CDATA[0]]></param>
		<param eval="true" name="pv_cdorddoc_i" type="NUMERIC"></param>
		<param eval="true" name="pv_swpolfro_i" type="VARCHAR"><![CDATA[N]]></param>
		<param eval="true" name="pv_pocofron_i" type="NUMERIC"><![CDATA[0]]></param>
		<param eval="true" name="pv_swpoldec_i" type="VARCHAR"><![CDATA[N]]></param>
		<param eval="true" name="pv_tippodec_i" type="NUMERIC"></param>
		<param eval="true" name="pv_accion_i" type="VARCHAR"><![CDATA[I]]></param>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>