<h3 style="text-align: justify;"><span style="color: rgb(255, 0, 0);"><span style="font-family: Verdana;">This is a test generated to check the performance of the main portal using a Velocity component&nbsp;&nbsp; and changin the original implementation made.</span><br />
</span></h3>