<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_WIZARD.P_BORRA_TVARIATM " id="ELIMINA_VAR_TMP">
	
		<param eval="true" name="pv_cdvariat_i" type="VARCHAR"><![CDATA[$!params.get("pv_cdvariat_i")]]></param>

  	    <outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"/>
        
	</statement>
</statements>