<statements>
	<statement type="stored" name="PKG_CONFG_CUENTA.P_BORRAR_PLAN" id="borrarPlan">
		<param eval="true" name="P_PRODUCTO" type="NUMERIC">$!params.cdRamo</param>
		<param eval="true" name="P_CVE_PLAN" type="VARCHAR">$!params.cdPlan</param>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
	</statement>					
</statements>