<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<statements>
	<statement type="stored" name="PKG_CONFG_CUENTA.P_OBTIENE_PLAN" id="pObtienePlanes2">
<param eval="true" name="PV_PRODUCTO_I" type="VARCHAR">$!params.get("cdRamoB")</param>
<param eval="true" name="PV_DESC_PLAN_I" type="VARCHAR">$!params.get("dsPlanB")</param>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>
		<outparam id="PV_REGISTROS_O" type="CURSOR"/>
</statement>
</statements>

