<statements>
	<statement type="stored" name="PKG_LISTAS.P_PRODUCTOS" id="productos">
		<param eval="true" name="PV_CDUNIECO_I" type="VARCHAR"><![CDATA[$!params.get("unieco")]]></param>
		<param eval="true" name="PV_CDELEMENTO_I" type="VARCHAR"><![CDATA[$!params.get("elemento")]]></param>
		<param eval="true" name="PV_CDRAMO_I" type="VARCHAR"><![CDATA[$!params.get("ramo")]]></param>
		<outparam id="pv_registro_o" type="CURSOR"/>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>