<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_MENU.P_OBTIENE_OPCIONES_MENU" id="obtiene_opciones_menu">
		<param eval="true" name="PV_CDMENU_I" type="VARCHAR">$!params.cdMenu</param>
		<param eval="true" name="PV_DSOPCION_I" type="VARCHAR">$!params.opcion</param>
		<param eval="true" name="PV_DSOPCIONPADRE_I" type="VARCHAR">$!params.opcionPadre</param>
		<outparam id="PV_REGISTRO_O" type="CURSOR"/>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="NUMERIC"/>
		<outparam id="PV_TEXT_O" type="VARCHAR"/>
	</statement>
</statements>