<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_REPORTES.P_BORRA_TPLANREP" id="borraPlantillaReporte">

        <param eval="true" name="p_ncdelemento" type="NUMERIC">$!params.get("cdCorporativo")</param>
        <param eval="true" name="p_ncdunieco" type="NUMERIC">$!params.get("cdAseguradora")</param>
        <param eval="true" name="p_ncdramo" type="NUMERIC">$!params.get("cdProducto")</param>
        <param eval="true" name="p_ncdplanti" type="NUMERIC">$!params.get("cdPlantilla")</param>
        <param eval="true" name="p_ncdreporte" type="NUMERIC">$!params.get("cdReporte")</param>
		<outparam id="pv_existe_i" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"/>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>

	</statement>
</statements>