<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_REPORTES.P_INSERTA_TATRIREP" id="insertAtributo">   

	    <param eval="true" name="p_ncdreporte" type="VARCHAR"><![CDATA[$!params.get("cdReporte")]]></param>
	    <param eval="true" name="p_vdsatribu" type="VARCHAR"><![CDATA[$!params.get("dsAtributo")]]></param>
	    <param eval="true" name="p_vswformat" type="VARCHAR"><![CDATA[$!params.get("formato")]]></param>
	    <param eval="true" name="p_nnmlmin" type="VARCHAR"><![CDATA[$!params.get("minimo")]]></param>
	    <param eval="true" name="p_nnmlmax" type="VARCHAR"><![CDATA[$!params.get("maximo")]]></param>
	    <param eval="true" name="p_vottabval" type="VARCHAR"><![CDATA[$!params.get("apoyo")]]></param>
	    <param eval="true" name="p_ncdexpres" type="VARCHAR"><![CDATA[$!params.get("cdExpres")]]></param>

		<outparam id="pv_existe_i" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"/> 
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
	</statement>
</statements>
