<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
    <statement type="stored" name="PKG_REPORTES.P_OBTIENE_TATRIPLA" id="obtienePlantillaAtributos">
    <param eval="true" name="p_ncdplantilla" type="VARCHAR">$!params.get("cdPlantilla")</param>
            <outparam id="p_cu_atributos" type="CURSOR"/>
    </statement>
</statements>