<statements>	
	<statement type="stored" name="PKG_WIZARD.P_INSERTEXPRESI" id="pInsertExpresi">
		<param eval="true" name="PV_CDEXPRES_I" type="NUMERIC">$!params.codigoExpresion</param>
		<param eval="true" name="PV_OTEXPRES_I" type="VARCHAR"><![CDATA[$!params.otExpresion]]></param>
		<param eval="true" name="PV_SWRECALC_I" type="VARCHAR">$!params.switchRecalcular</param>
		<outparam id="PV_SEC_CDEXPRES" type="NUMERIC"/>
		<param eval="true" name="pv_OTTIPORG_i" type="VARCHAR">$!params.ottiporg</param>
		<param eval="true" name="pv_OTTIPEXP_i" type="VARCHAR">$!params.ottipexp</param>
		 
		<outparam id="PV_MSG_ID" type="NUMERIC"/>  
		<outparam id="PV_TITLE_O" type="VARCHAR"/>
	</statement>
</statements>