<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<statements>
	<statement type="stored" name="PKG_WIZARD.P_PARSEADOR" id="pParseador">
		<param eval="true" name="pv_expresion_i" type="VARCHAR"><![CDATA[$!params.expresion]]></param>
		<param eval="true" name="pv_cdexpres_i" type="NUMERIC">$!params.codigoExpresion</param>
		<param eval="true" name="pv_ottipexp_i" type="VARCHAR">$!params.tipoExpresion</param>
		<param eval="true" name="pv_ottiporg_i" type="NUMERIC">0</param>
		<param eval="true" name="pv_otlength_i" type="NUMERIC">0</param>
		<param eval="true" name="pv_otdepth_i" type="NUMERIC">0</param>
		<param eval="true" name="pv_lang_code_o" type="VARCHAR">null</param>
		<param eval="true" name="pv_cdvariable_i" type="VARCHAR">$!params.cdVariable</param>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>		
		<outparam id="pv_msg_text_o" type="VARCHAR"/>	
</statement>
</statements>