<statements>
	<statement type="stored" name="PKG_EMISION.P_OBTIENE_TVALOGAR" id="emisionObtieneDatosCobertura">
		<param eval="true" name="pv_cdunieco_i" type="NUMERIC">$!params.cdunieco</param>
		<param eval="true" name="pv_cdramo_i"   type="NUMERIC">$!params.cdramo</param>
		<param eval="true" name="pv_estado_i"   type="VARCHAR">$!params.estado</param>
		<param eval="true" name="pv_nmpoliza_i" type="NUMERIC">$!params.nmpoliza</param>
		<param eval="true" name="pv_nmsituac_i" type="NUMERIC">$!params.nmsituac</param>
		<param eval="true" name="pv_cdgarant_i" type="VARCHAR">$!params.cdgarant</param>
		<param eval="true" name="pv_cdatribu_i" type="NUMERIC">$!params.cdatribu</param>
		<param eval="true" name="pv_status_i"   type="VARCHAR">$!params.status</param>
		<outparam id="pv_registro_o" type="CURSOR"/>
		<outparam id="pv_msg_id_o"   type="VARCHAR"/>
		<outparam id="pv_title_o"    type="VARCHAR"/>
	</statement>
</statements>