<statements>
	<statement type="stored" name="PKG_ENDOSOS.P_SACAENDOSO" id="saca-endoso-tarificacion">
		
		<param eval="true" name="P_CDUNIECO" type="NUMERIC">$!params.get("cdunieco")</param>
		<param eval="true" name="P_CDRAMO"   type="NUMERIC">$!params.get("cdramo")</param>
		<param eval="true" name="P_ESTADO"   type="VARCHAR">$!params.get("estado")</param>
		<param eval="true" name="P_NMPOLIZA" type="NUMERIC">$!params.get("nmpoliza")</param>
		<param eval="true" name="P_NSUPLOGI" type="NUMERIC">$!params.get("nsuplogi")</param>
		<param eval="true" name="P_NMSUPLEM" type="NUMERIC">$!params.get("nmsuplem")</param>

		<outparam id="PV_MSG_ID_O"   type="VARCHAR"/>
		<outparam id="PV_TITLE_O"    type="VARCHAR"/>
	</statement>
</statements>