<statements>
	<statement type="stored" name="PKG_TABLASDE_APOYO.P_EJECUTA_QUERY_1CLAVE" id="pejecutaQuery1Clave">
		<param eval="true" name="clave1Valor" type="VARCHAR">$!params.get("clave1Valor")</param>
		<param eval="true" name="nombreTablaWhere" type="VARCHAR">$!params.get("nombreTablaWhere")</param>
		<param eval="true" name="fecha" type="VARCHAR">$!params.get("fecha")</param>
		<param eval="true" name="formatoClave1" type="VARCHAR">$!params.get("formatoClave1")</param>
		<outparam id="cursor_vta" type="CURSOR"/>
	</statement>
</statements>
