,items:[{
		xtype: 'editorgrid',
		frame:true,
		id:'gridResultado',
        store:  getResultado(),
        stripeRows: true,
        cm: new Ext.grid.ColumnModel([
		    new Ext.grid.RowNumberer(),
		        {   header: "ClaveConjunto",
		            dataIndex:'cdConjunto',
		            sortable:true,
		            width:20,
		            locked:false,
		            id:'cdConjunto',
		            hidden:true
		            },{
		            header: "cdproceso",
		            dataIndex:'cdProceso',
		            sortable:true,
		            width:20,
		            locked:false,
		             hidden:true
		            },{           
		            header: "Descripcion",
		            dataIndex:'descripcion',
		            width:200,
		            editor: new Ext.form.TextField({
		               allowBlank: false
		                })
		            },{
		             header: 'Limitada'+'&nbsp &nbsp &nbsp <a href="javascript:Ext.getCmp(\'windowDetalle\').show();"><IMG SRC="../resources/images/aon/bullet_titulo.gif" WIDTH=10 HEIGHT=10></a> ',
		           dataIndex:'cliente', 
		            width:200, 
		            sortable:true,
		           editor: new Ext.form.TextField({
		               allowBlank: false
		                })
		            },{
		            header: "Amplia",
		            dataIndex:'cliente',
		            width:200,
		            sortable:true,
		            editor: new Ext.form.TextField({
		               allowBlank: false
		                })
		            },{
		            header: "Amplia plus",
		            dataIndex:'cliente', 
		            width:200, 
		            sortable:true,
		               editor: new Ext.form.NumberField({
		                   allowBlank: false,
		                  allowNegative: false,
		                  allowDecimals: true
		                })
		               
		         }
		   ]),
        clicksToEdit : 2,
        buttonAlign : 'center',
        height:200,
        width:800,
       // plugins: summary,
		view: new Ext.grid.GroupingView({
        forceFit:true,
        showGroupName:false,
        enableNoGroups:false,
        groupTextTpl: '<span style="color:#98012e;font-size:11px;font-family:Arial,Helvetica,sans-serif;">Aseguradora - {text}</span>',
        hideGroupedColumn: false
        })
        ,
          bbar: new Ext.PagingToolbar({
            pageSize: 25,
            store:storeGrid,
            displayInfo: true,
            displayMsg: 'Displaying rows {0} - {1} of {2}',
            emptyMsg: "No rows to display"
                  })
    
   }]
    