<statements>
	<statement type="stored" name="PACK_NEWALEA_VALIDAPROC.P_VALIDA_BBVTARXINC" id="pvalidaBBVTARXINC">
		<param eval="true" name="p_cdunieco" type="NUMERIC">$!params.get("p_cdunieco")</param>
		<param eval="true" name="p_cdramo" type="NUMERIC">$!params.get("p_cdramo")</param>
		<param eval="true" name="p_nmpoliza" type="NUMERIC">$!params.get("p_nmpoliza")</param>
		<param eval="true" name="p_nmsituac" type="NUMERIC">$!params.get("p_nmsituac")</param>
		<param eval="true" name="p_nmsuplem" type="VARCHAR">$!params.get("p_nmsuplem")</param>
		<param eval="true" name="p_nsuplogi" type="NUMERIC">$!params.get("p_nsuplogi")</param>
		<outparam id="p_status" type="NUMERIC"/>
		<outparam id="p_errormsg" type="VARCHAR"/>
	</statement>
</statements>
