<statements>
	<statement type="stored" name="PKG_WIZARD.P_INSERTROLINCISO" id="pInsertRolInciso">
		<param eval="true" name="PV_CDRAMO_I" type="NUMERIC">$!params.codigoRamo</param>
		<param eval="true" name="PV_CDROL_I" type="VARCHAR">$!params.codigoRol</param>
		<param eval="true" name="PV_CDNIVEL_I" type="NUMERIC">$!params.codigoNivel</param>
		<param eval="true" name="PV_CDCOMPO_I" type="VARCHAR">$!params.codigoComposicion</param>
		<param eval="true" name="PV_NMAXIMO_I" type="VARCHAR">$!params.numeroMaximo</param>
		<param eval="true" name="PV_CDTIPSIT_I" type="VARCHAR">$!params.cdtipsit</param>
		<param eval="true" name="PV_SWDOMICI_I" type="VARCHAR">$!params.switchDomicilio</param>
		
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>		
	</statement>
	
</statements>

