<statements>
	<statement type="stored" name="PKG_WIZARD.P_DELROLRAMO" id="pEliminarRol">
		<param eval="true" name="PV_CDRAMO_I" type="NUMERIC">$!params.cdRamo</param>
		<param eval="true" name="PV_CDROL_I" type="VARCHAR">$!params.cdRol</param>
		<param eval="true" name="PV_CDNIVEL_I" type="NUMERIC">$!params.cdNivel</param>
		
		
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>

