<statements>
	<statement type="stored" name="PKG_WIZARD.P_LOADROLINCISO" id="pvalSituacionExcluidaCoa">
		<param eval="true" name="PV_CDRAMO_I" type="NUMERIC">$!params.get("codigoRamo")</param>
		<param eval="true" name="PV_CDTIPSIT_I" type="VARCHAR">$!params.get("codigoTipoSituacion")</param>
		<param eval="true" name="PV_CDROL_I" type="VARCHAR">$!params.get("codigoRol")</param>
		<param eval="true" name="PV_CDNIVEL_I" type="NUMERIC">$!params.get("codigoNivel")</param>
		
		<outparam id="PV_REGISTRO_O" type="CURSOR"/>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>		
</statement>
</statements>