<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<statements>
	<statement type="stored" name="PKG_OID.P_VALIDA_USUARIO_CONTRASENA" id="pValidaUsuarioContrasena">	
		<param eval="true" name="p_usuario_i" type="VARCHAR">$!params.usuario</param>
		<param eval="true" name="p_contrasena_i" type="VARCHAR">$!params.contrasena</param>
		
		<outparam id="p_valor_o" type="NUMERIC"/>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>