<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CATBO.P_VALIDA_TARECTMP" id="validaCompraTiempo">
       <param eval="true" name="pv_cdproceso_i" type="NUMERIC">$!params.get("pv_cdproceso_i")</param>
 	    <param eval="true" name="pv_cdnivatn_i" type="NUMERIC">$!params.get("pv_cdnivatn_i")</param>
 	    <param eval="true" name="pv_nmcaso_i" type="VARCHAR"><![CDATA[$!params.get("pv_nmcaso_i")]]></param>
 	     
        <outparam id="pv_valida_o" type="NUMERIC"/>
        <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
 