<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CATBO.P_GUARDA_COMPRA " id="guardarCompra">
       <param eval="true" name="pv_nmcaso_i" type="VARCHAR">$!params.get("pv_nmcaso_i")</param>
       <param eval="true" name="pv_cdusuario_i" type="VARCHAR"><![CDATA[$!params.get("pv_cdusuario_i")]]></param>
       <param eval="true" name="pv_cdnivatn_i" type="NUMERIC"><![CDATA[$!params.get("pv_cdnivatn_i")]]></param>
       <param eval="true" name="pv_nmcompra_i" type="NUMERIC">$!params.get("pv_nmcompra_i")</param>
       <param eval="true" name="pv_tunidad_i" type="VARCHAR">$!params.get("pv_tunidad_i")</param>
       
  		<outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
