<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CATBO.P_GUARDAR_TCALENDA" id="actualizarCalendario">
       <param eval="true" name="pv_cdpais_i" type="VARCHAR"><![CDATA[$!params.get("cdpais")]]></param>
       <param eval="true" name="pv_nmanio_i" type="NUMERIC"><![CDATA[$!params.get("nmanio")]]></param>
       <param eval="true" name="pv_nmmes_i" type="NUMERIC"><![CDATA[$!params.get("nmmes")]]></param>
       <param eval="true" name="pv_nmdia_i" type="NUMERIC"><![CDATA[$!params.get("nmdia")]]></param>
       <param eval="true" name="pv_dsdia_i" type="VARCHAR"><![CDATA[$!params.get("dsdia")]]></param>
       
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
 