<statements>
	<statement type="stored" name="PKG_CATBO.P_OBTIENE_PROCESOS" id="obtieneProcesos">
		<outparam id="po_resulset" type="CURSOR"></outparam>
		<outparam id="po_msg_id" type="INTEGER"/>
        <outparam id="po_title" type="VARCHAR"></outparam>
	</statement>
</statements>