<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_DOCUMENTOS.P_BORRA_FORMATO" id="borrarFormatosDocumentos">
        <param eval="true" name="pi_cdformat_i" type="NUMERIC">$!params.get("cdFormato")</param>
        <outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>