<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CATBO.P_OBTIENE_MMATRIZ" id="obtieneMatriz">
       <param eval="true" name="pv_dsproceso_i" type="VARCHAR"><![CDATA[$!params.get("pv_dsproceso_i")]]></param>
 	   <param eval="true" name="pv_dsformatoorden_i" type="VARCHAR"><![CDATA[$!params.get("pv_dsformatoorden_i")]]></param>
  	   <param eval="true" name="pv_dselemen_i" type="VARCHAR"><![CDATA[$!params.get("pv_dselemen_i")]]></param>
  	   <param eval="true" name="pv_dsunieco_i" type="VARCHAR"><![CDATA[$!params.get("pv_dsunieco_i")]]></param>
  	   <param eval="true" name="pv_dsramo_i" type="VARCHAR"><![CDATA[$!params.get("pv_dsramo_i")]]></param>
  	   
  	   <outparam id="pv_resgistro_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
 