<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
 <statement type="stored" name="PKG_TCATALOG.P_LISTA_TCATALOG" id="obtieneDatosCatalogo">
       
       <param eval="true" name="pv_cdtabla_i" type="VARCHAR"><![CDATA[$!params.get("pv_cdtabla_i")]]></param>

      <outparam id="pv_registro_o" type="CURSOR"/>
      <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
       
 </statement>
</statements>
 