<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CATBO.P_GUARDA_TMATTMPA" id="guardarTiempos">
       <param eval="true" name="pv_cdmatriz_i" type="NUMERIC"><![CDATA[$!params.get("cdmatriz")]]></param>
 	   <param eval="true" name="pv_cdnivatn_i" type="NUMERIC"><![CDATA[$!params.get("pv_cdnivatn_i")]]></param>
 	   <param eval="true" name="pv_tresolucion_i" type="NUMERIC"><![CDATA[$!params.get("pv_tresolucion_i")]]></param>
 	   <param eval="true" name="pv_tresunidad_i" type="VARCHAR"><![CDATA[$!params.get("pv_tresunidad_i")]]></param>
 	   <param eval="true" name="pv_talarma_i" type="NUMERIC"><![CDATA[$!params.get("pv_talarma_i")]]></param>
 	   <param eval="true" name="pv_talaunidad_i" type="VARCHAR"><![CDATA[$!params.get("pv_talaunidad_i")]]></param>
 	   <param eval="true" name="pv_tescalamiento_i" type="NUMERIC"><![CDATA[$!params.get("pv_tescalamiento_i")]]></param>
 	   <param eval="true" name="pv_tescaunidad_i" type="VARCHAR"><![CDATA[$!params.get("pv_tescaunidad_i")]]></param>
 	   <param eval="true" name="pv_operacion_i" type="NUMERIC"><![CDATA[$!params.get("pv_operacion_i")]]></param>
 	   
 	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>


 
 
 