<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_NOTIFICACIONES_CATBO.P_OBTIENE_MNOTIFIC" id="buscarNotificacion">
       <param eval="true" name="pv_DSNOTIFICACION_i" type="VARCHAR"><![CDATA[$!params.get("dsNotificacion")]]></param>
       <param eval="true" name="pv_DSREGION_i" type="VARCHAR"><![CDATA[$!params.get("dsRegion")]]></param>
       <param eval="true" name="pv_DSPROCESO_i" type="VARCHAR"><![CDATA[$!params.get("dsProceso")]]></param>
       <param eval="true" name="pv_DSESTADO_i" type="VARCHAR"><![CDATA[$!params.get("dsEdoCaso")]]></param>
       <param eval="true" name="pv_DSMETENV_i" type="VARCHAR"><![CDATA[$!params.get("dsMetEnv")]]></param>

  	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>

