<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_NOTIFICACIONES_CATBO.P_GUARDA_MNOTIFIC" id="guardarNotificaciones">
       <param eval="true" name="pv_cdnotificacion_i" type="NUMERIC">$!params.get("cdNotificacion")</param>
       <param eval="true" name="pv_dsnotificacion_i" type="VARCHAR"><![CDATA[$!params.get("dsNotificacion")]]></param>
       <param eval="true" name="pv_dsmensaje_i" type="VARCHAR"><![CDATA[$!params.get("dsMensaje")]]></param>
       <param eval="true" name="pv_cdformatoorden_i" type="NUMERIC">$!params.get("cdFormatoOrden")</param>
       <param eval="true" name="pv_cdmetenv_i" type="NUMERIC">$!params.get("cdMetEnv")</param>
  		
  		<outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
