<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_TCATALOG.P_LISTA_TCATALOG" id="pObtenerTareaPrioridad">
        <param eval="true" name="pi_nmtabla" type="VARCHAR"><![CDATA[$!params.get("pi_tabla")]]></param>

		<outparam id="pv_registro_o" type="CURSOR"></outparam>
		<outparam id="pv_msg_id_o" type="INTEGER"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>
