<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_NOTIFICACIONES_CATBO.P_GUARDA_TLOGLLAM" id="guardarDialogoScript">
       
       <param eval="true" name="pv_cdusuario_i" type="VARCHAR"><![CDATA[$!params.get("cdUsuario")]]></param> 
       <param eval="true" name="pv_cdperson_i" type="NUMERIC">$!params.get("cdPerson")</param> 
	   <param eval="true" name="pv_dsobservacion_i" type="VARCHAR"><![CDATA[$!params.get("dsObservacion")]]></param>
  	   
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>

