<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CATBO_PROCESO.P_OBTENER_USR_PROC" id="Obtene_Usuario_Proceso">
       <param eval="true" name="pv_nmcaso_i" type="VARCHAR">$!params.get("pv_nmcaso_i")</param>
        	   
 	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
 