<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CATBO.P_OBTIENE_MTAREAS" id="buscarTareasCatBo">
       <param eval="true" name="pv_dsproceso_i" type="VARCHAR"><![CDATA[$!params.get("dsProceso")]]></param>
       <param eval="true" name="pv_dsmodulo_i" type="VARCHAR"><![CDATA[$!params.get("dsModulo")]]></param>
       <param eval="true" name="pv_cdpriord_i" type="NUMERIC"><![CDATA[$!params.get("cdPriord")]]></param>

  	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>