<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CATBO.P_BORRA_MTAREAS" id="borrarTareasCatBo">
        <param eval="true" name="pv_cdproceso_i" type="VARCHAR"><![CDATA[$!params.get("cdProceso")]]></param>
        <outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>