<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_ENCUESTAS.P_BORRA_TENCUEST" id="borraTiempoEncuesta">
       
       <param eval="true" name="pv_cdencuesta_i" type="NUMERIC">$!params.get("pv_cdencuesta_i")</param> 
       
       <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
       
	</statement>
</statements>