<statements>
	<statement type="stored" name="PKG_WIZARD.P_GUARDAR_COBERTURA_CONCEPTO" id="pGuardarCoberturaConcepto">
		<param eval="true" name="PV_CDRAMO_I" type="NUMERIC">$!params.codigoRamo</param>
		<param eval="true" name="PV_CDPERIOD_I" type="NUMERIC">$!params.conceptoCobertura.codigoPeriodo</param>
		<param eval="true" name="PV_ORDEN_I" type="NUMERIC">$!params.conceptoCobertura.orden</param>
		<param eval="true" name="PV_CDGARANT_I" type="VARCHAR">$!params.conceptoCobertura.codigoCobertura</param>
		<param eval="true" name="PV_CDCONTAR_I" type="VARCHAR">$!params.conceptoCobertura.codigoConcepto</param>
		<param eval="true" name="PV_OTTIPO_I" type="VARCHAR">$!params.conceptoCobertura.codigoComportamiento</param>
		<param eval="true" name="PV_CDCONDIC_I" type="VARCHAR">$!params.conceptoCobertura.codigoCondicion</param>							
		
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>		
</statement>
</statements>