<statements>
	<statement type="stored" name="PKG_LISTAS.P_CONCEPTO_TARIFICA" id="pConceptoTarifica">
		<param eval="true" name="pv_tipcon" type="VARCHAR">$!params.parametro</param>
		<outparam id="PV_REGISTRO_O" type="CURSOR"/>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>		
	</statement>
</statements>