<statements>
	<statement type="stored" name="P_EXEC_VALIDADOR" id="pExecValidador">
		<param eval="true" name="pv_cdunieco_i" type="NUMERIC">$!params.get("cdunieco")</param>
		<param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.get("cdramo")</param>
		<param eval="true" name="pv_estado_i" type="VARCHAR">$!params.get("estado")</param>
		<param eval="true" name="pv_nmpoliza_i" type="NUMERIC">$!params.get("nmpoliza")</param>
		<param eval="true" name="pv_nmsituac_i" type="NUMERIC">$!params.get("nmsituac")</param>
		<param eval="true" name="pv_cdbloque_i" type="VARCHAR">$!params.get("cdbloque")</param>
		<outparam id="pv_msgerror_o" type="VARCHAR"/>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>