<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<statements>
	<statement type="stored" name="PKG_COTIZA.P_TIENE_OBJETOS" id="obtener-objetos-etiqueta">
		<param eval="true" name="PV_CDRAMO_I" type="NUMERIC"><![CDATA[$!params.get("cdramo")]]></param>
  		<param eval="true" name="PV_CDTIPSIT_I" type="VARCHAR"><![CDATA[$!params.get("cdtipsit")]]></param>
  		
  		<outparam id="PV_REGISTRO_O" type="VARCHAR"/>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>		
	</statement>
</statements>	