<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
	<statement type="stored" name="PKG_COTIZA.P_GET_ROLES_DC" id="obtenerResultados">
		
  		<param eval="true" name="pv_cdramo" 	type="NUMERIC"><![CDATA[$!params.get("CD_RAMO")]]></param>
  		<param eval="true" name="pv_cdtipsit" 	type="VARCHAR"><![CDATA[$!params.get("CD_TIPSIT")]]></param>  		
  		<param eval="true" name="pv_cdperson" 	type="NUMERIC"><![CDATA[$!params.get("CD_PERSON")]]></param>
  		<param eval="true" name="pv_cdrolsis" 	type="VARCHAR"><![CDATA[$!params.get("CD_ROLSIS")]]></param>  		
  		
  		<outparam id="po_registro" type="CURSOR"/>
		<outparam id="po_msg_id" type="NUMERIC"/>
		<outparam id="p_out_title" type="VARCHAR"/>
		
	</statement>
</statements>