<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
	<statement type="stored" name="PKG_CATBO.P_OBTIENE_COTIZA_CDCIA" id="obtieneAseguradoras">
		<param eval="true" name="wcdunieco" type="NUMERIC"><![CDATA[$!params.get("CDUNIECO")]]></param>
  		<param eval="true" name="wcdramo" type="NUMERIC"><![CDATA[$!params.get("CDRAMO")]]></param>
  		<param eval="true" name="westado" type="VARCHAR"><![CDATA[$!params.get("ESTADO")]]></param>
  		<param eval="true" name="wnmpoliza" type="NUMERIC"><![CDATA[$!params.get("NMPOLIZA")]]></param>
  		<outparam id="pv_record_o" type="CURSOR"/>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
		
	</statement>
</statements>