<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<statements>
	<statement type="stored" name="PKG_SATELITES.P_MOV_MPOLIOBJ" id="satelite-edita">		  		
  		<param eval="true" name="PV_CDUNIECO_I" type="NUMERIC"><![CDATA[$!params.cdUnieco]]></param>
  		<param eval="true" name="PV_CDRAMO_I" 	type="NUMERIC"><![CDATA[$!params.cdRamo]]></param>
  		<param eval="true" name="PV_ESTADO_I" 	type="VARCHAR"><![CDATA[$!params.estado]]></param>
  		<param eval="true" name="PV_NMPOLIZA_I" type="NUMERIC"><![CDATA[$!params.nmPoliza]]></param>
  		<param eval="true" name="PV_NMSITUAC_I" type="NUMERIC"><![CDATA[$!params.nmSituac]]></param>
  		<param eval="true" name="PV_CDTIPOBJ_I" type="VARCHAR"><![CDATA[$!params.cdTipobj]]></param>
  		<param eval="true" name="PV_NMSUPLEM_I" type="NUMERIC"><![CDATA[$!params.nmSuplem]]></param>
  		<param eval="true" name="PV_STATUS_I" 	type="VARCHAR"><![CDATA[$!params.status]]></param>
  		<param eval="true" name="PV_NMOBJETO_I" type="NUMERIC"><![CDATA[$!params.nmObjeto]]></param>
  		<param eval="true" name="PV_DSOBJETO_I" type="VARCHAR"><![CDATA[$!params.dsObjeto]]></param>
  		<param eval="true" name="PV_PTOBJETO_I" type="NUMERIC"><![CDATA[$!params.ptObjeto]]></param>
  		<param eval="true" name="PV_CDAGRUPA_I" type="NUMERIC"><![CDATA[$!params.cdAgrupa]]></param>
  		<outparam id="pv_nmobjeto_o" type="NUMERIC"/>
  		<param eval="true" name="PV_ACCION_I" 	type="VARCHAR"><![CDATA[$!params.accion]]></param>
  		
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>		
	</statement>
</statements>
