<statements>
	<statement type="stored" name="PKG_COTIZA.P_PROC_INCISO_DEF" id="procIncisoDef">
		<param eval="true" name="pv_cdunieco" type="NUMERIC"><![CDATA[$!params.get("CD_UNIECO")]]></param>
		<param eval="true" name="pv_cdramo" type="NUMERIC"><![CDATA[$!params.get("CD_RAMO")]]></param>
		<param eval="true" name="pv_estado" type="VARCHAR"><![CDATA[$!params.get("ESTADO")]]></param>
		<param eval="true" name="pv_nmpoliza" type="NUMERIC"><![CDATA[$!params.get("NMPOLIZA")]]></param>
		<param eval="true" name="pv_nmsituac" type="NUMERIC"><![CDATA[$!params.get("NMSITUAC")]]></param>
		<param eval="true" name="pv_cdelement" type="NUMERIC"><![CDATA[$!params.get("CD_ELEMENT")]]></param>
		<param eval="true" name="pv_cdperson" type="NUMERIC"><![CDATA[$!params.get("CD_PERSON")]]></param>
		<param eval="true" name="pv_cdasegur" type="VARCHAR"><![CDATA[$!params.get("pv_cdasegur")]]></param>
		<param eval="true" name="pv_cdplan" type="VARCHAR"><![CDATA[$!params.get("pv_cdplan")]]></param>
		<param eval="true" name="pv_cdperpag" type="VARCHAR"><![CDATA[$!params.get("pv_cdperpag")]]></param>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>