/* red toolbar */
a {
	color: #B72E0B;
}

a:hover {
	color: #000;
}

#toolbar {
	background: url(../images/toolbar/red/toolbar-bg.png) repeat-x;
}

.header-dark #nav li.active_menu a {
	background: url(../images/toolbar/red/toolbar-select-dark.png) 50% 0 no-repeat;
}

.header-light #nav li.active_menu a {
	background: url(../images/toolbar/red/toolbar-select-light.png) 50% 0 no-repeat;
}


#nav {
	background: url(../images/toolbar/red/toolbar-div.png) 0 0 no-repeat;
}

#nav li {
	background: url(../images/toolbar/red/toolbar-div.png) 100% 0 no-repeat;
}

#nav li a {
	color: #fff;
}

#nav a:hover {
	color: #333;
}

/* dark/red toolbar footer */
body.footer-dark #footer h3 {
	color: #D95436;
}
