<statements>
	<statement type="stored" name="PKG_ENDOSOS.P_GET_DATOS_POLIZA" id="getDatosPoliza">
		<param eval="true" name="pv_cdunieco_i" type="NUMERIC">$!params.cdunieco</param>
		<param eval="true" name="pv_cdramo_i"   type="NUMERIC">$!params.cdramo</param>
		<param eval="true" name="pv_estado_i"   type="VARCHAR">$!params.estado</param>
		<param eval="true" name="pv_nmpoliza_i" type="NUMERIC">$!params.nmpoliza</param>
		<outparam id="pv_registro_o" type="CURSOR"/>
		<outparam id="pv_msg_id_o" type="VARCHAR"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>