<statements>
	<statement type="stored" name="PKG_ENDOSOS.P_GET_VALOR_ENDOSO" id="tarificarGetValorEndoso">
		<param eval="true" name="PV_CDUNIECO_I" type="NUMERIC"><![CDATA[$!params.cdunieco]]></param>
		<param eval="true" name="PV_CDRAMO_I"   type="NUMERIC"><![CDATA[$!params.cdramo]]></param>
		<param eval="true" name="PV_ESTADO_I"   type="VARCHAR"><![CDATA[$!params.estado]]></param>
		<param eval="true" name="PV_NMPOLIZA_I" type="NUMERIC"><![CDATA[$!params.nmpoliza]]></param>
		<param eval="true" name="PV_NMSITUAC_I" type="NUMERIC"><![CDATA[$!params.nmsituac]]></param>
		<param eval="true" name="PV_NMSUPLEM_I" type="VARCHAR"><![CDATA[$!params.nmsuplem]]></param>
		<outparam id="pv_ptimpant_o"	type="VARCHAR"/>
		<outparam id="pv_ptimpact_o"	type="VARCHAR"/>
		<outparam id="pv_ptimpdif_o"	type="VARCHAR"/>
		<outparam id="pv_msg_id_o"		type="VARCHAR"/>
		<outparam id="pv_title_o"		type="VARCHAR"/>
	</statement>
</statements>