<statements>
	<statement type="stored" name="PACK_NEWALEA_PERSONAS.P_GET_DESCRIP_DOMICIL" id="pgetDescDomicilio">
		<param eval="true" name="pi_CDPERSON" type="VARCHAR">$!params.get("pi_CDPERSON")</param>
		<param eval="true" name="pi_NMORDDOM" type="VARCHAR">$!params.get("pi_NMORDDOM")</param>
		<outparam id="po_DSDOMICI" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
