<statements>

    <statment type="select">
        SELECT DSOBJLOB AS STRING_VAL
            FROM  MPOLIOBJ
            WHERE
            CDUNIECO =     $params.CDUNIECO 
            AND CDRAMO =   $params.CDRAMO 
            AND ESTADO  =  $params.ESTADO 
            AND NMPOLIZA = $params.NMPOLIZA
            AND NMSITUAC = $params.NMSITUAC
            AND NMOBJETO = $params.NMOBJETO
            AND NMSUPLEM = $params.NMSUPLEMEN
    </statment>

</statements>