<statements>
	<statement type="stored" name="PACK_NEWALEA_OBJETOS.P_GET_TIPOSOBJT_X_SITUACION" id="pgetTiposObjetoxSituac">
		<param eval="true" name="pi_CDTIPSIT" type="VARCHAR">$!params.get("pi_CDTIPSIT")</param>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
