<statements>
	<statement type="stored" name="PACK_NEWALEA_SERVICIOSGRALES.P_DATOS_PERSONA" id="pgetDatosAgtPersona">
		<param eval="true" name="pi_CDAGENTE" type="VARCHAR">$!params.get("pi_CDAGENTE")</param>
		<outparam id="po_OTFISJUR" type="VARCHAR"/>
		<outparam id="po_CDTIPPER" type="VARCHAR"/>
		<outparam id="po_OTSEXO" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
