<statements>
	<statement type="stored" name="PACK_NEWALEA_SERVICIOSGRALES.P_FORMATO_CAMPOS_B1B" id="pgetFormatoCamposB1B">
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<outparam id="po_rc_cursor" type="CURSOR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
