<statements>
    #foreach ( $item in $params.itemList )
	<statement type="stored" name="PKG_SERVICIOSGRALES.P_SGINSERTA_TVALOGAR" id="pInsertaTVALOGAR">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_NMSITUAC" type="NUMERIC">$!params.get("pi_NMSITUAC")</param>
		<param eval="true" name="pi_NMSUPLEM" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
		<param eval="true" name="pi_CDGARANT" type="VARCHAR">$!item.clave</param>
		<param eval="true" name="pi_CDATRIBU" type="NUMERIC">$!item.cdAtribu</param>
		<param eval="true" name="pi_OTVALOR" type="VARCHAR">$!item.otValor</param>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
	#end	
</statements>