
items: [{
		border:false,
        bodyStyle:'margin-bottom: 20px;',
        width:800,
        html: '<div align="center"><span style="color:#98012e;font-size:12px;font-family:Arial,Helvetica,sans-serif;">Resultados Cotización</span></div>'
        },{
        border:false,
        layout:'form',
        labelAlign :'right',
        labelWidth : 120,
        width : 800,
        items:[{  
         		xtype:'textfield',
		        fieldLabel: '¿Que desea Cotizar?',
		        width : 200,
		        disabled:true,
		 		name:'subramo'
        }]
       
 		},{
        border:false,
        layout:'form',
        labelAlign :'right',
        labelWidth : 120,
        width : 800,
        items:[{  
         		 xtype:'textfield',
		        fieldLabel: 'Marca',
		        width : 200,
		        disabled:true,
		 		name:'marca'
        }]
        },{
        border:false,
        layout:'form',
        width : 800,
        labelAlign :'right',
        labelWidth : 120,
        items:[{  
         		xtype:'textfield',
		        fieldLabel: 'Modelo',
		        width : 200,
		        disabled:true,
		 		name:'modelo'
        }]
       },{
        border:false,
        layout:'form',
        labelAlign :'right',
        labelWidth : 120,
        width : 800,
        items:[{  
         		xtype:'textfield',
		        fieldLabel: 'Descripcion',
		        width : 200,
		        disabled:true,
		 		name:'descripcion'
        }]
     
 }]