<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<statements>

#foreach($variable  in  $params.LISTA_VARIABLES)
 <statement type="stored" name="PKG_WIZARD.p_inserttvariabd" id="pInsertTvariaBD">
  <param eval="true" name="PV_CDEXPRES_I" type="NUMERIC">$!params.CDEXPRES</param>
  <param eval="true" name="PV_CDVARIAB_I" type="VARCHAR">$!variable.codigoVariable</param>
  <param eval="true" name="PV_OTTABLA_I" type="VARCHAR">$!variable.tabla</param>
  <param eval="true" name="PV_OTSELECT_I" type="VARCHAR">$!variable.descripcionColumna</param>
  <param eval="true" name="PV_SWFORMAT_I" type="VARCHAR">$!variable.switchFormato</param>
	
  <outparam id="pv_msg_id_o" type="NUMERIC"/>  
  <outparam id="pv_title_o" type="VARCHAR"/>
</statement>
#end

</statements>