<statements>
	<statement type="stored" name="PKG_WIZARD.P_GETTABCOLUMBYVAR" id="pGetTabColumByVar">
		<param eval="true" name="PV_CDEXPRES_I" type="NUMERIC">$!params</param>
		<outparam id="PV_REGISTRO_O" type="CURSOR"/>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>		
		<outparam id="PV_TITLE_O" type="VARCHAR"/>	
</statement>
</statements>