<statements>
	<statement type="stored" name="PKG_CONFG_CUENTA.P_GUARDA_PLAN" id="editaPlan">
		<param eval="true" name="P_PRODUCTO" type="NUMERIC">$!params.cdRamo</param>
		<param eval="true" name="P_CVE_PLAN" type="VARCHAR">$!params.cdPlan</param>
		<param eval="true" name="P_DES_PLAN" type="VARCHAR">$!params.dsPlan</param>
		<outparam id="P_OUT_TITLE" type="VARCHAR"/>
		<outparam id="PO_MSG_ID" type="NUMERIC"/>
	</statement>	
				
</statements>


