<statements>
	<statement type="stored" name="PACK_NEWALEA_PERSONAS.P_GENERA_DATA_FUSION" id="pgeneraDatosFusion">
		<param eval="true" name="pi_CDPERSON" type="NUMERIC">$!params.get("pi_CDPERSON")</param>
		<param eval="true" name="pi_OTFISJUR" type="VARCHAR">$!params.get("pi_OTFISJUR")</param>
		<param eval="true" name="pi_CDTIPIDE" type="VARCHAR">$!params.get("pi_CDTIPIDE")</param>
		<param eval="true" name="pi_CDIDEPER" type="VARCHAR">$!params.get("pi_CDIDEPER")</param>
		<param eval="true" name="pi_DSNOMBRE" type="VARCHAR">$!params.get("pi_DSNOMBRE")</param>
		<param eval="true" name="pi_NMORDDOM" type="VARCHAR">$!params.get("pi_NMORDDOM")</param>
		<param eval="true" name="pi_DSDOMICI" type="VARCHAR">$!params.get("pi_DSDOMICI")</param>
		<param eval="true" name="pi_NMNUMERO" type="VARCHAR">$!params.get("pi_NMNUMERO")</param>
		<param eval="true" name="pi_CDPOSTAL" type="VARCHAR">$!params.get("pi_CDPOSTAL")</param>
		<param eval="true" name="pi_SWFUSPER" type="VARCHAR">$!params.get("pi_SWFUSPER")</param>
		<param eval="true" name="pi_SWSELPER" type="VARCHAR">$!params.get("pi_SWSELPER")</param>
		<inoutparam eval="true" name="p_IDPROCESO" id="p_IDPROCESO" type="VARCHAR">$!params.get("p_IDPROCESO")</inoutparam>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
