<statements>
	<statement type="stored" name="PACK_NEWALEA_CACHELISTAS.LISTA_ESPECIAL_COLONIA" id="pgetListaEspecColonias">
		<param eval="true" name="pi_cdcodpos" type="VARCHAR">$!params.get("pi_cdcodpos")</param>
		<param eval="true" name="pi_strlike" type="VARCHAR">$!params.get("pi_strlike")</param>
		<outparam id="po_recordset1" type="CURSOR"/>
		<outparam id="po_cdError" type="VARCHAR"/>
		<outparam id="po_dsError" type="VARCHAR"/>
		<outparam id="po_tipoError" type="VARCHAR"/>
	</statement>
</statements>
