
<statements>
	<statement type="stored" name="PACK_NEWALEA_PERSONAS.P_GET_PERSONA" id="pgetDatosPersona">
		<param eval="true" name="pi_CDTIPIDE" type="VARCHAR">$!params.get("pi_CDTIPIDE")</param>
		<param eval="true" name="pi_CDIDEPER" type="VARCHAR">$!params.get("pi_CDIDEPER")</param>
		<outparam id="po_CDPERSON" type="NUMERIC"/>
		<outparam id="po_DSNOMBRE" type="VARCHAR"/>
		<outparam id="po_DSNOMBR1" type="VARCHAR"/>
		<outparam id="po_DSNOMBR2" type="VARCHAR"/>
		<outparam id="po_DSAPELL1" type="VARCHAR"/>
		<outparam id="po_DSAPELL2" type="VARCHAR"/>
		<outparam id="po_CDTIPPER" type="VARCHAR"/>
		<outparam id="po_OTFISJUR" type="VARCHAR"/>
		<outparam id="po_DSFISJUR" type="VARCHAR"/>
		<outparam id="po_OTSEXO" type="VARCHAR"/>
		<outparam id="po_FENACIMI" type="DATE"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
