
<statements>
	<statement type="stored" name="PACK_NEWALEA_PERSONAS.P_GET_MAXNUMERO_ROL" id="pgetNroMaxRolRamo">
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_CDNIVEL" type="NUMERIC">$!params.get("pi_CDNIVEL")</param>
		<param eval="true" name="pi_CDROL" type="VARCHAR">$!params.get("pi_CDROL")</param>
		<outparam id="po_NMAXIMO" type="NUMERIC"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
