 
 /*************************************************************
** Store Grid
**************************************************************/ 
 var storeGrid;
  //  var summary = new Ext.grid.GroupSummary(); 
    
   function getResultado(){
        url='flujocotizacion/obtenerDatosGrid.action';
        storeGrid = new Ext.data.GroupingStore({
            proxy: new Ext.data.HttpProxy({
            url: url          
            }),
            reader: new Ext.data.JsonReader({    
			        root:'dataGrid',
			        totalProperty: 'totalCount',
			        successProperty : '@success',
			        id: 'cdConjunto'
			        },
			        [
				        {name: 'cdConjunto',  type: 'string',  mapping:'cdConjunto'},
				        {name: 'nombreConjunto',  type: 'string',  mapping:'nombreConjunto'},
				        {name: 'descripcion',  type: 'string',  mapping:'descripcion'},
				        {name: 'cdProceso',  type: 'int',  mapping:'cdProceso'},
				        {name: 'proceso',  type: 'string',  mapping:'proceso'},
				        {name: 'cliente',  type: 'string',  mapping:'cliente'}                    
				    ]
			),     
            remoteSort: true,
            //groupOnSort : true
            groupField:'cdProceso'
           
        });

        storeGrid.setDefaultSort('cdProceso', 'desc');
        storeGrid.load();
        return storeGrid;
    }



/*************************************************************
** Store datos ejemplo
**************************************************************/
var storeRegistro;
function getRegistro(){   
 storeRegistro = new Ext.data.Store({
         proxy: new Ext.data.HttpProxy({
               url: 'flujocotizacion/obtenerDatosRegistro.action'
           
          }),
            reader: new Ext.data.JsonReader({
            root: 'registroList',
            id: 'proceso'
            },[
           {name: 'subramo', type: 'string',mapping:'hproceso'},
           {name: 'marca', type: 'string',mapping:'hcliente'},
           {name: 'modelo', type: 'string',mapping:'hproducto'},
           {name: 'descripcion', type: 'string',mapping:'descripcion'}
            ]),
            remoteSort: true
        });
        storeRegistro.load();
        return storeRegistro;
}    
    
    