<statements>
	<statement type="stored" name="PACK_NEWALEA_INCISOS.P_GET_CODATRIBUTO_VARMODELO" id="pgetCodAtributoModelo">
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<outparam id="po_CDATRIBU" type="NUMERIC"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
