<statements>
	<statement type="stored" name="PACK_NEWALEA_INCISOS.P_GET_COBERTURAS_NO_INSERTAR" id="pgetCoberturasNoInsertar">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.get("pi_CDUNIECO")</param>
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<param eval="true" name="pi_ESTADO" type="VARCHAR">$!params.get("pi_ESTADO")</param>
		<param eval="true" name="pi_NMPOLIZA" type="NUMERIC">$!params.get("pi_NMPOLIZA")</param>
		<param eval="true" name="pi_NMSITUAC" type="NUMERIC">$!params.get("pi_NMSITUAC")</param>
		<param eval="true" name="pi_NMSUPLEM" type="VARCHAR">$!params.get("pi_NMSUPLEM")</param>
		<outparam id="po_CADENA" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
