<statements>
	<statement type="stored" name="PACK_NEWALEA_INCISOS.P_VALORES_MPARAPRO" id="pgetValoresMparapro">
		<param eval="true" name="pi_CDRAMO" type="NUMERIC">$!params.get("pi_CDRAMO")</param>
		<outparam id="po_cdrolase" type="VARCHAR"/>
		<outparam id="po_cdroltom" type="VARCHAR"/>
		<outparam id="po_swtomase" type="VARCHAR"/>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
