 ,listeners: {
           beforerender  : function() {
           			  storeCoberturas.baseParams['otclave1'] = Ext.getCmp('otclave1').getValue();
				      storeCoberturas.baseParams['otclave2'] = Ext.getCmp('otclave2').getValue();
				      storeCoberturas.baseParams['otclave3'] = Ext.getCmp('otclave3').getValue();
				      storeCoberturas.baseParams['ciaAseg'] = Ext.getCmp('ciaAseg').getValue();
				      storeCoberturas.baseParams['cdPlan'] = Ext.getCmp('cdPlan').getValue();
				      storeCoberturas.baseParams['cdRamo'] = Ext.getCmp('cdRamo').getValue();
                      storeCoberturas.load({
	                    callback : function(r,options,success) {
	                   		// Ext.MessageBox.alert('storeCoberturas.getTotalCount()',storeCoberturas.getTotalCount()); 
                         }//callback 
                        });
                       
                     
          }//beforerender
 }//listeners