
function imprimirCotizacion( storeGrid, _datosImpresion1, _datosImpresion2, _USER  ) {

			function tablaCotizaciones ( dataIndexColumnas, storeGrid ) {
				var html = "";
				var numResultados = storeGrid.getCount(); // storeGrid es elemento Ext.data.Store definido en ResultadoCotizacionAction.java 
													  // que obtiene los resultados de la cotizacion solicitada o guardada
				if ( numResultados > 0 ) {
					var aseguradora = "";
					for ( i = 0; i < numResultados; i++ ) {
						var registro = storeGrid.getAt(i);
						// Si es el primer registro en leer o se están leyendo cotizaciones de una aseguradora distinta a la actual, se agrega un separador
						// con el nombre de la aseguradora
						if ( i == 0 || ( i != 0 && aseguradora != registro.get('dsUnieco') ) ) {
							aseguradora = registro.get('dsUnieco');
							html += '<tr>';
							html += '<td id="campoAseguradora" colspan="100%">Aseguradora - ' + aseguradora + '</td>';
							html += '</tr>';							
						}
						// Comienza primas de acuerdo a la forma de pago actual y los diferentes planes de cobertura
						html += '<tr>';
						html += '<td>' + registro.get('dsPerpag') + '</td>'; // Descripcion de la forma de pago actual
						for ( j = 0; j < dataIndexColumnas.length; j++ ) {
							html += '<td>';
							html += registro.get( dataIndexColumnas[j] ); // Se obtiene la prima de la cotizacion de acuerdo al plan de cobertura y forma de pago
							html += '</td>';
						}
						html += '</tr>';
					}
				}
				return html;
			}
		
			var html = "";
			var datosImpresion1 = _datosImpresion1.split("|"); // Lo parseo y datosImpresion1 ahora es un arreglo
			var datosImpresion2 = _datosImpresion2.split("|"); // Lo parseo y datosImpresion2 ahora es un arreglo

			// Comienza codigo HTML para imprimir
			html += '<table id="logoAONLogin" cellspacing="0" cellpadding="3" border="0">';
			html += '<tr><td align="left" width="50%"><img src="http://acw.biosnettcs.com:7778/login/login.action_files/logoAONLogin.jpg" />&nbsp;</td>';
			
			html += '<td align="right" width="50%"><h1 align="center" style="font-size:19pt;">Resultado de Cotizaci&oacute;n</h1></td></tr></table><br>';
			html += '<table id="tablaResultadoCotizaciones" cellspacing="0" cellpadding="3" border="1">';
			html += '<tr><td colspan="100%"><table cellspacing="0" cellpadding="3" border="1">';
			
			// Este ciclo insertará renglones html con los TextFields variables que aparecen
			// en la pantalla 'Resultados de Cotizacion'
			var lengthDatosImpresion1 = (datosImpresion1-1).length%2 == 0 ? (datosImpresion1-1).length/2 : datosImpresion1.length/2;
			var x = 0;
			for ( i = 0; i < lengthDatosImpresion1; i++ ) { // El numero total de TextFields divido entre dos porque se mostrarán dos campos por linea
			
				var temp = datosImpresion1[ x ].split(",");
				var nombreTextField = temp[0];
				var valorTextField = temp[1];
				if( !Ext.isEmpty(nombreTextField)  && !Ext.isEmpty(valorTextField) ){
					html += '<tr>';
					html += '<td id="campoConDatosUsuario" width="25%">' + nombreTextField + '</td>';
					html += '<td width="25%">' + valorTextField + '</td>';
					
					// Si el numero total de TextFields variables es impar, entonces se utilizará el renglón
					// para incluir el campo TextField 'VIGENCIA'
					var temp = x+1 < (datosImpresion1.length-1) ? datosImpresion1[ x+1 ].split(",") : [ "&nbsp;", "&nbsp;" ];
					nombreTextField = x+1 < (datosImpresion1.length-1) ? temp[0] : "VIGENCIA";
					valorTextField = x+1 < (datosImpresion1.length-1) ? temp[1] : Ext.getCmp('txtVigencia').getValue();//txtVigencia.getValue();
					
					html += '<td id="campoConDatosUsuario" width="25%">' + nombreTextField + '</td>';
					html += '<td width="25%">' + valorTextField + '</td>';
					html += '</tr>';
					x+=2;
				}
			}
			html += '</table></td>';
			
			// Si los datos variables son par, entonces se crea una nueva linea html <tr> para incluir 
			// el TextField 'VIGENCIA'
			if ( (datosImpresion1.length-1)%2 == 0 ) {
				html += '<tr>';
				html += '<td id="campoConDatosUsuario" width="25%">VIGENCIA</td>';
				html += '<td width="25%">' + Ext.getCmp('txtVigencia').getValue() + '</td>';
				html += '<td id="campoConDatosUsuario" width="25%">&nbsp;</td>';
				html += '<td width="25%">&nbsp;</td>';
				html += '</tr>';
			}
			
			html += '<tr><td colspan="4" height="8px"><table><tr><td></td></tr></table></td></tr>'; // Linea de separacion
			html += '<tr><td id="campoResultados" colspan="4">Resultados</td></tr>'; // Linea con titulo 'Resultados'
			// Comienza tabla de resultados de cotizacion
			var numPlanes = datosImpresion2.length-1;
			var anchoColumna =  100 / (numPlanes + 1); // Porcentaje de width para cada columna, +1 incluyendo columna 'Descripcion'
			var dataIndexColumnas = new Array(); // Arreglo que contiene el dataIndex de cada columna del grid de Resultados
			html += '<tr><td colspan="100%"><table id="tablaPlanes" cellspacing="0" cellpadding="3" border="1">';
			html += '<tr style="background-color: #A10C33; color: #FFFFFF;">';
			html += '<th width="' + anchoColumna + '%">Descripci&oacute;n</th>';
			for ( i = 0; i < numPlanes; i++ ) {
				var temp = datosImpresion2[ i ].split(",");
				var headerColumna = temp[0];
				dataIndexColumnas[i] = temp[1];
				html += '<th width="' + anchoColumna + '%">' + headerColumna + '</th>';
			}
			html += '</tr>';
			// Comienzan cotizaciones de las aseguradoras
			html += tablaCotizaciones( dataIndexColumnas, storeGrid ); // Funcion que crea tabla
			
			html += '</table></td></tr>'; // Cierre de tabla con las cotizaciones
			html += '</table>'; // Cierre de tabla principal
			
			html += '<br><table id="tablaResultadoCotizaciones" cellspacing="0" cellpadding="3" border="0">';
			html += '<tr><td width="100%">Usuario: ' + _USER + '</td></tr></table>';
			
			return html;
}
