items:[{
    xtype:"fieldset",
    title:'<span style="color:#98012e;font-size:11px;font-family:Arial,Helvetica,sans-serif;">Autos</span>',
    autoHeight:true,
    items:[
    		#foreach($control in $parameters.modelControl)
    			$control.toString() #if($velocityCount < $parameters.modelControl.size()),#end
		    #end
    	  ]
  
  }]
  ,buttons: [{  
	      	
    		xtype: 'button',
	      	text:'Cotizar',
	        id:'cotizar', //GRID MATRIZ CELDA
	        handler: function() {
			       if (simple.form.isValid()) {
			                simple.form.submit({                 
			                      waitMsg:'Procesando...',
			                                        
			                      failure: function(form, action) {
			                        ejecutaValidaciones();                                                     
			                     },
			                     success: function(form, action) {
			                        ejecutaValidaciones();                    
			                     }
			                });                   
			            } else{
			                 Ext.MessageBox.alert('Error', 'Se produjo error');
			            }  
			}//end handler
    },{
    		xtype: 'button',
	      	text:'Limpiar',
	        id:'cancel',
	        handler: function() {
   
		         simple.form.reset();
		         simple.form.load({ 
		                    url:'flujocotizacion/limpiar.action'
		                            });
   		}//end handler
   }]
   ,listeners: {
            beforerender  : function() {
                       
                       storeMarca.baseParams['ottabval'] = 'APDIT008'; 
                       storeMarca.baseParams['valAnterior'] = '0'; 
                       storeMarca.baseParams['valAntAnt'] = '0'; 
                       storeMarca.load();
                       storeRegistro.load({
	                       callback : function(r,options,success) {
		                        if(storeRegistro.getTotalCount()==null || storeRegistro.getTotalCount()==""){
		                        }else{
				                       var record = storeRegistro.getAt(0);
				                       var idCliente = record.get('modelo');
				                       var pr = record.get('descripcion');
				                     
				                     
				                      Ext.getCmp('modelo').clearValue();
				                      storeModelo.baseParams['ottabval'] = 'ANIOAUTO'; 
				                      storeModelo.baseParams['valAnterior'] = record.get('marca'); 
				                      storeModelo.baseParams['valAntAnt'] = '0'; 
                       				  storeModelo.load({
									                  callback : function(r,options,success) {
									                  Ext.getCmp('modelo').setValue(record.get('modelo'));
									                      if (!success) {
									                        //  Ext.MessageBox.alert('Aviso','No se encontraron registros');  
									                         storeModelo.removeAll();
									                      }
									                  }
									
									     });
				                     
				                     
				                     
				                       Ext.getCmp('descripcion').clearValue();
				                        storeDescripcion.baseParams['ottabval'] = 'APDIT016'; 
				                        storeDescripcion.baseParams['valAnterior'] = record.get('modelo'); 
				                        storeDescripcion.baseParams['valAntAnt'] = record.get('marca'); 
									    storeDescripcion.load({
									                  callback : function(r,options,success) {
									                  Ext.getCmp('descripcion').setValue(record.get('descripcion'));
									                 // Ext.getCmp('modelo').setValue(record.get('modelo'));
									                      if (!success) {
									                       //   Ext.MessageBox.alert('Aviso','No se encontraron registros');  
									                         storeDescripcion.removeAll();
									                      }
									                  }
									
									     });
				                          simple.getForm().loadRecord(record);
		                       }    //else
	                     }//callback 
                 });
          }//beforerender
       }//listeners
  