items :[{
        border:false,
        layout:'form',
        labelWidth : 100,
        width:550,
        items:[{
        		xtype:'textfield',
		        fieldLabel: 'Poliza confirmada',
		        labelSeparator : ' ',
		        width:100,
		        disabled:true,
		        name:'polizaConfirmada'
		      
        	  }]
        },{
 		border:false,
        layout:'form',
        width:250,
        labelWidth : 120,
        items:[{
        		xtype:'textfield',
		        fieldLabel: 'Importe Total',
		        labelSeparator : ' ',
		        width:100,
		        disabled:true,
		        name:'importeTotal'
		      
        	  }]  
       },{	  
        border:false,
        layout:'form',
        labelWidth : 100,
        items:[{
        		xtype:'textfield',
		        fieldLabel: 'Recibo',
		        labelSeparator : ' ',
		        width:100,
		        disabled:true,
		        name:'recibo'
        	  }]
        },{	  
        border:false,
        layout:'form',
        width:250,
        labelWidth : 120,
        items:[{
        		xtype:'textfield',
		        fieldLabel: 'Importe Prorrateado',
		        labelSeparator : ' ',
		        width:100,
		        disabled:true,
		        name:'importeProrrateado'
        	  }]
       },{	  
        border:false,
        layout:'form',
        labelWidth : 100,
        items:[{
        		xtype:'textfield',
		        fieldLabel: 'Factor',
		        labelSeparator : ' ',
		        width:100,
		        disabled:true,
		        name:'factor'
        	  }]

		
        	  
      
       },{	  
        border:false,
        layout:'form',
        width:250,
        labelWidth : 120,
        items:[{
        		xtype:'textfield',
		        fieldLabel: 'Diferencia',
		        labelSeparator : ' ',
		        width:100,
		        disabled:true,
		        name:'diferencia'
        	  }]
      
        },{
        border:false,
        colspan: 2,
        bodyStyle:'margin-bottom: 10px; margin-left: 0px;',
        width:800,
        html: '<div align="left"><span style="color:#98012e;font-size:12px;font-family:Arial,Helvetica,sans-serif;">Resumen</span></div>'
        
 		},{	  
        border:false,
        layout:'form',
        colspan: 2,
        labelWidth : 120,
        items:[{
        		xtype:'textfield',
		        fieldLabel: 'Modo de Pago',
		        labelSeparator : ' ',
		        width:150,
		        disabled:true,
		        name:'modoPago'
        	  }]
         },{	  
        border:false,
        layout:'form',
        colspan: 2,
        labelWidth : 120,
        items:[{
        		xtype:'textfield',
		        fieldLabel: 'Prima Total a Pagar ',
		        labelSeparator : ' ',
		        width:150,
		        disabled:true,
		        name:'primaTotal'
        	  }]
         },{	  
        border:false,
        layout:'form',
        colspan: 2,
        labelWidth : 170,
        items:[{
        		xtype:'textfield',
		        fieldLabel: 'Prima Según Modo de Pago',
		        labelSeparator : ' ',
		        width:100,
		        disabled:true,
		        name:'primaModo'
        	  }]
}]    