<statements>
	<statement type="stored" name="PKG_EMISION.P_OBTIENE_MPOLIPER" id="obtieneFuncionPoliza">
		<param eval="true" name="pv_cdunieco" type="NUMERIC">$!params.cdUnieco</param>
		<param eval="true" name="pv_cdramo" type="NUMERIC">$!params.cdRamo</param>
		<param eval="true" name="pv_estado" type="VARCHAR">$!params.estado</param>
		<param eval="true" name="pv_nmpoliza" type="NUMERIC">$!params.nmPoliza</param>
		<param eval="true" name="pv_nmsituac_i" type="NUMERIC">$!params.nmSituac</param>
		<param eval="true" name="pv_cdrol" type="VARCHAR">$!params.cdRol</param>
		<param eval="true" name="pv_cdperson" type="VARCHAR">$!params.cdPerson</param>
		<outparam id="PV_REGISTRO_O" type="CURSOR"/>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>
	</statement>
</statements>