<statements>
	<statement type="stored" name="PKG_CONFIGURA_PANTALLA.P_OBTIENE_PANTALLA_FINAL" id="obtienePantalla">
		<param eval="true" name="pv_cdelemento_i" type="NUMERIC">$!params.cdElemento</param>
		<param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.cdRamo</param>
		<param eval="true" name="pv_cdtitulo_i" type="NUMERIC">$!params.cdTitulo</param>
		<outparam id="PV_REGISTRO_O" type="CURSOR"/>
		<outparam id="PV_MSG_ID_O" type="VARCHAR"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>
	</statement>
</statements>