<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CONFG_CUENTA.P_OBTIENE_POLIZA_MAESTRA" id="obtienePolizaMaestra">
		<param eval="true" name="pv_dselemen_i" type="VARCHAR"><![CDATA[$!params.dselemen]]></param>
		<param eval="true" name="pv_dsramo_i" type="VARCHAR"><![CDATA[$!params.dsramo]]></param>
		<param eval="true" name="pv_dsunieco_i" type="VARCHAR"><![CDATA[$!params.dsunieco]]></param>
		<outparam id="pv_registro_o" type="CURSOR"/>
		<outparam id="pv_msg_id_o" type="VARCHAR"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>