<statements>
	<statement type="stored" name="PKG_EMISION.P_CONSULTA_POLIZAS" id="obtienePolizas">
		<param eval="true" name="pi_CDUNIECO" type="NUMERIC">$!params.cdUnieco</param>
		<param eval="true" name="pi_CDRAMO" type="VARCHAR">$!params.producto</param>
		<param eval="true" name="pi_NMPOLIEX" type="VARCHAR">$!params.poliza</param>
		<param eval="true" name="pi_DSNOMBRE" type="VARCHAR"><![CDATA[$!params.nombreAsegurado]]></param>
		<param eval="true" name="pi_CDCIA" type="NUMERIC">$!params.aseguradora</param>
		<param eval="true" name="pi_SWFECHA" type="VARCHAR">$!params.fechaInicioFin</param>
		<param eval="true" name="pi_FEDESDE" type="VARCHAR">$!params.inicioVigencia</param>
		<param eval="true" name="pi_FEHASTA" type="VARCHAR">$!params.finVigencia</param>
		<param eval="true" name="pi_SWESTADO" type="VARCHAR">$!params.statusPoliza</param>
		<param eval="true" name="pi_INCISO" type="VARCHAR">$!params.inciso</param>
		<outparam id="PV_REGISTRO_O" type="CURSOR"/>
		<outparam id="PV_MSG_ID_O" type="VARCHAR"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>
	</statement>
</statements>