<statements>
	<statement type="stored" name="PKG_EMISION.P_PROCESO_EMISION" id="procesoEmision">
		<param eval="true" name="pv_cdusuari" type="VARCHAR"><![CDATA[$!params.get("CD_USUARIO")]]></param>
		<param eval="true" name="pv_cdunieco" type="NUMERIC"><![CDATA[$!params.get("CD_UNIECO")]]></param>
		<param eval="true" name="pv_cdramo" type="NUMERIC"><![CDATA[$!params.get("CD_RAMO")]]></param>
		<param eval="true" name="pv_estado" type="VARCHAR"><![CDATA[$!params.get("ESTADO")]]></param>
		<param eval="true" name="pv_nmpoliza" type="NUMERIC"><![CDATA[$!params.get("NMPOLIZA")]]></param>
		<param eval="true" name="pv_nmsituac" type="NUMERIC"><![CDATA[$!params.get("NMSITUAC")]]></param>
		<param eval="true" name="pv_nmsuplem" type="NUMERIC"><![CDATA[$!params.get("NM_SUPLEM")]]></param>
		<param eval="true" name="pv_cdelement" type="NUMERIC"><![CDATA[$!params.get("CD_ELEMENT")]]></param>
		<param eval="true" name="pv_cdcia" type="NUMERIC"><![CDATA[$!params.get("CD_CIA")]]></param>
		<param eval="true" name="pv_cdplan" type="VARCHAR"><![CDATA[$!params.get("CD_PLAN")]]></param>
		<param eval="true" name="pv_cdperpag" type="NUMERIC"><![CDATA[$!params.get("CD_PERPAG")]]></param>
		<param eval="true" name="pv_cdperson" type="NUMERIC"><![CDATA[$!params.get("CD_PERSON")]]></param>
		<param eval="true" name="pv_fecha" type="VARCHAR"><![CDATA[$!params.get("FECHA")]]></param>
		
		<outparam id="pv_message" type="VARCHAR"/>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>