,buttons: [{
 			xtype: 'button',
	      	text:'Regresar',
	        id:'regresar', ///grid consulta
	        handler: function() {
 					window.location  = 'cotizacionEntrada.action';
 			
 			}//end handler
 
 }]

 ,listeners: {
           beforerender  : function() {
                       getRegistro();
                       storeRegistro.on('load', function(){
                       if(storeRegistro.getTotalCount()==null || storeRegistro.getTotalCount()==""){
                       }else{
                       var record = storeRegistro.getAt(0);
                       simple.getForm().loadRecord(record);
                       }
                        });
          }//beforerender
 }//listeners
      