items :[{
 		xtype:'textfield',
		fieldLabel: '',
		width : 200,
		disabled:true,   
		name:'dsGarant',
		id:'dsGarant',
		labelSeparator:''
		
 		
 	},{	
 		xtype:'textarea',
		fieldLabel: '',
		labelSeparator:'',
		width:200,
		height:100,  
		editable:false,
		grow: true,
		preventScrollbars:true,
		name:'dsAyuda',
		id:'dsAyuda'
	
	
		
}]
