{layout:'form',
border:false, 
defaults:{xtype:'textfield'},
items:[{
 	name:'B5B.C4', 
 	fieldLabel:'Edad'
 	},{
 	name:'B5B.C5',
 	fieldLabel:'Sexo'
 	},{
 	name:'B5B.C6',
 	 fieldLabel:'Placa'
 	 }]
 }
		