


     
var storeRegistro;
function getRegistro(){   
 storeRegistro = new Ext.data.Store({
         proxy: new Ext.data.HttpProxy({
               url: 'flujocotizacion/getCotizacion.action'
           
          }),
            reader: new Ext.data.JsonReader({
            root: 'registroList',
            id: 'proceso'
            },[
           {name: 'proceso', type: 'string',mapping:'hproceso'},
           {name: 'cliente', type: 'string',mapping:'hcliente'},
           {name: 'producto', type: 'string',mapping:'hproducto'},
           {name: 'modelo', type: 'string',mapping:'modelo'},
           {name: 'descripcion', type: 'string',mapping:'descripcion'}
           ]),
            remoteSort: true
        });
        storeRegistro.load();
        return storeRegistro;
}
 

 Ext.getCmp('cliente').on('select', function(combo,record, ind){
    Ext.getCmp('producto').clearValue();
    storeProducto.baseParams['comboId'] =Ext.getCmp('cliente').getValue();
    storeProducto.load({
         callback : function(r,options,success) {
                       if (!success) {
                          //Ext.MessageBox.alert('Aviso','No se encontraron registros');  
                          storeProducto.removeAll();
                      }
                  }

              }
            );
  });
