items:[{
		xtype: 'editorgrid',
		frame:true,
		id:'gridResultado',
            store: getResultado(),
            stripeRows: true,
            cm: cm,
            clicksToEdit : 2,
             buttonAlign : 'center',
            height:170,
            width:800,
           
            bbar: new Ext.PagingToolbar({
            pageSize: 25,
            store: storeGrid,
            displayInfo: true,
            displayMsg: 'Displaying rows {0} - {1} of {2}',
            emptyMsg: "No rows to display"
                  })
     
   }]
    