items: [{
		
        border:false,
        layout:'form',
        labelWidth : 40,
        width : 160,
        items:[{  
         		xtype:'textfield',
		        fieldLabel: 'Inciso',
		        width : 100,
		 		name:'inciso'
        }]
       
 		},{
       
        border:false,
        layout:'form',
        width : 210,
        labelWidth : 90,
        items:[{  
         		xtype:'textfield',
		        fieldLabel: 'Inciso Externo',
		        width : 100,
		 		name:'incisoExterno'
        }]
       },{
        border:false,
        layout:'form',
        labelWidth : 100,
        width : 210,
        items:[{  
         		xtype:'textfield',
		        fieldLabel: 'Tipo de Situacion',
		        width : 100,
		 		name:'tipoSituacion'
		        
        }]
   	},{
        border:false,
        layout:'form',
        labelWidth : 1,
        width : 150,
        items:[{  
         		xtype:'textfield',
		        fieldLabel: ' ',
		        labelSeparator : ' ',
		        width:120,
		        disabled:true,
		        name:'descripcion'
		        
        }]
   	},{
      border:false,
        layout:'form',
        width : 100,
        items:[{  
	      	xtype: 'button',
	      	text:'Agregar',
	        id:'agregar',
	        handler: function() {
	        		windowAdd6.show();
	        		}
	      
        }]
     
   	
 }]