items:[{
		xtype: 'editorgrid',
		frame:true,
		id:'gridResultado',
            store: getResultado(),
           // title: '<span style="color:#98012e;font-size:11px;font-family:Arial,Helvetica,sans-serif;">Agentes</span>',
            stripeRows: true,
            cm: cm,
            clicksToEdit : 2,
             buttonAlign : 'center',
            height:120,
            width:800,
            plugins: summary,
			view: new Ext.grid.GroupingView({
            forceFit:true,
            showGroupName:false,
            enableNoGroups:false,
            groupTextTpl: '<span style="color:#98012e;font-size:11px;font-family:Arial,Helvetica,sans-serif;">Agentes</span>',
            hideGroupedColumn: false
        }),
        
         buttons:[
        		{
        		text:'Agregar',
        		id:'agregar',
        		 handler: function() {
           				windowAdd.show();
        		}
            	},{
            	text:'Eliminar',
            	id:'borrar'
            }],      
        	sm: new Ext.grid.RowSelectionModel({
			singleSelect: true,
			listeners: {                            
                        rowselect: function(sm, row, rec) {                                                                                                                                     
                                Ext.getCmp('borrar').on('click', function(){
                                	windowDel.show();
                                	Ext.getCmp('borrarForm').getForm().loadRecord(rec);
                                });
                              
                        }
                }
		
		}),
         
            bbar: new Ext.PagingToolbar({
            pageSize: 25,
            store: storeGrid,
            displayInfo: true,
            displayMsg: 'Displaying rows {0} - {1} of {2}',
            emptyMsg: "No rows to display"
                  })
     
   }]
    
    