 items:[{
 		xtype:'fieldset',
        id:'FieldDatos',
        style:'margin:5px',
        labelWidth: 100,
        bodyStyle:'padding:5px',
        title: 'Ejemplo', 
        height:130,  
        hideBorders : true,
        defaultType: 'textfield',
 		items: [{
				fieldLabel: 'Ejemplo1',
 				name:'ejemplo1'
 }]
 }]