items:[{
    xtype:"fieldset",
    title:"Legend",
    autoHeight:true,
    items:[{
           xtype:"textfield",
    	   fieldLabel:"Nombre Conjunto de Pantallas",
    	   name:"nombreConjunto"
           },{
      	   xtype:"textfield",
    	   fieldLabel:"Descripcion Breve",
    	   name:"descripcion"
           },{
           xtype:"textfield",
    	   fieldLabel:"Proceso",
    	   name:"proceso"
    	   },{
           xtype:"textfield",
    	   fieldLabel:"Cliente",
    	   name:"cliente"
    	    },{
    	 xtype:"textfield",
    	 name:'id',
    	 id:'id',
    	 type:'hidden',
    	 hidden:true,
    	labelSeparator:'' 
   
      }]
  
  }]