<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
	<statement type="stored" name="PKG_WIZARD.p_asociarinciso" id="pAsociarInciso">
		<param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.cdramo</param>
		<param eval="true" name="pv_nmsituac_i" type="NUMERIC">$!params.nmsituac</param>
		<param eval="true" name="pv_cdtipsit_i" type="VARCHAR">$!params.cdtipsit</param>
		<param eval="true" name="pv_swobliga_i" type="VARCHAR">$!params.swobliga</param>
		<param eval="true" name="pv_swinsert_i" type="VARCHAR">$!params.swinsert</param>
		<param eval="true" name="pv_cdagrupa_i" type="NUMERIC">0</param>
		<param eval="true" name="pv_dsriesgo_i" type="VARCHAR">$!params.dsriesgo</param>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>		
</statement>
</statements>