<statements>
	<statement type="stored" name="PKG_CONFIGURA_PANTALLA2.P_ACT_SWACTIVO" id="activarConjunto">
		<param eval="true" name="pv_cdelemen_i" type="NUMERIC"><![CDATA[$!params.get("CD_ELEMENTO")]]></param>
		<param eval="true" name="pv_cdproces_i" type="NUMERIC"><![CDATA[$!params.get("CD_PROCESO")]]></param>
		<param eval="true" name="pv_cdramo_i" type="NUMERIC"><![CDATA[$!params.get("CD_RAMO")]]></param>
		<param eval="true" name="pv_cdconjun_i" type="NUMERIC"><![CDATA[$!params.get("CD_CONJUNTO")]]></param>
		<param eval="true" name="pv_swactivo_i" type="VARCHAR"><![CDATA[$!params.get("SW_ACTIVO")]]></param>

		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>
	</statement>					
</statements>