<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
	<statement type="stored" name="PKG_CONFIGURA_PANTALLA2.P_OBTIENE_CONJUNTO" id="buscaConjunto">
		<param eval="true" name="pv_cdconjunto_i" type="VARCHAR"><![CDATA[$!params.get("CD_CONJUNTO")]]></param>
		<outparam id="po_registro" type="CURSOR"/>
		<outparam id="po_msg_id" type="NUMERIC"/>
		<outparam id="p_out_title" type="VARCHAR"/>
		
	</statement>
</statements>