<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
	<statement type="stored" name="PKG_CONFIGURA_PANTALLA2.P_OBTIENE_PANTALLA_FINAL" id="obtienePantallaFinal">
		<param eval="true" name="pv_cdelemento_i" type="VARCHAR"><![CDATA[$!params.get("CD_ELEMENT")]]></param>
  		<param eval="true" name="pv_cdramo_i"     type="VARCHAR"><![CDATA[$!params.get("CD_RAMO")]]></param>
  		<param eval="true" name="pv_cdtitulo_i"   type="VARCHAR"><![CDATA[$!params.get("CD_TITULO")]]></param>
  		<param eval="true" name="pv_cdtipsit_i"   type="VARCHAR"><![CDATA[$!params.get("CD_TIPSIT")]]></param>
  		<param eval="true" name="pv_cdsisrol_i"   type="VARCHAR"><![CDATA[$!params.get("CD_SISROL")]]></param>
		<outparam id="pv_registro_o" type="CURSOR"/>
		<outparam id="pv_msg_id_o"   type="NUMERIC"/>
		<outparam id="pv_title_o"    type="VARCHAR"/>
	</statement>
</statements>