<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 

#*

  PV_CDMASTER_I NUMBER;
  PV_CDPROCESO_I NUMBER;
  PV_CDTIPO_I NUMBER;
  PV_PRODUCTO_I NUMBER;
  PV_TIPO_BLOQUE NUMBER;
  
  PV_REGISTRO_O ICE.PKG_CONFIGURA_PANTALLA2.REF_CUR;
  PV_MSG_ID_O NUMBER;
  PV_TITLE_O VARCHAR2(30); 

*#

<statements>
  <statement type="stored" name="PKG_CONFIGURA_PANTALLA2.P_OBTIENE_GRAL" id="obtieneJsonGeneral">
     
     <param eval="true" name="PV_CDMASTER_I" type="NUMERIC"><![CDATA[$!params.cdMaster]]></param>
     <param eval="true" name="PV_CDPROCESO_I" type="NUMERIC"><![CDATA[$!params.cdProceso]]></param>
     <param eval="true" name="PV_CDTIPO_I" type="NUMERIC"><![CDATA[$!params.cdTipo]]></param>
     <param eval="true" name="PV_PRODUCTO_I" type="NUMERIC"><![CDATA[$!params.cdProducto]]></param>
     <param eval="true" name="PV_TIPO_BLOQUE" type="NUMERIC"><![CDATA[9]]></param>
     
     <outparam id="PV_REGISTRO_O" type="CURSOR"/>     
     <outparam id="PV_MSG_ID_O" type="NUMERIC"/>
     <outparam id="PV_TITLE_O" type="VARCHAR"/>
  </statement>
</statements>