<statements>
	<statement type="stored" name="PACK_NEWALEA_FOLIOS.Valida_Folio" id="pValidaFolio">
		<param eval="true" name="p_nmoperac" type="VARCHAR">$!params.get("p_nmoperac")</param>
		<param eval="true" name="p_cdunieco" type="NUMERIC">$!params.get("p_cdunieco")</param>
		<param eval="true" name="p_cdramo" type="NUMERIC">$!params.get("p_cdramo")</param>
		<param eval="true" name="p_cdtiproc" type="VARCHAR">$!params.get("p_cdtiproc")</param>
		<param eval="true" name="p_cdagente" type="VARCHAR">$!params.get("p_cdagente")</param>
		<param eval="true" name="p_nmpoliza" type="NUMERIC">$!params.get("p_nmpoliza")</param>
		<outparam id="po_CDERROR" type="VARCHAR"/>
		<outparam id="po_DSERROR" type="VARCHAR"/>
		<outparam id="po_TIPOERROR" type="VARCHAR"/>
	</statement>
</statements>
