<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CONFG_CUENTA.P_INSERTA_TROLUSUARIOCLIENTE" id="pInserta">
		
       <param eval="true" name="pv_cdusuario_i" type="VARCHAR">$!params.get("cdUsuario")</param>
       <param eval="true" name="pv_cdrol_i" type="VARCHAR">$!params.get("cdRol")</param>
       <param eval="true" name="pv_cdnivel_i" type="NUMERIC">$!params.get("cdNivel")</param>              
       <param eval="true" name="pv_cdestado_i" type="NUMERIC">$!params.get("cdEstado")</param>
 	  
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
