<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_AGRUPAPOL.P_GUARDA_GRUPOPER" id="insertarAgrupacionGrupoPersonasGp">
		
	   <param eval="true" name="pv_cve_grupo_i" type="NUMERIC">$!params.get("cdGrupo")</param>
       <param eval="true" name="pv_cdagrgrupo_i" type="NUMERIC">$!params.get("cdAgrGrupo")</param>
       <param eval="true" name="pv_nivel_agrupa_i" type="NUMERIC">$!params.get("cdAgrupa")</param>
       <param eval="true" name="pv_grupo_per_i" type="VARCHAR">$!params.get("cdGrupoPer")</param>
       <param eval="true" name="pv_CDPOLMTRA_i" type="NUMERIC">$!params.get("cdPolMtra")</param>       
       
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
