<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_AGRUPAPOL.P_OBTIENE_AGRUPACION" id="obtieneAgrupacionPolizas">
        <param eval="true" name="pv_cve_agrupa_i" type="NUMERIC">$!params.get("pv_cve_agrupa_i")</param>

        <outparam id="lcur_registros_o" type="CURSOR"></outparam>
		<outparam id="po_msg_id" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>