<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_AGRUPAPOL.P_GUARDA_AGRUPACION" id="guardarAgrupacion">
		
	   <param eval="true" name="pv_cdgrupo_i" type="NUMERIC">$!params.get("pv_cdgrupo_i")</param>
	   <param eval="true" name="pv_cliente_i" type="NUMERIC">$!params.get("pv_cliente_i")</param>
       <param eval="true" name="pv_cdelemento_i" type="NUMERIC">$!params.get("pv_cdelemento_i")</param>
       <param eval="true" name="pv_aseguradora_i" type="NUMERIC">$!params.get("pv_aseguradora_i")</param>
       <param eval="true" name="pv_tipo_ramo_i" type="VARCHAR">$!params.get("pv_tipo_ramo_i")</param>
	   <param eval="true" name="pv_producto_i" type="NUMERIC">$!params.get("pv_producto_i")</param>
       <param eval="true" name="pv_tipo_agrupa_i" type="NUMERIC">$!params.get("pv_tipo_agrupa_i")</param>
       <param eval="true" name="pv_cdestado_i" type="NUMERIC">$!params.get("pv_cdestado_i")</param>

  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
                            