<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_AGRUPAPOL.P_OBTIENE_PAPELES" id="buscarPapeles">
       <param eval="true" name="pv_cve_grupo_i" type="NUMERIC">$!params.get("codConfiguracion")</param>  	   
  	   <outparam id="lcur_registros_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>