<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_AGRUPAPOL.P_BORRA_AGRUPACION" id="borraAgrupacionPolizas">
        <param eval="true" name="pv_cve_agrupa_i" type="NUMERIC">$!params.get("pv_cve_agrupa_i")</param>
        

		<outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>        
	</statement>
</statements>
