<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_ALERTAS.P_OBTIENE_ALERTA_USUARIO_REG" id="getAlertasUsuario">
       <param eval="true" name="pv_cdidunico_i" type="NUMERIC">$!params.get("cdIdUnico")</param>  	   
       <param eval="true" name="pv_cdidconfalerta_i" type="NUMERIC">$!params.get("cdIdConfAlerta")</param>  	   

  	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>