<statements>
	<statement type="stored" name="PKG_AYUDA.P_ELIMINA_COBERTURA" id="borrarAyudaCoberturas">
        <param eval="true" name="pv_cdgtiaxcia_i" type="NUMERIC">$!params.get("cdGarantiaxCia")</param>
        <outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>