<statements>
	<statement type="stored" name="PKG_CONFPAGINA.P_OBTIENE_PAGINA_FINAL" id="carga-portal">
		<param eval="true" name="PV_CDROL_I" type="VARCHAR">$!params.get("rolCliente")</param>
		<param eval="true" name="PV_CDELEMENTO_I" type="NUMERIC">$!params.get("nombreCliente")</param>
		<outparam id="PV_REGISTRO_O" type="CURSOR"/>
		<outparam id="PV_MSG_ID_O" type="NUMERIC"/>
		<outparam id="PV_TITLE_O" type="VARCHAR"/>
	</statement>
</statements>