<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
    
    <statement type='stored' name="PKG_COTIZA.P_OBTIENE_MONTOS_CARRITO" id="pCalculaDescuentoCarritoCompras">
     
        <param eval="true" name="p_cdcarro" type="NUMERIC">$!params.get("cdCarro")</param>
        <param eval="true" name="p_cdusuari" type="VARCHAR">$!params.get("cdUsuari")</param>
        <param eval="true" name="p_cdclient" type="NUMERIC">$!params.get("cdClient")</param>
       
        <outparam eval="true" id="po_subtotal" type="NUMERIC"></outparam>
        <outparam eval="true" id="po_descto" type="NUMERIC"></outparam>
        <outparam eval="true" id="po_total" type="NUMERIC"></outparam>

        <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
        
    </statement>
                              
</statements>