<statements>
	<statement type="stored" name="PKG_LISTAS.P_TIPO_SITUACION" id="obtieneTiposSituacionProducto">
	
		<param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.get("pv_cdramo_i")</param>
		
		<outparam id="pv_registro_o" type="CURSOR"></outparam>
		
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>