<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
  
    <statement type='stored' name="PKG_CONFG_CUENTA.P_COPIA_DESTRUCT" id="pCopiaDestruct">
        
        <param eval="true" name="pi_cdestruc" type="NUMERIC">$!params.get("codigoEstructura")</param>
        <param eval="true" name="pi_cdelemento" type="VARCHAR">$!params.get("codigoElemento")</param>
        
        <outparam id="po_msg_id" type="NUMERIC"/>
        <outparam id="po_title" type="VARCHAR"/>
           
    </statement>
    
</statements>

