<statements>
	<statement type="stored" name="PKG_ORDENT.P_GUARDA_ATRIB_SECCION" id="insertarGuardarConfigAtributoFormatoOrdenTrabajo">
		
	   <param eval="true" name="pv_cdformatoorden_i" type="NUMERIC">$!params.get("pv_cdformatoorden_i")</param>
	   <param eval="true" name="pv_cdseccion_i" type="NUMERIC">$!params.get("pv_cdseccion_i")</param>
       <param eval="true" name="pv_cdatribu_i" type="NUMERIC">$!params.get("pv_cdatribu_i")</param>
       <param eval="true" name="pv_dsatribu_i" type="VARCHAR">$!params.get("pv_dsatribu_i")</param>
       <param eval="true" name="pv_cdbloque_i" type="VARCHAR">$!params.get("pv_cdbloque_i")</param>
	   <param eval="true" name="pv_cdcampo_i" type="VARCHAR">$!params.get("pv_cdcampo_i")</param>
       <param eval="true" name="pv_nmorden_i" type="NUMERIC">$!params.get("pv_nmorden_i")</param>
       <param eval="true" name="pv_ottabval_i" type="VARCHAR">$!params.get("pv_ottabval_i")</param>
       <param eval="true" name="pv_swformat_i" type="VARCHAR">$!params.get("pv_swformat_i")</param>
	   <param eval="true" name="pv_nmlmin_i" type="NUMERIC">$!params.get("pv_nmlmin_i")</param>
       <param eval="true" name="pv_nmlmax_i" type="NUMERIC">$!params.get("pv_nmlmax_i")</param>
       <param eval="true" name="pv_cdexpres_i" type="NUMERIC">$!params.get("pv_cdexpres_i")</param>
       
       
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
                            