<statements>
	<statement type="stored" name="PKG_RENOVA.P_VALIDA_RENOVA_ROL" id="pValidaRenovaRol">
		
       <param eval="true" name="pv_cdrenova_i" type="NUMERIC">$!params.get("pv_cdrenova_i")</param>	  		
  		
  	   <outparam id="pv_tiene_rol_conf_i" type="NUMERIC"></outparam>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
       <outparam id="pv_title_o" type="VARCHAR"></outparam>
	
	</statement>
</statements>