<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
       <statement type="stored" name="PKG_CATALOGO.P_BORRA_REGISTRO" id="borrarRegistro">
       <param eval="true" name="pv_cdcatalogo_i" type="VARCHAR">$!params.get("cdPantalla")</param>
       <param eval="true" name="pv_clave_i" type="VARCHAR">$!params.get("valorLlave")</param>

  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>

