<statements>
	<statement type="stored" name="PKG_LISTAS.P_CAMPO_BLOQUE" id="obtieneCampoBloquesConfFormatoAtributoOrdenTrabajo">

        <param eval="true" name="pv_ottipo_i" type="VARCHAR">$!params.get("otTipo")</param>
        <param eval="true" name="pv_cdbloque_i" type="VARCHAR">$!params.get("cdBloque")</param>
        
        <outparam id="pv_registro_o" type="CURSOR"></outparam>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>