<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
       <statement type="stored" name="PKG_CONFIGURA.P_OBTIENE_TFPRONEG" id="buscarProcesos">
       <param eval="true" name="pv_dsunieco_i" type="VARCHAR"><![CDATA[$!params.get("dsUniEco")]]></param>
       <param eval="true" name="pv_dsramo_i" type="VARCHAR"><![CDATA[$!params.get("dsRamo")]]></param>
       <param eval="true" name="pv_dsproceso_i" type="VARCHAR"><![CDATA[$!params.get("dsProceso")]]></param>
       <param eval="true" name="pv_dselemen_i" type="VARCHAR"><![CDATA[$!params.get("dsElemento")]]></param>

  	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>

