<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
    
    <statement type='stored' name="PKG_CONFG_CUENTA.P_OBTIENE_DESTRUCT_REG" id="pObtieneDestructReg">
    <!--
			 pv_cdelemento_i  IN  mdestruc.cdelemento%TYPE,
                                 pv_registro_o  OUT ref_cur,
                                 pv_msg_id_o    OUT gb_messages.msg_id%TYPE,
                                 pv_title_o     OUT gb_messages.title%TYPE
     -->
        
        <param eval="true" name="pv_cdelemento_i" type="NUMERIC">$!params.get("codigoElemento")</param>
      
       
        <outparam id="pv_registro_o" type="CURSOR"/>
        <outparam id="po_msg_id" type="NUMERIC"/>
        <outparam id="po_title" type="VARCHAR"/>
        
           
    </statement>
    
</statements>