<statements>
	<statement type="stored" name="PKG_ORDENT.P_BORRA_ATRIBUTO" id="borraConfigAtributoFormatoOrdenTrabajo">
        <param eval="true" name="pv_cdformatoorden_i" type="NUMERIC">$!params.get("pv_cdformatoorden_i")</param>
        <param eval="true" name="pv_cdseccion_i" type="NUMERIC">$!params.get("pv_cdseccion_i")</param>
        <param eval="true" name="pv_cdatribu_i" type="NUMERIC">$!params.get("pv_cdatribu_i")</param>
        

		<outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>        
	</statement>
</statements>
