<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
       <statement type="stored" name="PKG_RENOVA.P_ACCIONES_ROL" id="buscarConfigurarAccionesRenovacion">
       <param eval="true" name="pv_cdrenova_i" type="NUMERIC">$!params.get("cdRenova")</param>

  	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>

