<statements>
	<statement type="stored" name="PKG_RENOVA.P_BORRA_ACCION" id="borrarConfigurarAccionesRenovacion">
        <param eval="true" name="pv_cdrenova_i" type="NUMERIC">$!params.get("cdRenova")</param>
        <param eval="true" name="pv_id_titulo_i" type="NUMERIC">$!params.get("cdTitulo")</param>
        <param eval="true" name="pv_cdrol_i" type="VARCHAR">$!params.get("cdRol")</param>
        <param eval="true" name="pv_cdcampo_i" type="VARCHAR">$!params.get("cdCampo")</param>
        
        <outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>