<statements>
	<statement type="stored" name="PKG_ENDOSOS.P_OBTIENE_TTIPSUPL" id="pObtieneTTipSupl">
		
       <param eval="true" name="pv_cdtipsup_i" type="NUMERIC">$!params.get("pv_cdtipsup_i")</param>
       <param eval="true" name="pv_dstipsup_i" type="VARCHAR">$!params.get("pv_dstipsup_i")</param>

  	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>