<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
   
       <statement type='stored' name="PKG_CONFG_CUENTA.P_BORRA_DESTRUCT" id="pBorraDestruct">
    <!--
          pi_cdestruc   IN  MESTRUCT.CDESTRUC%TYPE,
          pi_cdelemento IN  MDESTRUC.CDELEMENTO%TYPE,
          po_msg_id     OUT gb_messages.msg_id%TYPE,
          po_title      OUT gb_messages.title%TYPE)
    -->
          
        <param eval="true" name="codigoEstructura" type="NUMERIC">$!params.get("codigoEstructura")</param>
        <param eval="true" name="codigoElemento" type="VARCHAR">$!params.get("codigoElemento")</param>
        
        <outparam id="po_msg_id" type="NUMERIC"/>
        <outparam id="po_title" type="VARCHAR"/>
           
    </statement>
    
</statements>