<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
	<statement type="select">
		SELECT 
			'PARAM_1' AS ID,
			'Item 1' AS TEXT,
			'$params' AS PERFIL
		FROM DUAL
			UNION
		SELECT 
			'PARAM_2' AS ID,
			'Item 2' AS TEXT,
			'$params' AS PERFIL
		FROM DUAL
			UNION
		SELECT 
			'PARAM_3' AS ID,
			'Item 3' AS TEXT,
			'$params' AS PERFIL
		FROM DUAL
			UNION
		SELECT 
			'PARAM_4' AS ID,
			'Item 4' AS TEXT,
			'$params' AS PERFIL
		FROM DUAL
			UNION
		SELECT 
			'PARAM_5' AS ID,
			'Item 5' AS TEXT,
			'$params' AS PERFIL
		FROM DUAL
	</statement>
</statements>