<statements>
	<statement type="stored" name="PKG_SATELITES.P_OBTIENE_TVALOGAR" id="pObtieneTValoGar">
		
		<param eval="true" name="pv_cdunieco_i" type="NUMERIC">$!params.get("pv_cdunieco_i")</param>
		<param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.get("pv_cdramo_i")</param>
		<param eval="true" name="pv_estado_i" type="NUMERIC">$!params.get("pv_estado_i")</param>
		<param eval="true" name="pv_nmpoliza_i" type="NUMERIC">$!params.get("pv_nmpoliza_i")</param>
		<param eval="true" name="pv_nmsituac_i" type="NUMERIC">$!params.get("pv_nmsituac_i")</param>
		<param eval="true" name="pv_cdgarant_i" type="NUMERIC">$!params.get("pv_cdgarant_i")</param>
		<param eval="true" name="pv_cdatribu_i" type="NUMERIC">$!params.get("pv_cdatribu_i")</param>
		<param eval="true" name="pv_status_i" type="NUMERIC">$!params.get("pv_status_i")</param>
		
		<outparam id="pv_registro_o" type="CURSOR"></outparam>
		
		<outparam id="pv_msg_id_o" type="INTEGER"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>