<statements>
	<statement type="stored" name="PKG_SATELITES.P_MOV_MPOLIOBJ" id="pMovMPoliObj">
		
        <param eval="true" name="pv_cdunieco_i" type="NUMERIC">$!params.get("pv_cdunieco_i")</param>
        <param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.get("pv_cdramo_i")</param>
        <param eval="true" name="pv_estado_i" type="VARCHAR">$!params.get("pv_estado_i")</param>
        <param eval="true" name="pv_nmpoliza_i" type="NUMERIC">$!params.get("pv_nmpoliza_i")</param>
        <param eval="true" name="pv_nmsituac_i" type="NUMERIC">$!params.get("pv_nmsituac_i")</param>
        <param eval="true" name="pv_cdtipobj_i" type="NUMERIC">$!params.get("pv_cdtipobj_i")</param>
        <param eval="true" name="pv_nmsuplem_i" type="NUMERIC">$!params.get("pv_nmsuplem_i")</param>
        <param eval="true" name="pv_status_i" type="NUMERIC">$!params.get("pv_status_i")</param>
        <param eval="true" name="pv_nmobjeto_i" type="NUMERIC">$!params.get("pv_nmobjeto_i")</param>  
        <param eval="true" name="pv_dsobjeto_i" type="NUMERIC">$!params.get("pv_dsobjeto_i")</param>
        <param eval="true" name="pv_ptobjeto_i" type="NUMERIC">$!params.get("pv_ptobjeto_i")</param>
        <param eval="true" name="pv_cdagrupa_i" type="NUMERIC">$!params.get("pv_cdagrupa_i")</param>
        <param eval="true" name="pv_accion_i" type="NUMERIC">$!params.get("pv_accion_i")</param>

        <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>