<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
    <statement type='stored' name="PKG_DSCTO.P_COPIA_DESCUENTO" id="copiarDescuento">
        <param eval="true" name="pv_cddscto_i" type="NUMERIC">$!params.get("cdDscto")</param>    
       	<outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>