<statements>
	<statement type="stored" name="PKG_DSCTO.P_GUARDA_VOLUMEN_DET" id="guardaVolDetalle">
        <param eval="true" name="P_CVE_DESCTO" type="NUMERIC">$!params.get("cddscto")</param>
        <param eval="true" name="P_CVE_DESCTOD" type="NUMERIC">$!params.get("cddsctod")</param>
        <param eval="true" name="P_PRIMA_INIC" type="NUMERIC">$!params.get("mnvolini")</param>
        <param eval="true" name="P_PRIMA_FINAL" type="NUMERIC">$!params.get("mnvolfin")</param>
        <param eval="true" name="P_PORC_DESCTO" type="NUMERIC">$!params.get("prdescto")</param>
        <param eval="true" name="P_MONTO_DESCTO" type="NUMERIC">$!params.get("mndescto")</param>
        <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"/>		
	</statement>
</statements>