<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
    <statement type="stored" name="PKG_CONFG_CUENTA.P_GUARDA_ESTRUCT" id="pGuardaEstruct">
        <param eval="true" name="pi_cdestruc" type="NUMERIC">$!params.get("codigo")</param>
        <param eval="true" name="pi_dsestruc" type="VARCHAR"><![CDATA[$!params.get("descripcion")]]></param>
        <param eval="true" name="pi_cdregion" type="VARCHAR"><![CDATA[$!params.get("codigoRegion")]]></param>
        <param eval="true" name="Pi_cdidioma" type="VARCHAR"><![CDATA[$!params.get("codigoIdioma")]]></param>
        <outparam id="po_msg_id" type="INTEGER"></outparam>
        <outparam id="po_title" type="VARCHAR"></outparam>
    </statement>
</statements>