<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
    
    <statement type='stored' name="PKG_LISTAS.P_PRODUCTOS" id="pObtenerProductosEjecutivosCuenta">
     
        <param eval="true" name="pv_cdelemento_i" type="NUMERIC">$!params.get("cdPerson")</param>
        <param eval="true" name="pv_cdtipram_i" type="NUMERIC">$!params.get("cdTipRam")</param>
        
        <outparam id="pv_registro_o" type="CURSOR"/>
        <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
        
    </statement>
    
</statements>