<statements>
	<statement type="stored" name="PKG_CONFG_CUENTA.P_OBTIENE_PLANCIA_REG" id="obtienePlanesXCliente">
        <param eval="true" name="pv_elemento_i" type="VARCHAR">$!params.get("codigoElemento")</param>
        <param eval="true" name="pv_producto_i" type="INTEGER">$!params.get("codigoProducto")</param>
        <param eval="true" name="pv_plan_i" type="VARCHAR">$!params.get("codigoPlan")</param>
        <param eval="true" name="pv_situacion_i" type="VARCHAR">$!params.get("codigoSituacion")</param>
        <param eval="true" name="pv_garantia_i" type="VARCHAR">$!params.get("garantia")</param>
        <param eval="true" name="pv_aseguradora_i" type="INTEGER">$!params.get("aseguradora")</param>

        <!--param eval="true" name="p_elemento" type="INTEGER">$!params.get("codigoElemento")</param-->
		<outparam id="po_msg_id" type="INTEGER"/>
        <outparam id="p_out_title" type="VARCHAR"></outparam>
        <outparam id="lcur_registros" type="CURSOR"></outparam>
	</statement>
</statements>