<statements>
	<statement type="stored" name="PKG_CONFG_CUENTA.P_GUARDA_PLANCIA" id="editaPlanesXCliente">
        <param eval="true" name="p_person" type="INTEGER">$!params.get("codigocliente")</param>
        <param eval="true" name="p_elemento" type="INTEGER">$!params.get("codigoelemento")</param>
        <param eval="true" name="p_producto" type="INTEGER">$!params.get("codigoproducto")</param>
        <param eval="true" name="p_plan" type="VARCHAR">$!params.get("codigoplan")</param>
        <param eval="true" name="p_situacion" type="VARCHAR">$!params.get("codigosituacion")</param>
        <param eval="true" name="p_garantia" type="VARCHAR">$!params.get("codigogarantia")</param>
        <param eval="true" name="p_oblig" type="INTEGER">$!params.get("codigoobligatorio")</param>
        <param eval="true" name="p_aseguradora" type="VARCHAR">$!params.get("codigoaseguradora")</param>
        <outparam id="p_out_title" type="VARCHAR"></outparam>
		<outparam id="po_msg_id" type="INTEGER"/>
	</statement>
</statements>