<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_TRADUC.P_OBTIENE_PROPIEDADES " id="buscarMecanismoDeTooltip">
		
       <param eval="true" name="pv_nbobjeto" type="VARCHAR"><![CDATA[$!params.get("nbObjeto")]]></param>
       <param eval="true" name="pv_lang_code" type="NUMERIC"><![CDATA[$!params.get("lang_Code")]]></param>
       <param eval="true" name="pv_dstitulo_i" type="VARCHAR"><![CDATA[$!params.get("dsTitulo")]]></param>

  	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
