<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_TRADUC.P_OBTIENE_GBMESSAGES" id="buscarMecanismoDeTooltip">
		
       <param eval="true" name="cdTitle" type="VARCHAR"><![CDATA[$!params.get("cdTitle")]]></param>
       <param eval="true" name="pv_lang_code" type="NUMERIC"><![CDATA[$!params.get("langCode")]]></param>

  	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
