<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
    <statement type="stored" name="PKG_CANCELA.P_GUARDA_METODO" id="pInsertaGuardaMetodoCancelacion">
        
        <param eval="true" name="pv_cdmetodo_i" type="VARCHAR">$!params.get("cdMetodo")</param>
        <param eval="true" name="pv_dsmetodo_i" type="VARCHAR"><![CDATA[$!params.get("dsMetodo")]]></param>
        <param eval="true" name="pv_cdexprespndp_i" type="VARCHAR">$!params.get("pv_cdexprespndp_i")</param>
        <param eval="true" name="pv_cdexprespndt_i" type="VARCHAR">$!params.get("pv_cdexprespndt_i")</param>
        
        
        <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
        <outparam id="po_title" type="VARCHAR"></outparam>
    </statement>
</statements>