<statements>
	<statement type="stored" name="PKG_CANCELA.P_OBTIENE_MOTIVO" id="getMotivosCancelacion">
       <param eval="true" name="pv_cdrazon_i" type="NUMERIC">$!params.get("cdRazon")</param>  	   
  	   <outparam id="pv_resultado_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
