<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<statements>
    
    <statement type='stored' name="PKG_LISTAS.P_CLIENTES" id="pObtienePersonas">
    
      <!--  <param eval="true" name="codigoCliente" type="NUMERIC">$!params.get("codigoCliente")</param> -->
              
        <outparam id="po_resulset" type="CURSOR"/>
        
        <outparam id="po_msg_id" type="NUMERIC"/>
        <outparam id="po_title" type="VARCHAR"/>
        
    </statement>
    
</statements>