<statements>
	<statement type="stored" name="PKG_LISTAS.P_PRODUCTOS" id="listaProductosTramoCliente">
        
        <param eval="true" name="pv_cdelemento_i" type="NUMERIC">$!params.get("cdElemento")</param>
        <param eval="true" name="pv_cdtipram_i" type="NUMERIC">$!params.get("cdTramo")</param>
        
		<outparam id="pv_registro_o" type="CURSOR"></outparam>
		<outparam id="pv_msg_id_o" type="INTEGER"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>