<statements>
	<statement type="stored" name="PKG_VAR_GLOBAL.P_VARIABLES_OBTIENE_ISO" id="global-variables-iso">
		<param eval="true" name="P_USUARIO" type="VARCHAR">$!params.get("user")</param>
		
		<outparam id="P_PAIS" type="VARCHAR"/>
		<outparam id="P_LANGUAGUE_ISO" type="VARCHAR"/>
		<outparam id="LANGCODE" type="VARCHAR"/>
		<outparam id="REGIONID" type="VARCHAR"/>
		<outparam id="P_DSFORMATONUMERICO" type="VARCHAR"/>
		<outparam id="P_DSFORMATOFECHA" type="VARCHAR"/>
		<outparam id="P_DSFORMATOFECHAC" type="VARCHAR"/>
	</statement>
</statements>

