<statements>
    <statement type='stored' name="PKG_TRADUC.P_OBTIENE_MENSAJE" id="obtieneMensaje">
        <param eval="true" name="pv_msg_id_i" type="NUMERIC">$!params.get("pv_msg_id_i")</param>
        <param eval="true" name="pv_log_i" type="NUMERIC">$!params.get("pv_log_i")</param>
        <param eval="true" name="pv_cdusuario_i" type="VARCHAR">$!params.get("pv_cdusuario_i")</param>
        <param eval="true" name="pv_dsprograma_i" type="VARCHAR">$!params.get("pv_dsprograma_i")</param>
       
        <outparam id="pv_msg_text_o" type="VARCHAR"/>
        <outparam id="pv_title_o" type="VARCHAR"/>

    </statement>
</statements>