<statements>
	<statement type="stored" name="PKG_LISTAS.P_CONCEPTO_X_PRODUCTO" id="conceptoProducto">
		   <param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.get("pv_cdramo_i")</param>
		   <outparam id="pv_registro_o" type="CURSOR"></outparam>
		   <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
		   <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>