<statements>
	<statement type="stored" name="PKG_CATBO.P_OBTIENE_EMAIL" id="obtiene-email">
		<param eval="true" name="pv_CDUSUARI_i" type="VARCHAR">$!params.get("CDUSUARIO")</param>
		<outparam id="pv_registro_o" type="CURSOR"/>
		<outparam id="pv_msg_id_o" type="NUMERIC"/>
		<outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>