<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_COTIZA.P_OBTIENE_HISTORDEN" id="buscarOrdenesDeCompras">
       <param eval="true" name="pv_nmorden_i" type="VARCHAR"><![CDATA[$!params.get("dsCarro")]]></param>  	   
       <param eval="true" name="pv_feregistro_de_i" type="VARCHAR">$!params.get("feInicioDe")</param>  	   
       <param eval="true" name="pv_feregistro_a_i" type="VARCHAR">$!params.get("feInicioA")</param>  	   


  	   <outparam id="pv_registro_o" type="CURSOR"/>
  	   <outparam id="pv_msg_id_o" type="NUMERIC"/>
       <outparam id="pv_title_o" type="VARCHAR"/>
	</statement>
</statements>
