<?xml version="1.0" encoding="UTF-8"?>
<statements>
    <statement type="stored" name="PKG_LISTAS.P_PERIODOS_GRACIA" id="pPeriodoGraciaClienteObtenerCombo">
        <outparam id="pv_registro_o" type="CURSOR"></outparam>
        <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
    </statement>
</statements>