<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
    <statement type="stored" name="PKG_CANCELA.P_PERIODO_GRACIA_CLIENTE" id="pPeriodoGraciaClienteObtener">
    	
    	
        <param eval="true" name="pv_cliente_i" type="VARCHAR"><![CDATA[$!params.get("pv_cliente_i")]]></param>
        <param eval="true" name="pv_producto_i" type="VARCHAR"><![CDATA[$!params.get("pv_producto_i")]]></param>
        <param eval="true" name="pv_aseguradora_i" type="VARCHAR"><![CDATA[$!params.get("pv_aseguradora_i")]]></param>
          
        <outparam id="pv_registro_o" type="CURSOR"></outparam>
        <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
    </statement>
</statements>