<?xml version="1.0" encoding="UTF-8"?>
<statements>
    <statement type="stored" name="PKG_CANCELA.P_GUARDA_PERIODO_GRACIA_CTE" id="pInsertaPeriodoGraciaCliente">
    	
        <param eval="true" name="pv_tramo_i" type="VARCHAR">$!params.get("pv_tramo_i")</param>
        <param eval="true" name="pv_cliente_i" type="NUMERIC">$!params.get("pv_cliente_i")</param>
        <param eval="true" name="pv_producto_i" type="NUMERIC">$!params.get("pv_producto_i")</param>
        <param eval="true" name="pv_elemento_i" type="NUMERIC">$!params.get("pv_elemento_i")</param>
        <param eval="true" name="pv_aseguradora_i" type="NUMERIC">$!params.get("pv_aseguradora_i")</param>
                                                 
        <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
    </statement>
</statements>