<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_PERSONA.P_GUARDA_DOMICILIO" id="guardaDomicilio">

        <param eval="true" name="pi_cdperson" type="NUMERIC">$!params.get("codigoPersona")</param>
        <param eval="true" name="pi_cdtipdom" type="VARCHAR">$!params.get("codigoTipoDom")</param>
        <param eval="true" name="pi_nmorddom" type="NUMERIC">$!params.get("ordenDom")</param>
        <param eval="true" name="pi_dsdomici" type="VARCHAR"><![CDATA[$!params.get("Calle")]]></param>
        <param eval="true" name="pi_cdpostal" type="VARCHAR">$!params.get("CodigoPostal")</param>
        <param eval="true" name="pi_nmnumero" type="VARCHAR">$!params.get("NumeroExterior")</param>
        <param eval="true" name="pi_nmnumint" type="VARCHAR">$!params.get("NumeroInterior")</param>
        <param eval="true" name="pi_cdpais" type="VARCHAR">$!params.get("Pais")</param>
        <param eval="true" name="pi_cdedo" type="NUMERIC">$!params.get("Estado")</param>
        <param eval="true" name="pi_cdmunici" type="NUMERIC">$!params.get("Municipio")</param>
        <param eval="true" name="pi_cdcoloni" type="NUMERIC">$!params.get("Colonia")</param>

        <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>