<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="pkg_sec_users.add_user" id="guardaCrearUsuarioClavePersona">
        <param eval="true" name="v_CDUSUARIO_i" type="VARCHAR"><![CDATA[$!params.get("cdUsuari")]]></param>
        <param eval="true" name="v_PASSWORD_i" type="VARCHAR"><![CDATA[$!params.get("contrasenha")]]></param>
        <param eval="true" name="v_FULLUSERNAME_i" type="VARCHAR"><![CDATA[$!params.get("dsUsuari")]]></param>
		<param eval="true" name="v_CDPERSON_i" type="NUMERIC"><![CDATA[$!params.get("cdPerson")]]></param>

        <outparam id="pv_msg_id_o" type="NUMERIC"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>

	</statement>
</statements>
