<statements>
	<statement type="stored" name="PKG_LISTAS.P_COLONIAS" id="pObtieneColonias">
        <param eval="true" name="pi_cdpais" type="VARCHAR">$!params.get("codigoPais")</param>
        <param eval="true" name="pi_cdedo" type="NUMERIC">$!params.get("codigoEstado")</param>
        <param eval="true" name="pi_cdmunici" type="NUMERIC">$!params.get("codigoMunicipio")</param>

		<outparam id="pv_registro_o" type="CURSOR"></outparam>
		<outparam id="pv_msg_id_o" type="INTEGER"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>
