<statements>
	<statement type="stored" name="PKG_LISTAS.P_LISTA_ASEGURADORA" id="pListaAseguradora">
        <param eval="true" name="pv_producto_i" type="VARCHAR">$!params.get("pv_producto_i")</param>

		<outparam id="pv_registro_o" type="CURSOR"></outparam>
		<outparam id="pv_msg_id_o" type="INTEGER"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>