<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
	<statement type="stored" name="PKG_CANCELA.P_REHABILITA_POLIZA" id="pRehabilitarPoliza">
        <param eval="true" name="pv_cdunieco_i" type="NUMERIC">$!params.get("cdUniEco")</param>
        <param eval="true" name="pv_cdramo_i" type="NUMERIC">$!params.get("cdRamo")</param>
        <param eval="true" name="pv_estado_i" type="VARCHAR">$!params.get("estado")</param>
        <param eval="true" name="pv_nmpoliza_i" type="NUMERIC">$!params.get("nmPoliza")</param>
        <param eval="true" name="pv_feefecto_i" type="VARCHAR">$!params.get("feEfecto")</param>

        <param eval="true" name="pv_fevencim_i" type="VARCHAR">$!params.get("feVencim")</param>
        <param eval="true" name="pv_fecancel_i" type="VARCHAR">$!params.get("feCancel")</param>
        <param eval="true" name="pv_fereinst_i" type="VARCHAR">$!params.get("feReInst")</param>
        <param eval="true" name="pv_cdrazon_i" type="NUMERIC">$!params.get("cdRazon")</param>
        <param eval="true" name="pv_cdperson_i" type="NUMERIC">$!params.get("cdPerson")</param>
        <param eval="true" name="pv_cdmoneda_i" type="VARCHAR">$!params.get("cdMoneda")</param>
        <param eval="true" name="pv_nmcancel_i" type="NUMERIC">$!params.get("nmCancel")</param>
        <param eval="true" name="pv_comments_i" type="VARCHAR"><![CDATA[$!params.get("comentarios")]]></param>
        <param eval="true" name="pv_nmsuplem_i" type="NUMERIC">$!params.get("nmSuplem")</param>


		<outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"></outparam>
	</statement>
</statements>