<statements>
	<statement type="stored" name="PKG_RENOVA.P_BORRA_ROL" id="pEliminaRolRenovacion">
		
        <param eval="true" name="pv_cdrenova_i" type="NUMERIC">$!params.get("pv_cdrenova_i")</param>
        <param eval="true" name="pv_cdrol_i" type="VARCHAR">$!params.get("pv_cdrol_i")</param>
        
        <outparam id="pv_msg_id_o" type="INTEGER"></outparam>
        <outparam id="pv_title_o" type="VARCHAR"></outparam> 
	</statement>
</statements>