<?xml version="1.0" encoding="iso-8859-1"?>
<statements>
    <statement type="stored" name="PKG_AON_CHECKLIST.P_VALIDA_BORRA_TAREA" id="validaTarea">
        <param eval="true" name="pv_cdseccion_i" type="NUMERIC">$!params.get("seccion")</param>
        <param eval="true" name="pv_cdtarea_i" type="NUMERIC">$!params.get("tarea")</param>
        <outparam id="pv_existe_tarea" type="NUMERIC"/>        
        <outparam id="pv_msg_id_o" type="NUMERIC"/>
        <outparam id="pv_title_o" type="VARCHAR"/> 
    </statement>
</statements>


